<style>

    .enTiempo {
        color: green;
    }
    .atrasado {
        color: #ffd700;
    }

</style>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td><b>Nombre Cuenta</b></td>
            <td><b>Tipo</b></td>
            <td><b>Subtipo</b></td>
            <td><b>Nombre Solicitud</b></td>
            <td><b>Etapa</b></td>
            <td><b>Estatus Producto</b></td>
            <td><b>Semáforo</b></td>
            <td><b>Acciones</b></td>
        </tr>
    </thead>
    <tbody>
        {{#each dataAccSolicitudesActivo}}
        <tr>
            <td><a href="#Accounts/{{idCuenta}}" target="_blank">{{nombreCuenta}}</a></td>
            <td>{{#if tipoCuenta}}{{getUnifinListValue 'tipo_registro_cuenta_list' tipoCuenta}}{{/if}}</td>
            <td>{{#if subtipoCuenta}}{{getUnifinListValue 'subtipo_registro_cuenta_list' subtipoCuenta}}{{/if}}</td>
            <td><a href="#Opportunities/{{idOpp}}" id="idOpp" target="_blank">{{oppNombre}}</a></td>
            <td>{{#if oppEtapa}}{{oppEtapa}}{{/if}}</td>
            <td>{{#if EstatusProducto}}{{getUnifinListValue 'status_management_list' EstatusProducto}}{{/if}}</td>
            <td>{{#if semaforo}}<b class="enTiempo">En tiempo</b>{{else}}<b class="atrasado">Atrasado</b>{{/if}}</td>
            <td>
                <button class="btn btn btnNoViableActivo" id="btnNoViableActivo" type="submit" title="{{idCuenta}}">Establecer No viable</button>
                <a href="#Opportunities/{{idOpp}}" style="margin-top: 3px;" id="btnProspIntExpActivo" target="_blank" class="btn" rel="tooltip">Convertir a prospecto integración de expediente</a>
                <button class="btn btn btnAplazarPIActivo" style="margin-top: 3px;" id="btnAplazarPIActivo" type="submit" title="{{idCuenta}}">Aplazar</button>
            </td>  
        </tr>
        {{/each}}
    </tbody>
</table>