<style>

    .enTiempo {
        color: green;
    }
    .atrasado {
        color: #ffd700;
    }

</style>

<table class="table table-bordered table-striped span12" style="overflow-x: scroll;">
    <thead>
        <tr>
            <td><b>Cuenta</b></td>
            <td><b>Grupo Empresarial</b></td>
            <td><b>Monto</b></td>
            <td><b>Fecha asignación</b></td>
            <td><b>Etapa</b></td>
            <td><b>Semáforo</b></td>
            <td><b>Acciones</b></td>
        </tr>
    </thead>
    <tbody>
        {{#each dataAccSolicitudesActivo}}
        <tr>
            <td><a href="#Accounts/{{idCuenta}}" target="_blank">{{nombreCuenta}}</a></td>
            <td><a href="#Accounts/{{idEmpresarial}}" target="_blank">{{gpoEmpresarial}}</a></td>
            <td>{{#if monto}}{{monto}}{{/if}}</td>
            <td>{{#if fechaAsignacion}}{{fechaAsignacion}}{{/if}}</td>
            <td>{{#if oppEtapa}}{{oppEtapa}}{{/if}}</td>            
            <td>{{#if semaforo}}<b class="enTiempo">En tiempo</b>{{else}}<b class="atrasado">Atrasado</b>{{/if}}</td>
            <td>
                <button class="btn btn btnNoViableActivo" id="btnNoViableActivo" type="submit" title="{{idCuenta}}">Establecer No viable</button>
                <a href="#Opportunities/{{idOpp}}" style="margin-top: 3px;" id="btnProspIntExpActivo" target="_blank" class="btn" rel="tooltip">Convertir a prospecto integración de expediente</a>
                <button class="btn btn btnAplazarPIActivo" style="margin-top: 3px;" id="btnAplazarPIActivo" type="submit" title="{{idCuenta}}">Aplazar</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
