{{!--
/*
 * Creado por: Salvador Lopez salvador.lopez@tactos.com.mx
 */
--}}
<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>Tipo</th>
        <th>Tipo de direcci&oacute;n</th>
        <th>Calle</th>
        <th>Num Exterior</th>
        <th>Num Interior</th>
    </tr>
    {{#each value}}
        <tr>
            <td>{{tipo_label}}</td>
            <td>{{indicador_label}}</td>
            <td> {{calle}}</td>
            <td>{{numext}}</td>
            <td>{{numint}}</td>
        </tr>
    {{/each}}
</table>