{{!--
/*
 * Creado por: Salvador Lopez salvador.lopez@tactos.com.mx
 */
--}}
<div class="direcciones_list">
    <!-- Existentes -->
    {{#each direcciones}}
        <div class="control-group direccion">
            <table class="dashlet direcciondashlet" style="width: 100%;" cellspacing="1" cellpadding="5">
                <tr>
                    <td valign="top">
                        <div class="record-label">
                            Tipo
                        </div>

                        <select class="existingTipodedireccion" data-field="tipodedireccion" placeholder="tipo" style="font-size: 15px;font-weight: 500;">
                            {{#each tipo_direccion_list_hide}}
                                <option value="{{@key}}" {{ifSelected @key ../tipo_seleccionado_hide}}>{{this}}</option>
                            {{/each}}
                        </select>

                        <select class="select2 multi_tipo_existing" style="width: 100%" multiple="multiple" size="3">
                            {{#each tipo_direccion_list}}
                                <option value="{{@key}}">{{this}}</option>
                                <!-- <option value="{{@key}}" {{ifMSelected @key ../tipos_seleccionados}}>{{this}}</option> -->
                            {{/each}}
                        </select>
                        <input type="hidden" class="multi_tipo_existing_hidden" data-field="multi_tipo_existing_hidden" value="{{tipos_seleccionados}}">
                    </td>
                    <td valign="top">
                        <div class="record-label">
                            Tipo de direcci&oacute;n
                        </div>

                        <select class="existingIndicador" data-field="indicador" placeholder="indicador" style="font-size: 15px;font-weight: 500;">
                            {{#each indicador_list_hide}}
                                <option value="{{@key}}" {{ifSelected @key ../indicador_seleccionado_hide}}>{{this}}</option>
                            {{/each}}
                        </select>

                        <select class="select2 multi1_n_existing" style="width: 100%" multiple="multiple" size="3">
                            {{#each indicador_list}}
                                <option value="{{@key}}">{{this}}</option>
                            {{/each}}
                        </select>
                        <input type="hidden" class="multi1_n_existing_hidden" data-field="multi1_n_existing_hidden" value="{{indicadores_seleccionados}}">
                    </td>
                    <td valign="top">
                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <div class="record-label" >
                            Código Postal
                        </div>

                        <input type="text" class="postalInputTempExisting" value="{{codigo_postal}}">
                        <input type="hidden" class="postalHiddenExisting" data-field="postalHiddenExisting" value="{{postal_hidden}}">
                    </td>
                    <td valign="top">
                        <div class="record-label" >
                            País
                        </div>
                        <select class="paisExisting" data-field="paisExisting" placeholder="" style="font-size: 15px;font-weight: 500;">
                            {{#each lista_paises_existing}}
                                <!--<option value="{{@key}}">{{this}}</option>-->
                                <option value="{{@key}}" {{ifSelected @key ../pais_seleccionado}}>{{this}}</option>
                            {{/each}}
                        </select>
                        <i class="fa fa-spinner fa-spin loadingIconPaisExisting" style="display: none"></i>
                    </td>
                    <td valign="top">
                        <div class="record-label" >
                            Estado
                        </div>
                        <select class="estadoExisting" data-field="estadoExisting" placeholder="" style="font-size: 15px;font-weight: 500;">
                            {{#each lista_estados_existing}}
                                <!--<option value="{{@key}}">{{this}}</option>-->
                                <option value="{{@key}}" {{ifSelected @key ../estado_seleccionado}}>{{this}}</option>
                            {{/each}}
                        </select>
                        <i class="fa fa-spinner fa-spin loadingIconEstadoExisting" style="display: none"></i>
                    </td>
                </tr>

                <tr>
                    <td valign="top">
                        <div class="record-label" >
                            Municipio
                        </div>
                        <select class="municipioExisting" data-field="municipioExisting" placeholder="" style="font-size: 15px;font-weight: 500;">
                            {{#each lista_municipios_existing}}
                                <option value="{{@key}}" {{ifSelected @key ../municipio_seleccionado}}>{{this}}</option>
                            {{/each}}
                        </select>
                        <i class="fa fa-spinner fa-spin loadingIconMunicipioExisting" style="display: none"></i>
                    </td>
                    <td valign="top">
                        <div class="record-label" >
                            Ciudad
                        </div>
                        <select class="ciudadExisting" data-field="ciudadExisting" placeholder="" style="font-size: 15px;font-weight: 500;">
                            {{#each lista_ciudades_existing}}
                                <!--<option value="{{@key}}">{{this}}</option>-->
                                <option value="{{@key}}" {{ifSelected @key ../ciudad_seleccionada}}>{{this}}</option>
                            {{/each}}
                        </select>
                        <i class="fa fa-spinner fa-spin loadingIconCiudadExisting" style="display: none"></i>
                    </td>
                    <td valign="top">
                        <div class="record-label" >
                            Colonia
                        </div>
                        <select class="coloniaExisting" data-field="coloniaExisting" placeholder="" style="font-size: 15px;font-weight: 500;">
                            {{#each lista_colonias_existing}}
                                <option value="{{@key}}" {{ifSelected @key ../colonia_seleccionada}}>{{this}}</option>
                            {{/each}}
                        </select>
                        <i class="fa fa-spinner fa-spin loadingIconColoniaExisting" style="display: none"></i>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" valign="top">
                        <div class="record-label" >
                            Calle
                        </div>
                        <input type="text" class="calleExisting" placeholder="Calle" value="{{calle}}" data-field="calle" style="width: 95%;margin: 0px;"/>
                    </td>
                    <td valign="top">
                        <div class="record-label" >
                            Número Exterior y Número Interior
                        </div>
                        <input type="text" class="numExtExisting" placeholder="numExt" value="{{numext}}" data-field="numext" style="width: 25%;margin: 0px;">
                        <input type="text" class="numIntExisting" placeholder="numInt" value="{{numint}}" data-field="numint" style="width: 25%;margin: 0px;">

                        <div class="btn-toolbar prevent-mousedown">
                            <div class="btn-group" data-toggle="buttons-checkbox">
                                <button type="button" class="{{#if principal}}active {{/if}}is_primary btn btn-edit" data-direccionproperty="principal" rel="tooltip">
                                    <i class="fa fa-star"></i></button>
                            </div>
                            <div class="btn-group" data-toggle="buttons-checkbox">
                                <button type="button" class="{{#if inactivo}}active {{/if}}is_primary btn btn-edit" data-direccionproperty="inactivo" rel="tooltip" title="inactivo">
                                    <i class="fa fa-power-off"></i></button>
                            </div>
                        </div>
                    </td>
                    <td valign="top">
                    </td>
                </tr>
            </table>
        </div>

    {{/each}}
</div>
<!-- Fin direcciones existentes -->

<h4>Nueva Dirección</h4>
<div class="control-group direccion">
    <table class="dashlet direcciondashlet" style="border: solid lightblue; width: 100%;" cellspacing="1" cellpadding="5">
        <tr>
            <td valign="top">
                <div class="record-label">
                    Tipo
                </div>

                <select class="newTipodedireccion" data-field="tipodedireccion" placeholder="tipo" style="font-size: 15px;font-weight: 500;width: 90%;margin: 0px;">
                    {{#each def.dir_tipo_list_html}}
                        <option value="{{@key}}">{{this}}</option>
                    {{/each}}
                </select>

                <select id="tipo_multiselect_id" class="select2 multi_tipo" style="width: 100%" multiple="multiple" size="3">
                    {{#each tipo_direccion_list}}
                        <option value="{{@key}}">{{this}}</option>
                    {{/each}}
                </select>
            </td>
            <td valign="top">
                <div class="record-label">
                    Tipo de direcci&oacute;n
                </div>

                <select class="newIndicador" data-field="indicador" placeholder="indicador" style="font-size: 15px;font-weight: 500;">
                    {{#each def.indicador_html}}
                        <option value="{{@key}}">{{this}}</option>
                    {{/each}}
                </select>

                <select id="indicador_multiselect_id" class="select2 multi1_n" style="width: 100%" multiple="multiple" size="3">
                    {{#each indicador_list}}
                        <option value="{{@key}}">{{this}}</option>
                    {{/each}}
                </select>
            </td>
            <td valign="top">
            </td>
        </tr>

        <tr>
            <td valign="top">
                <div class="record-label" >
                    Código Postal
                </div>

                <input type="text" id="newPostalInputTemp" class="newPostalInputTemp">
                <input type="hidden" id="newPostalHidden" data-field="postalHidden">
            </td>
            <td valign="top">
                <div class="record-label" >
                    País
                </div>
                <select class="newPais" data-field="pais" placeholder="" style="font-size: 15px;font-weight: 500;">
                </select>
                <i class="fa fa-spinner fa-spin loadingIcon" style="display: none"></i>
            </td>
            <td valign="top">
                <div class="record-label" >
                    Estado
                </div>
                <select class="newEstado" data-field="estado" placeholder="" style="font-size: 15px;font-weight: 500;">
                </select>
                <i class="fa fa-spinner fa-spin loadingIconEstado" style="display: none"></i>
            </td>
        </tr>

        <tr>
            <td valign="top">
                <div class="record-label" >
                    Municipio
                </div>
                <select class="newMunicipio" data-field="municipio" placeholder="" style="font-size: 15px;font-weight: 500;">
                </select>
                <i class="fa fa-spinner fa-spin loadingIconMunicipio" style="display: none"></i>
            </td>
            <td valign="top">
                <div class="record-label" >
                    Ciudad
                </div>
                <select class="newCiudad" data-field="ciudad" placeholder="" style="font-size: 15px;font-weight: 500;">
                </select>
                <i class="fa fa-spinner fa-spin loadingIconCiudad" style="display: none"></i>
            </td>
            <td valign="top">
                <div class="record-label" >
                    Colonia
                </div>
                <select class="newColonia" data-field="colonia" placeholder="" style="font-size: 15px;font-weight: 500;">
                </select>
                <i class="fa fa-spinner fa-spin loadingIconColonia" style="display: none"></i>
            </td>
        </tr>

        <tr>
            <td valign="top">
                <div class="record-label" >
                    Calle
                </div>
                <input type="text" class="newCalle" placeholder="Calle" value="{{calle}}" data-field="calle" style="width: 95%;margin: 0px;"/>
            </td>
            <td valign="top">
                <div class="record-label" >
                    Número Exterior y Número Interior
                </div>
                <input type="text" class="newNumExt" placeholder="numExt" value="{{numext}}" data-field="numext" style="width: 33%;margin: 0px;">
                <input type="text" class="newNumInt" placeholder="numInt" value="{{numint}}" data-field="numint" style="width: 33%;margin: 0px;">
            </td>
            <td>
                <div class="btn-toolbar prevent-mousedown">
                    <div class="btn-group">
                        <a href="javascript:void(0)" class="btn addDireccion" rel="tooltip" title="Add Direccion"><i class="fa fa-check"></i></a>
                    </div>
                </div>
            </td>
        </tr>

    </table>
</div>
