{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="modal rounded-md" data-content="report-copy-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-transparent p-0">
                <button type="button" class="close" data-bs-dismiss="modal">
                    <i class="sicon sicon-close p-1 mr-2"></i>
                </button>
                <h4 class="modal-title font-semibold text-base text-[--text-color] ml-4">{{str "LBL_COPY_AS" module}}</h4>
            </div>
            {{#if this._isReady}}
                <div class="modal-body p-0">
                 <div class="detail-content">
                    <div class="row-fluid report-active-hover flex hover:cursor-pointer hover:bg-[--tab-background-hover-color]" data-type="tabular">
                        <div class="span2">
                            <span class="sicon sicon-rows-and-columns-xxl report-copy-modal-icon h-full mr-5 text-center text-7xl"></span>
                        </div>
                        <div class="span10 report-copy-modal-text">
                                <p class="font-semibold text-base">{{str "LBL_ROWS_AND_COLUMNS_REPORT" module}}
                                    {{#eq _currentRecordType "tabular"}}
                                        <h7 class="report-copy-modal-current-record">{{str "LBL_CURRENT_REPORT_TYPE" module}}</h7>
                                    {{/eq}}
                                </p>
                                <p>{{str "LBL_ROWS_AND_COLUMNS_REPORT_DESC" module}}</p>
                        </div>
                    </div>
                    <div class="row-fluid report-active-hover flex hover:cursor-pointer hover:bg-[--tab-background-hover-color]" data-type="summation">
                        <div class="span2">
                            <span class="sicon sicon-summation-xxl report-copy-modal-icon h-full mr-5 text-center text-7xl"></span>
                        </div>
                        <div class="span10 report-copy-modal-text">
                                <p class="font-semibold text-base">{{str "LBL_SUMMATION_REPORT" module}}
                                    {{#eq _currentRecordType "summary"}}
                                        <h7 class="report-copy-modal-current-record">{{str "LBL_CURRENT_REPORT_TYPE" module}}</h7>
                                    {{/eq}}
                                </p>
                                <p>{{str "LBL_SUMMATION_REPORT_DESC" module}}</p>
                        </div>
                    </div>
                    <div class="row-fluid report-active-hover flex hover:cursor-pointer hover:bg-[--tab-background-hover-color]" data-type="summation_with_details">
                        <div class="span2">
                            <span class="sicon sicon-summation-details-xxl report-copy-modal-icon h-full mr-5 text-center text-7xl"></span>
                        </div>
                        <div class="span10 report-copy-modal-text">
                                <p class="font-semibold text-base">{{str "LBL_SUMMATION_REPORT_WITH_DETAILS" module}}
                                    {{#eq _currentRecordType "detailed_summary"}}
                                        <h7 class="report-copy-modal-current-record">{{str "LBL_CURRENT_REPORT_TYPE" module}}</h7>
                                    {{/eq}}
                                </p>
                                <p>{{str "LBL_SUMMATION_REPORT_WITH_DETAILS_DESC" module}}</p>
                        </div>
                    </div>
                    <div class="row-fluid report-active-hover flex hover:cursor-pointer hover:bg-[--tab-background-hover-color]" data-type="matrix">
                        <div class="span2">
                            <span class="sicon sicon-matrix-xxl report-copy-modal-icon h-full mr-5 text-center text-7xl"></span>
                        </div>
                        <div class="span10 report-copy-modal-text">
                                <p class="font-semibold text-base">{{str "LBL_MATRIX_REPORT" module}}
                                    {{#eq _currentRecordType "Matrix"}}
                                        <h7 class="report-copy-modal-current-record">{{str "LBL_CURRENT_REPORT_TYPE" module}}</h7>
                                    {{/eq}}
                                </p>
                                <p>{{str "LBL_MATRIX_REPORT_DESC" module}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {{else}}
                <div class="modal-body report-modal-height p-0">
                    <div class="report-loading-screen-overlay" data-widget="report-loading" data-type="copy-modal">
                    <i class="sicon sicon-refresh sicon-is-spinning report-loading-icon"></i>
                    <h4 class="report-loading-label">{{str "LBL_LOADING"}}</h4>
                </div>
            {{/if}}
            </div>
        </div>
    </div>
</div>
