{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<tr class="flex-list-row-header">
    {{#each view.leftColumns}}
        <th class="left-0 sticky stick-left z-20" {{#if name}} data-fieldname="{{name}}"{{/if}}>
            {{field ../view template="list-header"}}
        </th>
    {{/each}}
    {{#each view._fields.visible}}
        <th data-tablekey="{{table_key}}" class="reports-row-header-padding {{#if module}}{{#isSortable ../module ../this}}{{#if ../../../view._isDetail}}sorting{{/if}}{{#eq ../../../view.orderBy.field ../name}}_{{../../../../view.orderBy.direction}}{{/eq}} orderBy{{../name}} {{/isSortable}}{{/if}}{{#if widthClass}} {{widthClass}}{{/if}}
            {{#if ../view.isFirstColumnFreezed}}{{#if @first}} sticky{{#eq ../../../view.leftColumns.length 0}} left-0{{else}}stick-first{{/eq}}{{/if}}{{/if}} z-10"
            {{#if styles}} style="{{styles}}"{{/if}}
            {{#if name}} data-fieldname="{{name}}" data-realname="{{rname}}" data-columnfct="{{column_function}}"data-groupfct="{{group_function}}"{{/if}} data-orderby="{{orderBy}}">

            <div class="sortable-row-header-container p-2">
                <span class="sortable-row-header-column-name {{#if ../isReportComplex}}cursor-pointer hover:underline{{/if}}">
                    {{#if icon}}
                         <i class="{{buildIcon icon.type}}" rel="tooltip"  title="{{str icon.tooltip ../../view.module}} "></i>
                    {{/if}}

                    {{#if custom_module}}
                        {{str vname custom_module}}
                    {{else}}
                        {{str vname module}}
                    {{/if}}
                </span>

                {{#if ../view._isDetail}}
                    <span class="sortable-row-header-arrows data-table-top">
                        <i class="sicon sicon-arrow-up"></i>
                        <i class="sicon sicon-arrow-down"></i>
                    </span>
                {{/if}}
            </div>
        </th>
    {{/each}}
    {{#each view.rightColumns}}
        {{#if isColumnDropdown}}
            <th class="nosort morecol right-0 sticky stick-right z-20">
                <div class="dropdown">
                    <button class="btn btn-invisible dropdown-toggle relative" data-bs-toggle="dropdown"
                        data-action="fields-toggle" aria-expanded="false"
                        track="click:morecol" aria-label="{{str 'LBL_COLUMNS'}}" aria-haspopup="true"
                        role="button" data-bs-display="static"
                    >
                        <i class="sicon sicon-kebab"></i>
                        {{tooltipTemplate (str 'LBL_COLUMNS') 'bottom'}}
                    </button>
                    <ul class="dropdown-menu border-0 dark:border border-[--dropdown-border-widget] rounded-md shadow-xl left" role="menu">
                        {{#if ../../view.allowFreezeFirstColumn}}
                            <li role="menuitem" class="menuitem-config">
                                <span>{{str 'LBL_LISTVIEW_FREEZE_COLUMN_1'}} <input type="checkbox" {{#if ../../../view.isFirstColumnFreezed}} checked{{/if}} data-action="freeze-first-column"></span>
                            </li>
                            <li class="divider" data-settings-li="widths" aria-hidden="true"></li>
                        {{/if}}
                        {{#each ../../view._fields.all}}
                            <li role="menuitem">
                                <button class="{{#if selected}}active{{/if}}" data-field-toggle="{{name}}" track="click:{{name}}">
                                    {{#if selected}}<i class="sicon sicon-check"></i> {{/if}}{{str label ../../view.module}}
                                </button>
                            </li>
                        {{/each}}
                        <li class="divider" data-settings-li="order" aria-hidden="true"></li>
                        <li data-settings-li="order" role="menuitem">
                            <button data-columns-order="reset">
                                <i class="icon sicon sicon-reset"></i> {{str 'LBL_RESET_DEFAULT_VIEW' ../view.module}}
                            </button>
                        </li>
                        <li class="divider" data-settings-li="widths" aria-hidden="true"></li>
                        <li data-settings-li="widths" role="menuitem">
                            <button data-widths="reset">
                                <i class="icon sicon sicon-reset"></i> {{str 'LBL_RESET_DEFAULT_WIDTHS' ../view.module}}
                            </button>
                        </li>
                    </ul>
                </div>
            </th>
        {{else}}
            <th{{#if name}} data-fieldname="{{name}}"{{/if}}>
                <span>
                    {{field view template="list-header"}}
                </span>
            </th>
        {{/if}}
    {{/each}}
</tr>
<tr>
    <th data-target="alert-container" class="alert alert-warning hide" {{#if ../colSpan}} colspan="{{../../colSpan}}" {{else}} colspan="100%"{{/if}}>
        <div class="alert-list-contents flex hover:bg-[--tab-background-hover-color] items-center justify-center left-0 mt-0 p-2.5 sticky top-0 w-screen" data-target="alert">
        </div>
    </th>
</tr>
