{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="progress"
     rel="tooltip"
     data-bs-placement="top"
     title="{{str "LBL_MOMENTUM_RATIO" "DRI_Workflows"}}: {{value}}% ({{model.attributes.momentum_score}}/{{model.attributes.momentum_points}} {{str "LBL_WIDGET_POINTS" "DRI_Workflows"}})">
    <div class="bar {{#if barColor}}{{barColor}}{{/if}}" style="width: {{value}}%;"></div>
</div>
