{{#if this.loadView}}
    <style>
        .container {
            overflow-y:auto;
            display:block;
            width: 100%;
        }

        .cuentas {
            display:table;
            width: 90%;
        }

        .cuentasContainer {
            margin-top: 2%;
            overflow-y:auto;
        }

        #containerHeader {
            font-size: 18px;
            margin-top: 2%;
            margin-left: 1%;
            line-height: 10px;
        }

        #successful {
            margin-top: 10%;
            font-size: 25px;
            color: #33800d;
        }

		.modal {
			position: fixed; /* Stay in place */
			padding-top: 100px; /* Location of the box */
			padding-bottom: 100px;
			top: 0;
			left:0;
			/* width: 100%; /* Full width */
			/*height: 100%; /* Full height */
			overflow: auto; /* Enable scroll if needed */
			background-color: rgb(0,0,0); /* Fallback color */
			background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
		}

		/* Modal Content */
		.modal-content {
			position: relative;
			background-color: #fefefe;
			margin: auto;
			padding: 1;
			border: 1px solid #888;
			width: 98%;
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
			-webkit-animation-name: animatetop;
			-webkit-animation-duration: 0.4s;
			animation-name: animatetop;
			animation-duration: 0.4s
		}

		/* Add Animation */
		@-webkit-keyframes animatetop {
			from {top:-300px; opacity:0}
			to {top:0; opacity:1}
		}

		@keyframes animatetop {
			from {top:-300px; opacity:0}
			to {top:0; opacity:1}
		}

		/* The Close Button */
		.close {
			color: white;
			float: right;
			font-size: 28px;
			font-weight: bold;
		}

		.close:hover,
		.close:focus {
			color: #000;
			text-decoration: none;
			cursor: pointer;
		}

		.modal-header {
			padding: .5px 0px;
			background-color: #21618C;
			color: white;
		}

		.modal-body {
			padding: .5px 0px;
			font-size: 12px;
			text-align: center;
		}

		.modal-footer {
			padding: 2px 16px;
			background-color: #21618C;
			color: #ffffff;
			font-size: 12px;
			text-align: center;
		}

		.pointer {cursor: pointer;}
    </style>

    <div class="container" >
        <h1 id="containerHeader" align="left" style="color:#22608c"><b> Cuentas No Contactar</b></h1>
		<br>
        <div class="row-fluid">
            <div style="color: #e2efe2;background-color:#22608c;border-color:#22608c;border-radius: 10px;margin-left:15px;margin-right:15px;height: 35px;display: table;width: 97%;">
                <h1>
                    <p style="vertical-align: middle;  margin: 5px;">
                       Buscar por filtros
                    </p>
                </h1>
            </div>
        </div>
        <div class="record row-fluid panel_body">
            <div class="span3 record-cell">
                <div class="record-label">Asesor</div>
                <span>
                    <span>
						{{#each meta.panels}}
							{{#each fields}}
								{{field ../../this}}
							{{/each}}
						{{/each}}
                        <p class="help-block"></p>
                    </span>
                </span>
            </div>
            <div class="span3 record-cell">
                <div class="record-label">Nombre Cuenta</div>
                <span>
                    <span>
						<input id="filtroCliente" type="text" value="" style="width: 100%">
                        <p class="help-block"></p>
                    </span>
                </span>
            </div>
            <div class="span5 record-cell">
                <div class="record-label">Tipo de Cuenta</div>
                <span>
                    <span>
						<select id="tipo_de_cuenta" class="row-fluid select2 tipo_cuenta" multiple="multiple" style="width: 100%" size="3" >
							{{#each tipo_cuenta}}
								<option value="{{@key}}">{{this}}</option>
							{{/each}}
						</select>
                        <p class="help-block"></p>
                    </span>
                </span>
            </div>
            <div class="span1 record-cell" style="margin-left:10px;">
                <div class="record-label">&nbsp;</div>
                <span>
                    <span>
                        <input type="button" value="Buscar" id="btn_Cuentas" class="btn btn-primary" />
                    </span>
                </span>
            </div>
        </div>
        <br>
        <div class="tcenter" style="display: none" id="successful">
            <p>Las cuentas se han actualizado</p>
        </div>
    {{#if cuentas}}
        <div class="cuentasContainer tcenter">
            <table class="cuentas" align="center" border="1">
				<tr>
					<th width="10%">CONSULTAR ESTADO</th>
					<th width="10%">BLOQUEADO CARTERA</th>
					<th width="10%">BLOQUEADO CRÉDITO</th>
					<th width="10%">BLOQUEADO CUMPLIMIENTO</th>
					<th width="10%">TIPO</th>
					<th width="40%">NOMBRE</th>
					<th width="10%">ID</th>
				</tr>
				{{#each cuentas}}
                <tr class='single'>
                    <td>
                    <span sfuuid='880' class='list'>
                          <div class='ellipsis_inline' data-placement='bottom'>
                            <span class="btn ConsultarEstado fa fa-eye" title="Consultar Estado" data-id="{{id}}" value="{{id}}"></span>
                          </div>
                    </span>
                    </td>
                    <td>
                    <span sfuuid='880' class='list'>
                          <div class='ellipsis_inline' data-placement='bottom'>
                            <span style='font-family: Helvetica, Arial, sans-serif; font-size: 12px;'><input type="checkbox" name="selected1" value="{{id}}" class="selected" {{#if tct_no_contactar_chk_c}}checked{{/if}} {{#if ../this.tct_no_contactar_chk_c}}disabled{{/if}}/></span>
                          </div>
                    </span>
                    </td>
                    <td>
                    <span sfuuid='880' class='list'>
                          <div class='ellipsis_inline' data-placement='bottom'>
                            <span style='font-family: Helvetica, Arial, sans-serif; font-size: 12px;'><input type="checkbox" name="selected2" value="{{id}}" class="selected" {{#if bloqueo_credito_c}}checked{{/if}} {{#if ../this.bloqueo_credito_c}}disabled{{/if}}/></span>
                          </div>
                    </span>
                    </td>
                    <td>
                    <span sfuuid='880' class='list'>
                          <div class='ellipsis_inline' data-placement='bottom'>
                            <span style='font-family: Helvetica, Arial, sans-serif; font-size: 12px;'><input type="checkbox" name="selected3" value="{{id}}" class="selected" {{#if bloqueo_cumple_c}}checked{{/if}} {{#if ../this.bloqueo_cumple_c}}disabled{{/if}}/></span>
                          </div>
                    </span>
                    </td>
                    <td>
                    <span sfuuid='880' class='list'>
                        <div class='ellipsis_inline' data-placement='bottom'>
                            <span style='font-family: Helvetica, Arial, sans-serif; font-size: 12px;'>{{getUnifinListValue 'tipo_registro_cuenta_list' tipo_registro_cuenta_c}}</span>
                        </div>
                    </span>
                    </td>
                    <td>
                    <span sfuuid='880' class='list'>
                          <div class='ellipsis_inline' data-placement='bottom'>
                              <span style='font-family: Helvetica, Arial, sans-serif; font-size: 12px;'><a href="#Accounts/{{id}}" target="_blank">{{name}}</a></span>
                          </div>
                    </span>
                    </td>
                    <td>
                    <span sfuuid='880' class='list'>
                        <div class='ellipsis_inline' data-placement='bottom'>
                            <span style='font-family: Helvetica, Arial, sans-serif; font-size: 12px;'>{{idcliente_c}}</span>
                        </div>
                    </span>
                    </td>
                </tr>
				{{/each}}
				<tr>
					<td colspan="5"></td>
					<td>
						<div class="btn-group">
							<a class="btn fa fa-caret-left" id="previous_offset"></a>
							<a class="btn disabled" id="offset_value" from_set="" to_set="" total="{{../this.total}}" ></a>
							<a class="btn fa fa-caret-right" id="next_offset"></a>
						</div>
					</td>
				</tr>
			</table>
			<br>
			<div style="border:solid;margin-left:65px;margin-right:65px;height:15px;display:table;width:90%;">
				<div class="span3 record row-fluid panel_body tleft">
					<div class="span1 record-cell">
						<div class="record-label"><b>Condición:</b></div>
					</div>
					<div class="span10 record-cell">
						<select id="condicion" class="span4">
							{{#each condicion_list}}
								<option value="{{@key}}" {{ifSelected @key ../condicion}}>{{this}}</option>
							{{/each}}
						</select>
					</div>
				</div>
				<div class="span3 record row-fluid panel_body tleft">
					<div class="span1 record-cell">
						<div class="record-label">Razón:</div>
					</div>
					<div class="span5 record-cell">
						<select id="razon" class="span8">
							{{#each razon_list}}
								<option value="{{@key}}" {{ifSelected @key ../razon}}>{{this}}</option>
							{{/each}}
						</select>
					</div>
					<div class="span1 record-cell">
						<div class="record-label">Motivo:</div>
					</div>
					<div class="span4 record-cell">					
						<select id="motivo" class="span10">
							{{#each motivo_list}}
								<option value="{{@key}}" {{ifSelected @key ../motivo}}>{{this}}</option>
							{{/each}}
						</select>				
					</div>
				</div>
				<div class="span3 record row-fluid panel_body tleft">
					<div class="span1 record-cell">
						<div class="record-label">Detalle:</div>
					</div>
					<div class="span10 record-cell">
						<textarea cols="12" name="detalle" id="detalle" class="form-control" style="margin: 1px; width: 93.5%; height: 61px; resize:none;"></textarea>
					</div>
				</div>
				<div class="span3 record row-fluid panel_body tleft">
					<div class="span1 record-cell">
						<div class="record-label">Responsable Ingesta:</div>
					</div>
					<div class="span5 record-cell">
						<select id="ingesta" class="span8">
							{{#each ingesta_list}}
								<option value="{{@key}}" {{ifSelected @key ../ingesta}}>{{this}}</option>
							{{/each}}
						</select>
					</div>
					<div class="span1 record-cell">
						<div class="record-label">Responsable Validación:</div>
					</div>
					<div class="span4 record-cell">					
						<select id="valida" class="span10">
							{{#each valida_list}}
								<option value="{{@key}}" {{ifSelected @key ../valida}}>{{this}}</option>
							{{/each}}
						</select>				
					</div>
				</div>
			</div>
			<br>
			<table class="cuentas" style="background-color:#f7f8f9;" align="center" border="0">
				<tbody>
				<tr>
					<th width="10%"></th>
					<th width="10%"></th>
					<th width="10%"></th>
					<th width="10%"></th>
					<th width="50%"></th>
					<th width="10%"></th>
				</tr>
				<tr>
					<td colspan="5"></td>
					<td>
						<input type="button" value="Guardar cambios" id="btn_no_contactar" class="btn btn-success disabled" style="pointer-events:none;">
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<!-- Modal Visualizar Consultar Estado -->
		<div id="consultarEstadoModal" style="display:none" class="row-fluid">
		  <!-- Modal content -->
		  <div class="modal span12 " style="width:100%;height:100%">
			<div class="modal-content" style="margin:auto; width:50%">
				<div class="modal-header">
				  <center><h2>Consultar Estado</h2></center>
				</div>
				<div class="modal-body">
				<table class="table table-bordered table-striped span12" style="overflow-x: scroll;">
					<thead>
						<tr>
							<td><b>Cartera</b></td>
							<td><b>Crédito</b></td>
							<td><b>Cumplimiento</b></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{#if cartera}}{{cartera}}{{/if}}</td>
							<td>{{#if credito}}{{credito}}{{/if}}</td>
							<td>{{#if cumplimiento}}{{cumplimiento}}{{/if}}</td>
						</tr>
					</tbody>
				</table>     
				<br><br><br><br>
			  </div>
			  <div class="modal-footer">
				<div align="right">
				  <button class="btn btn-danger btn-Model" id="btn-Cancelar-View" type="submit">Aceptar</button>
				</div>
			  </div>
			</div>
		  </div>
		</div>		
    {{/if}}
	    <!-- Subir CSV -->
        <br>
        <div class="row-fluid">
            <div style="color: #e2efe2;background-color:#22608c;border-color:#22608c;border-radius: 10px;margin-left:15px;margin-right:15px;height: 35px;display: table;width: 97%;">
                <h1>
                    <p style="vertical-align: middle;  margin: 5px;">
                       Actualización masiva (csv)
                    </p>
                </h1>
            </div>
        </div>
        <div class="row-fluid">
            <div style="margin-left:6px;margin-right:15px;height: 35px;display: table;width: 98%;display:inline-block;">
                <div class="span8 record-cell">
                    <input type="file" name="csv_no_contactar" id="csv_no_contactar" style="margin:8px" accept=".csv" class="adjunto">
                </div>
                <!-- Subir el archivo -->
                <div class="span4 record-cell" style="text-align:right">
					<input type="button" value="Subir cambios" id="btn_read_csv" class="btn btn-success" align="right" style="margin:5px">
		        </div>
            </div>
        </div>		
{{/if}}