{{#if this.loadView}}
    <style>
        .container {
            overflow-y:auto;
            display:block;
            width: 100%;
        }

        .cuentas {
            display:table;
            width: 90%;
        }

        .cuentasContainer {
            margin-top: 2%;
            overflow-y:auto;
        }

        #containerHeader {
            font-size: 18px;
            margin-top: 2%;
            margin-left: 1%;
            line-height: 10px;
        }

        #successful {
            margin-top: 10%;
            font-size: 25px;
            color: #33800d;
        }
    </style>

    <div class="container tcenter" >
        <h1 id="containerHeader" align="left"> Cuentas No Contactar</h1>
		<br>
        <div class="row-fluid">
            <div style="color: #e2efe2;background-color:#22608c;border-color:#22608c;border-radius: 10px;margin-left:15px;margin-right:15px;height: 35px;display: table;width: 97%;">
                <h1>
                    <p style="vertical-align: middle;  margin: 5px;">
                        &nbsp; Buscar por filtros
                    </p>
                </h1>
            </div>
        </div>
        <table align="left"  width=100%>
            <tr>
                <th>Asesor: </th>
                <td class="span3">
                    {{#each meta.panels}}
                        {{#each fields}}
                            {{field ../../this}}
                        {{/each}}
                    {{/each}}
                </td>
                <th> Nombre Cuenta: </th>
                <td class="span2">
                    <input id="filtroCliente" type="text" value="" style="width: 100%">
                </td>
                <th>Tipo de Cuenta: </th>
                <td class="span2">
                    <select id="tipo_de_cuenta" class="row-fluid select2 tipo_cuenta" multiple="multiple" style="width: 100%" size="3" >
                        {{#each tipo_cuenta}}
                            <option value="{{@key}}">{{this}}</option>
                        {{/each}}
                    </select>
                </td>
                <td><input type="button" value="Buscar" id="btn_Cuentas" class="btn btn-primary" /></td>
            </tr>
            <tr>
                <td class="span2"><span id='processing' style="display: none"><img width='30' height='5' src='custom/Levementum/images/icon_processing.gif'></span></td>
            </tr>
        </table>
        <br>
        <div style="display: none" id="successful">
            <p>Las cuentas se han actualizado</p>
        </div>
        <br>

    {{#if cuentas}}
        <div class="cuentasContainer">
            <table class="cuentas" align="center" border="1">
            <tr>
                <th width="10%">NO CONTACTAR</th>
                <th width="10%">TIPO</th>
                <th width="70%">NOMBRE</th>
                <th width="10%">ID</th>
            </tr>
        {{#each cuentas}}
                <tr class='single'>
                    <td>
                    <span sfuuid='880' class='list'>
                          <div class='ellipsis_inline' data-placement='bottom'>
                            <span style='font-family: Helvetica, Arial, sans-serif; font-size: 12px;'><input type="checkbox" name="selected" value="{{id}}" class="selected" {{#if tct_no_contactar_chk_c}}checked{{/if}}/></span>
                          </div>
                    </span>
                    </td>
                    <td>
                    <span sfuuid='880' class='list'>
                        <div class='ellipsis_inline' data-placement='bottom'>
                            <span style='font-family: Helvetica, Arial, sans-serif; font-size: 12px;'>{{tipo_registro_c}}</span>
                        </div>
                    </span>
                    </td>
                    <td>
                    <span sfuuid='880' class='list'>
                          <div class='ellipsis_inline' data-placement='bottom'>
                              <span style='font-family: Helvetica, Arial, sans-serif; font-size: 12px;'><a href="#Accounts/{{id}}" target="_blank">{{name}}</a></span>
                          </div>
                    </span>
                    </td>
                    <td>
                    <span sfuuid='880' class='list'>
                        <div class='ellipsis_inline' data-placement='bottom'>
                            <span style='font-family: Helvetica, Arial, sans-serif; font-size: 12px;'>{{idcliente_c}}</span>
                        </div>
                    </span>
                    </td>
                </tr>
        {{/each}}
            <tr>
                <td colspan="3"></td>
                <td>
                    <div class="btn-group">
                        <a class="btn fa fa-caret-left" id="previous_offset"></a>
                        <a class="btn disabled" id="offset_value" from_set="" to_set="" total="{{../this.total}}" ></a>
                        <a class="btn fa fa-caret-right" id="next_offset"></a>
                    </div>
                </td>
            </tr>
        </table>
        <br>
        <table class="cuentas" style="background-color:#f7f8f9;" align="center" border="0">
            <tbody>
            <tr>
                <th width="10%"></th>
                <th width="10%"></th>
                <th width="70%"></th>
                <th width="10%"></th>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td>
                    <input type="button" value="Guardar cambios" id="btn_no_contactar" class="btn btn-success disabled" style="pointer-events:none;">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    {{/if}}
	    <!-- Subir CSV -->
        <br>
        <br>
        <div class="row-fluid">
            <div style="color: #e2efe2;background-color:#22608c;border-color:#22608c;border-radius: 10px;margin-left:15px;margin-right:15px;height: 35px;display: table;width: 97%;">
                <h1>
                    <p style="vertical-align: middle;  margin: 5px;">
                        &nbsp; Actualización masiva (csv)
                    </p>
                </h1>
            </div>
        </div>
        <div style="width:100%; margin:0 auto;" align="center">
            <div style="border: 0px solid;border-color:#22608c;border-radius: 5px;width: 90%;">
                <table class="cuentas" style="background-color:#f7f8f9;" align="center" border="0">
                    <tbody>
                    <tr>
                        <th width="10%"></th>
                        <th width="10%"></th>
                        <th width="70%"></th>
                        <th width="10%"></th>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <input type="file" name="csv_no_contactar" id="csv_no_contactar" style="margin:8px" accept=".csv" class="adjunto">
                        </td>
                        <td>
                            <input type="button" value="Subir cambios" id="btn_read_csv" class="btn btn-success" align="right">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{{/if}}