{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
{{#with rowModel}}
    <li class="tabbed-dashlet-list-item">
        <div class="pull-right">
            {{#if ../row_actions}}
                {{#each ../../row_actions}}
                    {{field ../../../this model=../this}}
                {{/each}}
            {{/if}}
            {{#if attributes.invitation}}
                {{#with ../../invitationActions}}
                    {{field ../../../this model=../attributes.invitation template='edit'}}
                {{/with}}
            {{/if}}
        </div>
        <p>
            {{#if attributes.assigned_user_id}}
                <a href="#{{buildRoute module="Employees" id=attributes.assigned_user_id action="detail"}}" class="pull-left avatar avatar-md" data-title="{{fieldValue this "assigned_user_name"}}">
                    <img class="avatar hide" src="" data-src="{{fieldValue this "picture_url"}}" alt="{{fieldValue this "assigned_user_name"}}">
                    <span class="hide">Us</span>
                </a>
            {{else}}
                <span class="pull-left">
                    <i class="sicon sicon-user"></i>
                    <i class="sicon sicon-help"></i>
                </span>
            {{/if}}
        </p>
        <div class="details">
            <div class="name">
                {{#if ../tabFieldDefs.name}}
                    {{#with ../../tabFieldDefs.name}}
                        <span class="tabbed-dashlet-field" data-fieldname="{{name}}">
                            {{field ../../../this model=../../this template="list"}}
                        </span>
                    {{/with}}
                {{/if}}
            </div>
            {{#if ../overdueBadge}}
                {{#with ../../overdueBadge}}
                    {{field ../../../this model=../../this template='detail'}}
                {{/with}}
            {{/if}}
            <div class="assigned-user-name">
                {{#if attributes.assigned_user_id}}
                    {{#with ../../tabFieldDefs.assigned_user_name}}
                        {{field ../../../this model=../../this template="list"}}&#44;
                    {{/with}}
                {{else}}
                    {{str "LBL_UNASSIGNED" this.module}}&#44;
                {{/if}}
                {{relativeTime attributes.record_date class='date'}}
            </div>
        </div>
    </li>
{{/with}}
