<!--
Detall de Cuentas por Producto
Adrián Arauz - 09-11-19
-->
<div class="row-fluid">
    <table id="tableCuentaxProducto" width="100%">
        <tr>
            <div class="row-fluid">
                <div class="campo1L span6">
                    <label class="record-label" style="margin-left:0px">Tipo de Cuenta Leasing/Crédito SOS</label>
                    <label class="normal " type="text" style="margin-left:0px" data-name="leasing" />
                    {{#if productos.tipo_registro_l}}{{getUnifinListValue 'tipo_registro_cuenta_list' productos.tipo_registro_l}}{{/if}}
                    {{#if productos.subtipo_cuenta_l}}{{getUnifinListValue 'subtipo_registro_cuenta_list' productos.subtipo_cuenta_l}}{{/if}}
                </div>

                <div class="campo2f span6">
                    <label class="record-label" style="margin-left:0px">Tipo de Cuenta Factoraje</label>
                    <label class="normal " type="text" style="margin-left:0px" data-name="factoring" />
                    {{#if productos.tipo_registro_f}}{{getUnifinListValue 'tipo_registro_cuenta_list' productos.tipo_registro_f}}{{/if}}
                    {{#if productos.subtipo_cuenta_f}}{{getUnifinListValue 'subtipo_registro_cuenta_list' productos.subtipo_cuenta_f}}{{/if}}
                </div>
            </div>
        <tr>
        </tr>
            <div class="row-fluid" style="margin: 25px 0px 0px 0px;">
                <div class="campo3ca span6">
                    <label class="record-label" style="margin-left:0px">Tipo de Cuenta CA</label>
                    <label class="normal " type="text" style="margin-left:0px" data-name="CA" />
                    {{#if productos.tipo_registro_ca}}{{getUnifinListValue 'tipo_registro_cuenta_list' productos.tipo_registro_ca}}{{/if}}
                    {{#if productos.subtipo_cuenta_ca}}{{getUnifinListValue 'subtipo_registro_cuenta_list' productos.subtipo_cuenta_ca}}{{/if}}
                </div>
                <div class="campo3fleet span6">
                    <label class="record-label" style="margin-left:0px">Tipo de Cuenta Fleet</label>
                    <label class="normal " type="text" style="margin-left:0px" data-name="CA" />
                    {{#if productos.tipo_registro_fl}}{{getUnifinListValue 'tipo_registro_cuenta_list' productos.tipo_registro_fl}}{{/if}}
                    {{#if productos.subtipo_cuenta_fl}}{{getUnifinListValue 'subtipo_registro_cuenta_list' productos.subtipo_cuenta_fl}}{{/if}}
                </div>
            </div>
        <tr>
        </tr>
            <div class="row-fluid" style="margin: 25px 0px 0px 0px;">
                <div class="campo5cu span6">
                    <label class="record-label" style="margin-left:0px">Tipo de Cuenta Uniclick</label>
                    <label class="normal " type="text" style="margin-left:0px" data-name="UC" />
                    {{#if productos.tipo_registro_uc}}{{getUnifinListValue 'tipo_registro_cuenta_list' productos.tipo_registro_uc}}{{/if}}
                    {{#if productos.subtipo_cuenta_uc}}{{getUnifinListValue 'subtipo_registro_cuenta_list' productos.subtipo_cuenta_uc}}{{/if}}
                </div>
                <div class="campo6ul span6">
                    <label class="record-label" style="margin-left:0px">Tipo de Cuenta Unilease</label>
                    <label class="normal " type="text" style="margin-left:0px" data-name="UL" />
                    {{#if productos.tipo_registro_ul}}{{getUnifinListValue 'tipo_registro_cuenta_list' productos.tipo_registro_ul}}{{/if}}
                    {{#if productos.subtipo_cuenta_ul}}{{getUnifinListValue 'subtipo_registro_cuenta_list' productos.subtipo_cuenta_ul}}{{/if}}
                </div>
            </div>
    </table>
</div>
