<style>
    #operaciones_canceladas {
        background-color: red;
        color: #f5f5f5;
        font-weight: bold;
        width: 10%;
    }

    #operaciones_pipeline {
        background-color: yellow;
        font-weight: bold;
        width: 10%;
    }

    .table th {
        text-align: left;
        background: #000042 !important;
        color: #f5f5f5;
        font-weight: bold;
    }

    .totales {
        text-align: left;
        background: #000042 !important;
        color: #f5f5f5;
        font-weight: bold;
    }

    .filtros {
        margin-bottom: 10px !important;
    }

    .filtros_table {
        margin-left: 1%;
        margin-top: 2%;
    }

    .popup {
        margin-left: 20%;
        /*width: 27%; */
        border-style: groove;
        position: absolute;
        top: 0;
        /*bottom: 0;*/
        background: rgba(0, 0, 0, 0.7);
        color: white;
        font-weight: bold;
        z-index: 2;
        /*visibility: hidden;*/
    }

    .popuptables {
        margin-left: 2%;
        margin-top: 2%;
    }

    .popupC2 {
        padding-left: 2px;
    }

    .popup_footer {
        margin-left: 50%;
        margin-top: 5%;
    }

    .barra_de_acciones {
        margin-bottom: 1%;
        margin-left: 1%;
    }

    .backlogHeaderFloat {
        position: fixed;
        z-index: 1;
    }

    .backlogHeaderFloat_totals {
        position: fixed;
        z-index: 1;
    }

    .innerTableTd {
        background: transparent !important;
        border: none !important;
    }

    .dashlet-content > div {
        overflow-x: hidden !important;
        overflow-y: hidden !important;
        max-height: 580px !important;
    }

    .dashboard{
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }

    .dashboard .thumbnail.dashlet:not(.collapsed) {
        max-height: 100%;
        height: 100%;
    }

    <!--.icon-comment -->
    .fa-comment {
        color: red;
    }

    .backlogInfo{
        overflow-y:auto;
        overflow-x:inherit;
        height: 500px;
        white-space: nowrap;
        width: auto;
    }
</style>
<div class="backlog-dashlet-wrapper">
    <input type="hidden" id="access" value="{{access}}"/>
    <div>
        <table class="filtros_table" >
            <tr>
                <td>Mes:</td>
                <td>Año:</td>
                <!--<td >Region:</td>-->
                <td>Equipo:</td>
                <td>Promotor:</td>
            </tr>
            <tr>
                <td>
                    <select id="mes_filtro" class="filtros">
                        {{{meses_list_html}}}
                    </select>
                </td>
                <td>
                    <select id="anio_filtro" class="filtros">
                        {{{anio_list_html}}}
                    </select>
                </td>
                <!--<td >-->
                <!--<select id="region_filtro" class="filtros">-->
                <!--{{{region_list_html}}}-->
                <!--</select>-->
                <!--</td>-->
                <td>
                    <select id="equipo_filtro" class="filtros" >
                        {{{equipo_list_html}}}
                    </select>
                </td>
                <td>
                    <select id="promotor_filtro" class="filtros">
                        {{{promotores_list_html}}}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Solicitud:</td>
                <td>Tipo de operacion:</td>
                <td>Etapa:</td>
                <td>Estatus:</td>
            </tr>
            <tr>
                <td>
                    <select id="progreso_filtro" class="filtros">
                        {{{progreso_list_html}}}
                    </select>
                </td>
                <td>
                    <select id="tipo_operacion_filtro" class="filtros">
                        {{{tipo_operacion_list_html}}}
                    </select>
                </td>
                <td>
                    <select id="etapa_filtro" class="filtros">
                        {{{etapa_list_html}}}
                    </select>
                </td>
                <td>
                    <select id="estatus_filtro" class="select2 filtros" multiple>
                        {{{estatus_list_html}}}
                    </select>
                </td>
                <td colspan="6">
                    <input type="button" value="Buscar" id="btn_Buscar" class="btn btn-primary filtros"/>
                    <i class="fa fa-spinner fa-spin loadingIcon" style="display: none"></i>
                </td>
            </tr>
        </table>
    </div>

    <div class="barra_de_acciones">
        <table>
            <tr>
                <!--<td>
                    <a class="rowaction btn btn-primary" href="javascript:void(0);" id="expandir_backlog_button">
                        <span class="icon-plus"></span></a>
                    <a class="rowaction btn btn-primary" href="javascript:void(0);" id="colapsar_backlog_button">
                        <span class="icon-minus"></span></a>
                </td>-->
                <td>
                	<div class="btn-group">
                		<!-- <a class="btn">Menú</a> -->
                		<span class="btn totales marcarTodos checkboxChange" title="Seleccionar Todo">
                			<input type="checkbox" id="selectAll"/>
                		</span>
                		<a class="btn dropdown-toggle totales disabled" id="menuOptions" data-toggle="dropdown">
                			<i class="fa fa-caret-down"></i>
                		</a>
                		<ul class="dropdown-menu">
                			<!-- dropdown menu links -->
                			<li>
                				<a class="MoverOperacionMasiva"><i class="fa fa-hand-o-up"></i>Mover a otro mes</a>
                			</li>
                			<li>
                				<a class="CancelarMasiva"><i class="fa fa-times-circle "></i>Cancelar</a>
                			</li>
                		</ul>
                	</div>
                </td>
                <td>
                    <span class="btn btn-success exportar">Exportar a Excel</span>
                </td>
                <!--<td>
                    <span class="btn btn-success Comprometer_mass">Comprometer Masivo</span>
                </td>-->
                <td>
                    <a class="btn btn-primary" tabindex="-1" data-navbar-menu-item="LNK_NEW_RECORD" href="#lev_Backlog/create" data-route="#lev_Backlog/create" track="click:#lev_Backlog/create"><i class="fa fa-plus"></i>Crear Backlog</a>
                </td>
                <td>
                    <span class="btn btn-primary ocultar_columnas">Ocultar Columnas</span>
                </td>
            </tr>
        </table>
    </div>

    <!--Popup para mostrar/ocultar columnas-->
    <div class="popup" id="form_mostrar_columnas" style="display: none;">
        <div class="row">
            <div class="span6" style="margin-left: 30px;margin-top: 10px;">
                <select id="sel_columnas" multiple size=22>
                    <option value="none">Ninguno</option>
                    <option value="hide_acciones">Acciones</option>
                    <option value="hide_estatus">Estatus</option>
                    <option value="hide_mes">Mes</option>
                    <option value="hide_equipo">Equipo</option>
                    <option value="hide_zona">Zona</option>
                    <option value="hide_promotor">Promotor</option>
                    <option value="hide_cliente">Cliente</option>
                    <option value="hide_operacion">No. Backlog</option>
                    <option value="hide_tipo_bien">Tipo de Bien</option>
                    <option value="hide_monto_original">Linea Disponible</option>
                    <option value="hide_monto_comprometido">Monto Original</option>
                    <option value="hide_ri_comprometida">RI Original</option>
                    <option value="hide_monto_diferencia">Diferencia</option>
                    <option value="hide_monto_final_comprometido">Backlog</option>
                    <option value="hide_ri_final_comprometida">Renta Inicial</option>
                    <!--<option value="hide_bl_actual">Backlog Actual</option>-->
                    <option value="hide_pipeline_posterior">Colocacion Pipeline</option>
                    <option value="hide_monto_real">Colocación Real</option>
                    <option value="hide_ri_real">RI Real</option>
                    <option value="hide_monto_cancelado">Monto Cancelado</option>
                    <option value="hide_ri_cancelada">RI Cancelada</option>
                    <option value="hide_tipo_operacion">Tipo de Operacion</option>
                    <option value="hide_etapa_preliminar">Etapa Inicio Mes</option>
                    <option value="hide_etapa">Etapa</option>
                    <option value="hide_progreso">Solicitud</option>
                </select>
            </div>
            <div class="span1" style="margin-top: 10px;">
                <input type="button" value="Ejecutar" id="btn_ejecuta_ocultar_columnas" class="btn btn-success"/>
                <input type="button" value="Cancelar" id="btn_cancela_ocultar_columnas" class="btn btn-danger" style="margin-top: 25px;"/>
            </div>
        </div>
    </div>

    <div class="popup" style="display: {{popup_switch}};">
<div class="span6">
        <table class="popuptables" style="display: {{lograda_switch}};">
            <tr>
                <td colspan="4">
                    COMPROMETER OPERACIÓN
                </td>
            <tr>
            <tr>
                <td>
                    Operacion:
                </td>
                <td></td>
                <td class="popupC2" colspan="3">
                    {{backlogName}}
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    Monto Original:
                </td>
                <td></td>
                <td>
                    <input type="text" id="monto_a_comprometer" value="{{backlogMonto}}"/>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    Renta Inicial Original (%):
                </td>
                <td></td>
                <td>
                    <input type="text" id="ri_porciento" value="{{riPorciento}}"/>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    Renta Inicial Original ($):
                </td>
                <td></td>
                <td>
                    <input type="text" id="renta_a_comprometer" value="{{backlogRentaInicial}}" />
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    Mes:
                </td>
                <td></td>
                <td>
                    <select id="mes_a_comprometer_popup">
                        {{{meses_a_comprometer_list_html}}}
                    </select>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    Año
                </td>
                <td></td>
                <td>
                    <select class="anio_a_comprometer_popup">
                        {{{anio_list_html}}}
                    </select>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <input id="mes_record" type="hidden" value="{{mes_seleccionado}}"/>
                </td>
                <td></td>
                <td>
                    <input id="anio_record" type="hidden" value="{{anio_seleccionado}}"/>
                </td>
                <td></td>
            </tr>
        </table>

        <table class="popuptables" style="display: {{compromiso_masivo_switch}};">
            <tr>
                <td>
                    Operaciones:
                </td>
                <td class="popupC2" colspan="3">
                    {{backlog_mass_count}}
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    Monto:
                </td>
                <td>
                    ${{customFormatNumber backlogMass_Monto}}
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    Mes:
                </td>
                <td>
                    <select id="mes_a_comprometer_mass_popup">
                        {{{meses_a_comprometer_list_html}}}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Año
                </td>
                <td>
                    <select id="anio_a_comprometer_mass_popup">
                        {{{anio_list_html}}}
                    </select>
                </td>

            </tr>
            <tr>
                <td>
                    <input id="mes_record" type="hidden" value="{{mes_seleccionado}}"/>
                    <input id="anio_record" type="hidden" value="{{anio_seleccionado}}"/>
                </td>
            </tr>
        </table>

        <table class="popuptables" style="display: {{mes_switch}};">
            <tr>
                <td colspan="3">
                    MOVER OPERACIÓN
                </td>
            </tr>
            <tr>
                <td>
                    Operacion:
                </td>
                <td></td>
                <td class="popupC2">
                    {{backlogName}}
                </td>
            </tr>
            <tr>
                <td>
                    Monto Original:
                </td>
                <td></td>
                <td>
                    <span id="monto_mes">{{backlogMonto}}</span>
                </td>
            </tr>
            <tr>
                <table class="popuptables" style="display: {{mes_switch}};">
                    <tr>
                        <td>
                            Año:
                        </td>
                        <td></td>
                        <!--
                        <td>
                            <select class="mes_switch_popup">
                                {{{meses_list_popup_mover_mes}}}
                            </select>
                        </td>
                        -->
                        <td>
                            <select class="anio_switch_popup">
                                {{{anio_list_html}}}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Mes:
                        </td>
                        <td></td>
                        <!--
                        <td>
                            <select class="anio_switch_popup">
                                {{{anio_list_html}}}
                            </select>
                        </td>
                        -->
                        <td>
                            <select class="mes_switch_popup">
                                {{{meses_list_popup_mover_mes}}}
                            </select>
                        </td>
                    </tr>
                </table>
            </tr>
        </table>
        <table class="popuptables" style="display: {{comentarios_switch}};">
            <tr>
                <td colspan="3">
                    COMENTARIOS DE OPERACIÓN
                </td>
            </tr>
            <tr>
                <td width="10%">
                    Operacion:
                </td>
                <td></td>
                <td class="popupC2" colspan="4">
                    {{backlogName}}
                </td>
            </tr>
            <tr>
                <td>
                    Monto Original:
                </td>
                <td></td>
                <td class="popupC2">
                    <span id="monto_comprometido_comm">{{backlogMonto}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    Monto Real:
                </td>
                <td></td>
                <td class="popupC2">
                    <span id="monto_real_comm">{{backlogMonto_Real}}</span>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    Comentarios:
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <textarea rows="4" cols="80" style="width: 90%;" id="BacklogDescription" readonly>{{comentarios_existentes}}</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    Agregar Comentario:
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <textarea rows="4" cols="80" style="width: 90%;" id="newBacklogDescription"></textarea>
                </td>
            </tr>
        </table>
        <table class="popuptables" style="display: {{cancelar_switch}};">
            <tr>
                <td colspan="5">
                    CANCELAR OPERACIÓN
                </td>
            </tr>
            <tr>
                <td>
                    Operacion:
                </td>
                <td></td>
                <td class="popupC2" colspan="3">
                    {{backlogName}}
                </td>
            </tr>
            <tr>
                <td>
                    Monto Original:
                </td>
                <td></td>
                <td class="popupC2" colspan="3">
                    <span id="monto_cancelacion_popup">{{backlogMonto}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    Renta Inicial Original:
                </td>
                <td></td>
                <td class="popupC2" colspan="3">
                    <span id="renta_cancelacion_popup">{{backlogRentaInicial}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    Motivo cancelacion:
                </td>
                <td></td>
                <td colspan ="3">
                    <select id="motivo_de_cancelacion_popup"  style="width: 180px;" required >
                        {{{motivo_de_cancelacion_list_html}}}
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span id="label_anio_cancelacion">Año:</span>
                </td>
                <td></td>
                <td colspan="2">
                    <span id="label_mes_cancelacion">Mes:</span>
                </td>
            </tr>
            <tr>
                <td  colspan="2" >
                    <select id="anio_cancelacion" class="anio_popup" style="width: 180px;">
                        {{{anio_list_html}}}
                    </select>
                </td>
                <td></td>
                <td colspan="2">
                    <select id="mes_cancelacion" class="mes_popup" style="width: 180px;">
                        {{{meses_list_popup_html}}}
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" id="tdquien" style="display:none">
                         <span id="tct_competencia_quien_txf_c">¿Quién?:</span>
                         <input type="text" id="quien_opcion" style="width: 180px;" >
                 </td>
                 <td colspan="2" id="tdproducto" style="display:none">
                          <span id="tct_que_producto_txf_c">Producto:</span>
                          <input type="text" id="producto_opcion" style="width: 180px;" >
                 </td>
            </tr>
            <tr>
                <td colspan="5">
                    Comentarios:
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <textarea rows="4" cols="80" style="width: 90%;" id="comentarios_de_cancelacion"></textarea>
                </td>
            </tr>
        </table>

        <table class="popuptables" style="display: {{revivir_switch}};">
            <tr>
                <td colspan="5">
                    REVIVIR OPERACIÓN
                </td>
            </tr>
            <tr>
                <td>
                    Operacion:
                </td>
                <td></td>
                <td class="popupC2" colspan="3">
                    {{backlogName}}
                </td>
            </tr>
            <tr>
                <td>
                    Monto Original:
                </td>
                <td></td>
                <td class="popupC2" colspan="3">
                    <span id="monto_operacion_rev">{{backlogMonto}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    Renta Inicial Original:
                </td>
                <td></td>
                <td class="popupC2" colspan="3">
                    <span id="ri_operacion_rev">{{backlogRentaInicial}}</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span id="label_mes_cancelacion">Mes:</span>
                </td>
                <td></td>
                <td colspan="2">
                    <span id="label_anio_cancelacion">Año:</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <select id="mes_revivir" class="mes_revivir" style="width: 180px;">
                        {{{meses_list_popup_html}}}
                    </select>
                </td>
                <td></td>
                <td  colspan="2" >
                    <select id="anio_revivir" class="anio_revivir" style="width: 180px;">
                        {{{anio_list_html}}}
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    Comentarios:
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <textarea rows="4" cols="80" style="width: 90%;" id="comentarios_revivir"></textarea>
                </td>
            </tr>
        </table>

        <!-- Se añade nuevo popup para mover mes masivo-->
        <table class="popuptables" style="display: {{mes_masivo_switch}};">
            <tr>
                <td colspan="3">
                    MOVER OPERACIÓN
                </td>
            </tr>
            <!--
            <tr>
                <td>
                    Operacion:
                </td>
                <td></td>
                <td class="popupC2">
                    {{backlogName}}
                </td>
            </tr>
            -->
            <tr>
                <td>
                    Número de líneas selecionadas:
                </td>
                <td class="popupC2">
                    {{countChecks}}
                </td>
                <td>
                    <!--<span id="monto_mes">{{backlogMonto}}</span> -->
                </td>
            </tr>
            <tr>
                <table class="popuptables" style="display: {{mes_masivo_switch}};">
                    <tr>
                        <td>
                            Año:
                        </td>
                        <td></td>
                        <td>
                            <select class="anio_masivo_switch_popup">
                                {{{anio_list_html}}}
                            </select>
                        </td>
                    </tr>
                    <tr>

                        <td>
                            Mes:
                        </td>
                        <td></td>
                        <td>
                            <select class="mes_switch_masivo_popup">
                                {{{meses_list_popup_mover_mes}}}
                            </select>
                        </td>
                    </tr>
                </table>
            </tr>
        </table>

        <!-- Se añade nuevo popup para cancelar backlog masivo-->
        <table class="popuptables" style="display: {{cancelar_masivo_switch}};">
            <tr>
                <td colspan="5">
                    CANCELAR OPERACIONES
                </td>
            </tr>
            <tr>
                <td>
                    Número de líneas selecionadas:
                </td>
                <td></td>
                <td class="popupC2" colspan="3">
                    {{countChecksCancelar}}
                </td>
            </tr>
            <!--
            <tr>
                <td>
                    Monto Original:
                </td>
                <td></td>
                <td class="popupC2" colspan="3">
                    <span id="monto_cancelacion_popup">{{backlogMonto}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    Renta Inicial Original:
                </td>
                <td></td>
                <td class="popupC2" colspan="3">
                    <span id="renta_cancelacion_popup">{{backlogRentaInicial}}</span>
                </td>
            </tr>
            -->
            <tr>
                <td>
                    Motivo cancelacion:
                </td>
                <td></td>
                <td colspan ="3">
                    <select id="motivo_de_cancelacion_masivo_popup"  style="width: 180px;" required >
                        {{{motivo_de_cancelacion_list_html}}}
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span id="label_anio_cancelacion_masivo">Año:</span>
                </td>
                <td></td>
                <td colspan="2">
                    <span id="label_mes_cancelacion_masivo">Mes:</span>
                </td>
            </tr>
            <tr>
                <td  colspan="2" >
                    <select id="anio_cancelacion_masivo" class="anio_masivo_popup" style="width: 180px;">
                        {{{anio_list_html}}}
                    </select>
                </td>

                <td colspan="2">
                    <select id="mes_cancelacion_masivo" class="mes_masivo_popup" style="width: 180px;">
                        {{{meses_list_popup_html}}}
                    </select>
                </td>
            </tr>

            <!--
            <tr>
                <td>
                    ¿Quién?:
                </td>
                <td colspan="2" id="tdquienMasivo" style="display:none">
                    <span id="tct_competencia_quien_txf_c_masivo">¿Quién?:</span>
                    <input type="text" id="quien_opcion_masivo" style="width: 180px;" >
                </td>
                <td colspan="2" id="tdproductoMasivo" style="display:none">
                    <span id="tct_que_producto_txf_c_masivo">Producto:</span>
                    <input type="text" id="producto_opcion_masivo" style="width: 180px;" >
                </td>
            </tr>
            -->
            <tr>
                <td colspan="2" id="quienMasivoLabel" style="display:none">
                    <span id="label_quien">¿Quién?</span>
                </td>
                <td colspan="2" id="productoMasivoLabel" style="display:none">
                    <span id="label_producto">Producto:</span>
                </td>

            </tr>
            <tr >
                <td colspan="2" id="quienMasivoVal" style="display:none">
                    <input type="text" id="quien_opcion_masivo" style="width: 180px;" >
                </td>
                <td colspan="2" id="productoMasivoVal" style="display:none">
                    <input type="text" id="producto_opcion_masivo" style="width: 180px;" >
                </td>
            </tr>

            <!--
            <tr>
                <td  colspan="2" id="tdquienMasivoVal" style="display:none" >
                    <input type="text" id="quien_opcion_masivo" style="width: 180px;" >
                </td>

                <td colspan="2" id="tdproductoMasivoVal" style="display:none">
                    <input type="text" id="producto_opcion_masivo" style="width: 180px;" >
                </td>
            </tr>
            -->

            <tr>
                <td colspan="5">
                    Comentarios:
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <textarea rows="4" cols="80" style="width: 90%;" id="comentarios_de_cancelacion_masivo"></textarea>
                </td>
            </tr>
        </table>

        <table class="popup_footer">
            <tr>
                <td class="popup_footer">
                    <div class="btn-toolbar" >
                        <span class="btn btn-danger popupCancel" title="Cancelar">{{cancel}}</span>
                        <!--
                          AF: 21/12/17
                          Ajuste para guardado de modificación a backlog
                        -->
                        <span class="btn btn-success popupSave" title="Guardar" >
                          {{save}}
                            <i class="fa fa-spinner fa-spin savingIcon" style="display: none"></i>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

    <div class="dashlet-backlog-wrapper">
        <div class="backlogInfo" style="display: none">
            <table width="100%" class="table table-bordered table-condensed backlog_dashlet_box" id="backlog-dashlet">
                <tr class="backlog_dashlet_header">
                    <!--<th width="1%">
                        Comprometer
                        <input type="checkbox" id="mass_update_btn"/>
                    </th>-->
                    <th width="5%" class="hide_acciones">
                        <table width="100%">
                            <tr>
                                <td class="innerTableTd">Acciones</td>
                            </tr>
                        </table>
                    </th>
                    <th width="5%" class="hide_estatus">
                        <table width="100%">
                            <tr>
                                <td class="innerTableTd">Estatus</td>
                            </tr>
                        </table>
                    </th>
                    <th width="10%" class="hide_mes">
                        <table width="100%">
                            <tr>
                                <td class="innerTableTd">Mes</td>
                            </tr>
                        </table>
                    </th>
                    <th width="1%" class="hide_equipo">
                        <table width="100%">
                            <tr>
                                <td class="innerTableTd">Equipo <i id="EquipoSort" class="fa fa-unsorted" {{EquipoSortDirection}}></i></td>
                            </tr>
                        </table>
                    </th>
                    <th width="1%" class="hide_zona">
                        <table width="100%" >
                            <tr>
                                <td class="innerTableTd">Zona</td>
                            </tr>
                        </table>
                    </th>
                    <th width="10%" class="hide_promotor">
                        <table width="100%">
                            <tr>
                                <td class="innerTableTd">Promotor <i id="PromotorSort" class="fa fa-unsorted" {{PromotorSortDirection}}></i></td>
                            </tr>
                        </table>
                    </th>
                    <th width="30%" class="hide_cliente">
                        <table width="100%">
                            <tr>
                                <td class="innerTableTd">Cliente <i id="ClienteSort" class="fa fa-unsorted" {{ClienteSortDirection}}></i></td>
                            </tr>
                        </table>
                    </th>
                    <th width="5%" class="hide_operacion">
                        <table width="100%">
                            <tr>
                                <td class="innerTableTd">No. Backlog <i id="NumeroBacklogSort" class="fa fa-unsorted" {{NumeroBacklogSortDirection}}></i></td>
                            </tr>
                        </table>
                    </th>
                    <th width="8%" class="hide_tipo_bien">
                        <table width="100%">
                            <tr>
                                <td class="innerTableTd">Tipo de Bien</td>
                            </tr>
                        </table>
                    </th>
                    <th width="5%" class="hide_monto_original">
                        <table width="100%">
                            <tr>
                                <td class="innerTableTd">Linea Disponible</td>
                            </tr>
                        </table>
                    </th>
                    <th width="7%" class="hide_monto_comprometido">
                        <table width="100%">
                            <tr>
                                <td class="innerTableTd">Monto Original <i id="MontoOperacionSort" class="fa fa-unsorted" {{MontoOperacionSortDirection}}></i></td>
                            </tr>
                        </table>
                    </th>
                    <th width="10%" class="hide_ri_comprometida">
                        <table width="100%">
                            <tr>
                                <td class="innerTableTd">RI Original</td>
                            </tr>
                        </table>
                    </th>
                    <th width="7%" class="hide_monto_diferencia">
                        <table width="100%">
                            <tr>
                                <td class="innerTableTd">Diferencia</td>
                            </tr>
                        </table>
                    </th>
                    <th width="5%" class="hide_monto_final_comprometido">
                        <table width="100%">
                            <tr>
                                <td class="innerTableTd">Backlog <i id="MontoFinalSort" class="fa fa-unsorted" {{MontoFinalSortDirection}}></i></td>
                            </tr>
                        </table>
                    </th>
                    <th width="5%" class="hide_ri_final_comprometida">
                        <table width="100%">
                            <tr>
                                <td class="innerTableTd">Renta Inicial</td>
                            </tr>
                        </table>
                    </th>
                    <!--<th width="5%" class="hide_bl_actual">
                        <table width="100%">
                            <tr>
                                <td class="innerTableTd">Backlog Actual</td>
                            </tr>
                        </table>
                    </th>-->
                    <th width="5%" class="hide_pipeline_posterior">
                        <table width="100%">
                            <tr>
                                <td class="innerTableTd">Colocacion Pipeline</td>
                            </tr>
                        </table>
                    </th>
                    <th width="5%" class="hide_monto_real">
                        <table width="100%">
                            <tr>
                                <td class="innerTableTd">Colocación Real</td>
                            </tr>
                        </table>
                    </th>
                    <th width="10%" class="hide_ri_real">
                        <table width="100%">
                            <tr>
                                <td class="innerTableTd">RI Real</td>
                            </tr>
                        </table>
                    </th>
                    <th width="10%" class="hide_monto_cancelado">
                        <table width="100%">
                            <tr>
                                <td class="innerTableTd">Monto Cancelado</td>
                            </tr>
                        </table>
                    </th>
                    <th width="10%" class="hide_ri_cancelada">
                        <table width="100%">
                            <tr>
                                <td class="innerTableTd">RI Cancelada</td>
                            </tr>
                        </table>
                    </th>
                    <th width="20%" class="hide_tipo_operacion">
                        <table width="100%">
                            <tr>
                                <td class="innerTableTd">Tipo de Operacion</td>
                            </tr>
                        </table>
                    </th>
                    <th width="10%" class="hide_etapa_preliminar">
                        <table width="100%">
                            <tr>
                                <td class="innerTableTd">Etapa Inicio Mes</td>
                            </tr>
                        </table>
                    </th>
                    <th width="15%" class="hide_etapa">
                        <table width="100%">
                            <tr>
                                <td class="innerTableTd">Etapa</td>
                            </tr>
                        </table>
                    </th>
                    <th width="15%" class="hide_progreso">
                        <table width="100%">
                            <tr>
                                <td class="innerTableTd">Solicitud</td>
                            </tr>
                        </table>
                    </th>

                </tr>

                {{#each backlogs}}
                    <tr class="backlog_dashlet_header_totals">
                        <!--<th class="totales"></th>-->
                        <!-- AF: 09/04/2018 - Menú
                        Actualizaicón masiva: Adición de menú de opciones-->
                        <th class="totales hide_acciones"></th>
                        <th class="totales hide_estatus"></th>
                        <th class="totales hide_mes"></th>
                        <th class="totales hide_equipo"></th>
                        <th class="totales hide_zona"></th>
                        <th class="totales hide_promotor"></th>
                        <th class="totales hide_cliente"></th>
                        <th class="totales hide_operacion"></th>
                        <th class="totales hide_tipo_bien"></th>
                        <th class="totales hide_monto_original">{{customFormatNumber totales.total_monto_original}}</th>
                        <th class="totales hide_monto_comprometido">{{customFormatNumber totales.total_monto_comprometido}}</th>
                        <th class="totales hide_ri_comprometida">{{customFormatNumber totales.total_renta_inicial}}</th>
                        <th class="totales hide_monto_diferencia">{{customFormatNumber totales.total_monto_diferencia}}</th>
                        <th class="totales hide_monto_final_comprometido">{{customFormatNumber totales.total_monto_final_comprometido}}</th>
                        <th class="totales hide_ri_final_comprometida">{{customFormatNumber totales.total_renta_inicial_final}}</th>
                        <!--<th class="totales hide_bl_actual">{{customFormatNumber totales.total_bl_actual}}</th>-->
                        <th class="totales hide_pipeline_posterior">{{customFormatNumber totales.total_pipeline_posterior}}</th>
                        <th class="totales hide_monto_real">{{customFormatNumber totales.total_monto_real}}</th>
                        <th class="totales hide_ri_real">{{customFormatNumber totales.total_renta_real}}</th>
                        <th class="totales hide_monto_cancelado">{{customFormatNumber totales.total_monto_cancelado}}</th>
                        <th class="totales hide_ri_cancelada">{{customFormatNumber totales.total_ri_cancelada}}</th>
                        <th class="totales hide_tipo_operacion"></th>
                        <th class="totales hide_etapa_preliminar"></th>
                        <th class="totales hide_etapa"></th>
                        <th class="totales hide_progreso"></th>
                    </tr>
                {{/each}}

                {{#each backlogs}}
                    {{#each this.MyBacklogs.linea}}
                        <tr bgcolor="{{color}}" class="backlog-dashlet-row">
                            <td class="hide_acciones">
                                <div class="btn-toolbar" style="margin: 0px; padding-left:0px;">
                                    <div class="btn-group">
                                        <span class="btn Seleccionar switch-mini round-switch checkboxChange"> <input type="checkbox" title="Seleccionar" data-id="{{@key}}" data-name="{{name}}" data-monto="${{customFormatNumber monto_comprometido}}" data-mes="{{mes_int}}" data-anio="{{anio}}" data-estatus="{{estatus_de_la_operacion}}" data-progreso="{{progreso}}" data-numBacklog="{{numero_de_backlog}}" data-renta_inicial="${{customFormatNumber ri_comprometida}}" data-oppId="{{oppId}}" data-oppTipo="{{tipo_operacion}}"/></span>
                                        <!--<span class="btn Comprometer icon-ok" title="Comprometer" data-id="{{@key}}" data-name="{{name}}" data-monto="${{customFormatNumber monto_comprometido}}" data-monto-original="{{customFormatNumber monto_original}}" data-renta_inicial="${{customFormatNumber ri_comprometida}}" data-mes="{{mes_int}}" data-anio="{{anio}}" data-estatus="{{estatus_de_la_operacion}}" data-porciento="{{porciento_ri}}" data-progreso="{{progreso}}"></span>-->
                                        <span class="btn MoverOperacion fa fa-hand-o-up" title="Mover a otro mes" data-id="{{@key}}" data-name="{{name}}" data-monto="${{customFormatNumber monto_comprometido}}" data-mes="{{mes_int}}" data-anio="{{anio}}" data-estatus="{{estatus_de_la_operacion}}" data-progreso="{{progreso}}"></span>
                                        <span class="btn Cancelar fa fa-times-circle" title="Cancelar" data-oppId="{{oppId}}" data-id="{{@key}}" data-name="{{name}}" data-monto="${{customFormatNumber monto_comprometido}}" data-renta_inicial="${{customFormatNumber ri_comprometida}}" data-estatus="{{estatus_de_la_operacion}}" data-mes="{{mes_int}}" data-anio="{{anio}}" data-oppTipo="{{tipo_operacion}}" data-progreso="{{progreso}}"></span>
                                        <span class="btn Comentario fa {{comentado}}" title="Comentario" data-id="{{@key}}" data-name="{{name}}" data-monto="${{customFormatNumber monto_comprometido}}" data-mreal="${{customFormatNumber monto_real}}" data-comentarios="{{comentarios}}" data-progreso="{{progreso}}"></span>
                                        <span class="btn Revivir fa fa-repeat" title="Revivir" data-id="{{@key}}" data-name="{{name}}" data-monto="${{customFormatNumber monto_comprometido}}" data-mreal="${{customFormatNumber monto_real}}" data-mes="{{mes_int}}" data-anio="{{anio}}" data-estatus="{{estatus_de_la_operacion}}" data-progreso="{{progreso}}"></span>
                                    </div>
                                </div>
                            </td>
                            <!--<tr class="backlog-dashlet-row">-->
                            <!--<td>
                            <input type="checkbox" class="mass_update" value="{{@key}}" {{estatus_checked}} {{mass_checked}}/>
                        </td>-->
                            <td class="hide_estatus">{{estatus_de_la_operacion}}</td>
                            <td class="hide_mes">{{mes}}-{{anio}}</td>
                            <td class="hide_equipo">{{equipo}}</td>
                            <td class="hide_zona">{{zona}}</td>
                            <td class="hide_promotor"  title="{{promotor}}">{{iniciales}}</td>
                            <td class="hide_cliente">
                                <a href="#Accounts/{{clienteId}}" target="_blank">{{cliente}}</a>
                            </td>
                            <td class="hide_operacion">
                                <a href="#lev_Backlog/{{@key}}" target="_blank">{{numero_de_backlog}}</a>
                            </td>
                            <td class="hide_tipo_bien">{{tipo_bien}}</td>
                            <td bgcolor="{{colorDispLinea}}" class="hide_monto_original">{{customFormatNumber monto_original}}</td>
                            <td class="hide_monto_comprometido">{{customFormatNumber monto_comprometido}}</td>
                            <td class="hide_ri_comprometida">{{customFormatNumber ri_comprometida}}</td>
                            <td class="hide_monto_diferencia">{{customFormatNumber monto_diferencia}}</td>
                            <td class="hide_monto_final_comprometido">{{customFormatNumber monto_final_comprometido}}</td>
                            <td class="hide_ri_final_comprometida">{{customFormatNumber ri_final_comprometida}}</td>
                            <!--<td class="hide_bl_actual">{{customFormatNumber bl_actual}}</td>-->
                            <td class="hide_pipeline_posterior">{{customFormatNumber pipeline_posterior}}</td>
                            <td class="hide_monto_real">{{customFormatNumber monto_real}}</td>
                            <td class="hide_ri_real">{{customFormatNumber renta_real}}</td>
                            <td class="hide_monto_cancelado">{{customFormatNumber monto_cancelado}}</td>
                            <td class="hide_ri_cancelada">{{customFormatNumber ri_cancelada}}</td>
                            <td class="hide_tipo_operacion">{{tipo_operacion}}</td>
                            <td class="hide_etapa_preliminar">{{etapa_preliminar}}</td>
                            <td class="hide_etapa">{{etapa}}</td>
                            <td class="hide_progreso">{{progreso}}</td>
                            <!--<td>-->
                            <!--<a href="#Opportunities/{{oppId}}" target="_blank">{{No_Solicitud}}</a>-->
                            <!--</td>-->
                        </tr>
                    {{/each}}

                    {{#each this.SubBacklogs}}
                        {{#each this.linea}}
                            <tr bgcolor="{{color}}" class="backlog-dashlet-row">
                                <td class="hide_acciones">
                                    <div class="btn-toolbar" style="margin: 0px; padding-left:0px;">
                                        <div class="btn-group">
                                            <!--<span class="btn Comprometer icon-ok" title="Comprometer" data-id="{{@key}}" data-name="{{name}}" data-monto="${{customFormatNumber monto_comprometido}}" data-monto-original="{{customFormatNumber monto_original}}" data-renta_inicial="${{customFormatNumber ri_comprometida}}" data-mes="{{mes_int}}" data-anio="{{anio}}" data-estatus="{{estatus_de_la_operacion}}" data-porciento="{{porciento_ri}}" data-progreso="{{progreso}}"></span>-->
                                            <span class="btn MoverOperacion fa fa-hand-o-up" title="Mover a otro mes" data-id="{{@key}}" data-name="{{name}}" data-monto="${{customFormatNumber monto_comprometido}}" data-mes="{{mes_int}}" data-anio="{{anio}}" data-estatus="{{estatus_de_la_operacion}}" data-progreso="{{progreso}}"></span>
                                            <span class="btn Cancelar fa fa-times-circle" title="Cancelar" data-oppId="{{oppId}}" data-id="{{@key}}" data-name="{{name}}" data-monto="${{customFormatNumber monto_comprometido}}" data-renta_inicial="${{customFormatNumber ri_comprometida}}" data-estatus="{{estatus_de_la_operacion}}" data-mes="{{mes_int}}" data-anio="{{anio}}" data-oppTipo="{{tipo_operacion}}" data-progreso="{{progreso}}"></span>
                                            <span class="btn Comentario fa {{comentado}}" title="Comentario" data-id="{{@key}}" data-name="{{name}}" data-monto="${{customFormatNumber monto_comprometido}}" data-mreal="${{customFormatNumber monto_real}}" data-comentarios="{{comentarios}}" data-progreso="{{progreso}}"></span>
                                            <span class="btn Revivir fa fa-repeat" title="Revivir" data-id="{{@key}}" data-name="{{name}}" data-monto="${{customFormatNumber monto_comprometido}}" data-renta_inicial="${{customFormatNumber ri_comprometida}}" data-mes="{{mes_int}}" data-anio="{{anio}}" data-progreso="{{progreso}}"></span>
                                        </div>
                                    </div>
                                </td>
                                <!--<tr class="backlog-dashlet-row">-->
                                <!--<td>
                                <input type="checkbox" class="mass_update" value="{{@key}}" {{estatus_checked}} {{mass_checked}}/>
                            </td>-->
                                <td class="hide_estatus">{{estatus_de_la_operacion}}</td>
                                <td class="hide_mes">{{mes}}-{{anio}}</td>
                                <td class="hide_equipo">{{equipo}}</td>
                                <td class="hide_zona">{{zona}}</td>
                                <td class="hide_promotor" title="{{promotor}}">{{iniciales}}</td>
                                <td class="hide_cliente">
                                    <a href="#Accounts/{{clienteId}}" target="_blank">{{cliente}}</a>
                                </td>
                                <td class="hide_operacion">
                                    <a href="#lev_Backlog/{{@key}}" target="_blank">{{numero_de_backlog}}</a>
                                </td>
                                <td class="hide_tipo_bien">{{tipo_bien}}</td>
                                <td bgcolor="{{colorDispLinea}}" class="hide_monto_original">{{customFormatNumber monto_original}}</td>
                                <td class="hide_monto_comprometido">{{customFormatNumber monto_comprometido}}</td>
                                <td class="hide_ri_comprometida">{{customFormatNumber ri_comprometida}}</td>
                                <td class="hide_monto_diferencia">{{customFormatNumber monto_diferencia}}</td>
                                <td class="hide_monto_final_comprometido">{{customFormatNumber monto_final_comprometido}}</td>
                                <td class="hide_ri_final_comprometida">{{customFormatNumber ri_final_comprometida}}</td>
                                <!--<td class="hide_bl_actual">{{customFormatNumber bl_actual}}</td>-->
                                <td class="hide_pipeline_posterior">{{customFormatNumber pipeline_posterior}}</td>
                                <td class="hide_monto_real">{{customFormatNumber monto_real}}</td>
                                <td class="hide_ri_real">{{customFormatNumber renta_real}}</td>
                                <td class="hide_monto_cancelado" >{{customFormatNumber monto_cancelado}}</td>
                                <td class="hide_ri_cancelada">{{customFormatNumber ri_cancelada}}</td>
                                <td class="hide_tipo_operacion">{{tipo_operacion}}</td>
                                <td class="hide_etapa_preliminar">{{etapa_preliminar}}</td>
                                <td class="hide_etapa">{{etapa}}</td>
                                <td class="hide_progreso">{{progreso}}</td>
                                <!--<td>-->
                                <!--<a href="#Opportunities/{{oppId}}" target="_blank">{{No_Solicitud}}</a>-->
                                <!--</td>-->

                            </tr>
                        {{/each}}
                    {{/each}}

                    {{#if Children}}
                        {{#each Children}}
                            {{#each this}}
                                {{#each this}}
                                    {{#each this}}
                                        <tr bgcolor="{{color}}" class="backlog-dashlet-row">
                                            <td class="hide_acciones">
                                                <div class="btn-toolbar" style="margin: 0px;padding-left:0px;">
                                                    <div class="btn-group">
                                                        <!--<span class="btn Comprometer icon-ok" title="Comprometer" data-id="{{@key}}" data-name="{{name}}" data-monto="${{customFormatNumber monto_comprometido}}" data-monto-original="{{customFormatNumber monto_original}}" data-renta_inicial="${{customFormatNumber ri_comprometida}}" data-mes="{{mes_int}}" data-anio="{{anio}}" data-estatus="{{estatus_de_la_operacion}}" data-porciento="{{porciento_ri}}" data-progreso="{{progreso}}"></span>-->
                                                        <span class="btn MoverOperacion fa fa-hand-o-up" title="Mover a otro mes" data-id="{{@key}}" data-name="{{name}}" data-monto="${{customFormatNumber monto_comprometido}}" data-mes="{{mes_int}}" data-anio="{{anio}}" data-estatus="{{estatus_de_la_operacion}}" data-progreso="{{progreso}}"></span>
                                                        <span class="btn Cancelar fa fa-times-circle" title="Cancelar" data-oppId="{{oppId}}" data-id="{{@key}}" data-name="{{name}}" data-monto="${{customFormatNumber monto_comprometido}}" data-renta_inicial="${{customFormatNumber ri_comprometida}}" data-estatus="{{estatus_de_la_operacion}}" data-mes="{{mes_int}}" data-anio="{{anio}}" data-oppTipo="{{tipo_operacion}}" data-progreso="{{progreso}}"></span>
                                                        <span class="btn Comentario fa {{comentado}}" title="Comentario" data-id="{{@key}}" data-name="{{name}}" data-monto="${{customFormatNumber monto_comprometido}}" data-mreal="${{customFormatNumber monto_real}}" data-comentarios="{{comentarios}}" data-progreso="{{progreso}}"></span>
                                                        <span class="btn Revivir fa fa-repeat" title="Revivir" data-id="{{@key}}" data-name="{{name}}" data-monto="${{customFormatNumber monto_comprometido}}" data-mreal="${{customFormatNumber monto_real}}" data-mes="{{mes_int}}" data-anio="{{anio}}" data-progreso="{{progreso}}"></span>
                                                    </div>
                                                </div>
                                            </td>
                                            <!--<tr class="backlog-dashlet-row">-->
                                            <!--<td>
                                            <input type="checkbox" class="mass_update" value="{{@key}}" {{estatus_checked}} {{mass_checked}}/>
                                        </td>-->
                                            <td class="hide_estatus">{{estatus_de_la_operacion}}</td>
                                            <td class="hide_mes">{{mes}}-{{anio}}</td>
                                            <td class="hide_equipo">{{equipo}}</td>
                                            <td class="hide_zona">{{zona}}</td>
                                            <td class="hide_promotor" title="{{promotor}}">{{iniciales}}</td>
                                            <td class="hide_cliente">
                                                <a href="#Accounts/{{clienteId}}" target="_blank">{{cliente}}</a>
                                            </td>
                                            <td class="hide_operacion">
                                                <a href="#lev_Backlog/{{@key}}" target="_blank">{{numero_de_backlog}}</a>
                                            </td>
                                            <td class="hide_tipo_bien">{{tipo_bien}}</td>
                                            <td bgcolor="{{colorDispLinea}}" class="hide_monto_original">{{customFormatNumber monto_original}}</td>
                                            <td class="hide_monto_comprometido">{{customFormatNumber monto_comprometido}}</td>
                                            <td class="hide_ri_comprometida">{{customFormatNumber ri_comprometida}}</td>
                                            <td class="hide_monto_diferencia">{{customFormatNumber monto_diferencia}}</td>
                                            <td class="hide_monto_final_comprometido">{{customFormatNumber monto_final_comprometido}}</td>
                                            <td class="hide_ri_final_comprometida">{{customFormatNumber ri_final_comprometida}}</td>
                                            <!--<td class="hide_bl_actual">{{customFormatNumber bl_actual}}</td>-->
                                            <td class="hide_pipeline_posterior">{{customFormatNumber pipeline_posterior}}</td>
                                            <td class="hide_monto_real">{{customFormatNumber monto_real}}</td>
                                            <td class="hide_ri_real">{{customFormatNumber renta_real}}</td>
                                            <td class="hide_monto_cancelado">{{customFormatNumber monto_cancelado}}</td>
                                            <td class="hide_ri_cancelada">{{customFormatNumber ri_cancelada}}</td>
                                            <td class="hide_tipo_operacion">{{tipo_operacion}}</td>
                                            <td class="hide_etapa_preliminar">{{etapa_preliminar}}</td>
                                            <td class="hide_etapa">{{etapa}}</td>
                                            <td class="hide_progreso">{{progreso}}</td>
                                            <!--<td>-->
                                            <!--<a href="#Opportunities/{{oppId}}" target="_blank">{{No_Solicitud}}</a>-->
                                            <!--</td>-->

                                        </tr>
                                    {{/each}}
                                {{/each}}
                            {{/each}}
                        {{/each}}
                    {{/if}}
                {{/each}}
            </table>
        </div>
    </div>
</div>

<script>
    $(function () {
        $(".popup").draggable();
    });

    $('#estatus_filtro').select2({
        width:'100%',
        minimumResultsForSearch:7,
        closeOnSelect: false,
        containerCssClass: 'select2-choices-pills-close'
    });
</script>