{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
{{!-- File selector --}}
<div class="file-select{{#if value.length}} hidden{{/if}}">
    <label class="btn file-selector p-0 m-0 border border-[--border-color] rounded-sm w-full h-full">
        <span class="border border-[--border-color] rounded-sm p-1 ml-1">{{str 'LBL_ADD_ATTACHMENT' module}}</span>
        <input id="{{cid}}" name="{{name}}" data-action="selectFile" class="opacity-0" type="file">
    </label>

    <div class="external-api-direction-selector">
        {{partial 'edit-api-direction-selector' this this}}
    </div>
</div>

{{!-- File name display --}}
<div class="file-name">
    {{partial 'edit-filename' this this}}
</div>
{{#unless hideHelp}}{{#if def.help}}<p class="help-block">{{str def.help module}}</p>{{/if}}{{/unless}}
