{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/06_Customer_Center/10_Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div id="dnb-lite-company-detail-loading" class="block-footer">
    {{str "LBL_DNB_LITE_COMPANY_INFO_LOADING"}}
</div>
<div id="dnb-lite-company-details">
    {{#if product}}
        <div class='dnb-show-less'>
        <ul class="unstyled listed">
            {{#if product.Organization.SubjectHeader.TransferDUNSNumberRegistration.0.TransferredFromDUNSNumber}}
                <li>
                    <div class="dnb-company-label">{{str "LBL_DNB_TF_DUNS"}}</div>
                    <div class="txt import-data">
                        {{product.Organization.SubjectHeader.TransferDUNSNumberRegistration.0.TransferredFromDUNSNumber}}
                    </div>
                </li>
            {{/if}}
        <!--Total Inquires Count -->
            {{#if product.Organization.SubjectHeader.TotalInquiriesCount}}
            <li>
                <div class="dnb-company-label">
                    {{str "LBL_DNB_TOTAL_INQUIRY_COUNT"}}
                </div>
                <div class="txt import-data">
                    {{product.Organization.SubjectHeader.TotalInquiriesCount}}<br/>
                </div>
            </li>
        {{/if}}
        <!--Marketability Indicator -->
            {{#if product.Organization.SubjectHeader.MarketabilityIndicator}}
                <li>
                    <div class='dnb-company-label'>{{str "LBL_DNB_MARKETABILITY_INDICATOR"}}</div>
                    <div class='txt import-data'>
                        {{product.Organization.SubjectHeader.MarketabilityIndicator}}
                    </div>
                </li>
            {{/if}}
        <!-- Non Marketable Reason Text -->
            {{#if product.Organization.SubjectHeader.NonMarketableReasonText.0.$}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_NON_MARKETABILITY_INDICATOR"}}
                    </div>
                    <div class='txt import-data'>
                        {{product.Organization.SubjectHeader.NonMarketableReasonText.0.$}}
                    </div>
                </li>
            {{/if}}
            <!-- Industry Code -->
            {{#if product.Organization.IndustryCode.IndustryCode}}
                {{#each product.Organization.IndustryCode.IndustryCode}}
                    <li>
                        <div class='dnb-company-label'>
                            {{this.[@TypeText]}}:{{this.IndustryCode.$}}
                            {{#if this.DisplaySequence}}
                                {{#eq this.DisplaySequence '1'}}
                                    <span class="label label-success pull-right" data-placement="right">{{str "LBL_DNB_PRIMARY"}}</span>
                                {{/eq}}
                            {{/if}}
                        </div>
                        <div class='txt import-data'>
                            {{this.IndustryCodeDescription.0.$}}
                        </div>
                    </li>
                {{/each}}
            {{/if}}
            <!-- Registered Address Indicator -->
            {{#if product.Organization.Location.PrimaryAddress.0.RegisteredAddressIndicator}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_REGISTERED_ADDRESS_INDICATOR"}}
                    </div>
                    <div class='txt import-data'>
                        {{product.Organization.Location.PrimaryAddress.0.RegisteredAddressIndicator}}
                    </div>
                </li>
            {{/if}}
            <!-- Residential Address Indicator-->
            {{#if product.Organization.Location.PrimaryAddress.0.ResidentialAddressIndicator}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_RESIDENTIAL_ADDRESS_INDICATOR"}}
                    </div>
                    <div class='txt import-data'>
                        {{product.Organization.Location.PrimaryAddress.0.ResidentialAddressIndicator}}
                    </div>
                </li>
            {{/if}}
            <!-- Last Update Date -->
            {{#if product.Organization.SubjectHeader.LastUpdateDate.$}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_LAST_UPDATE"}}
                    </div>
                    <div class='txt import-data'>
                        {{product.Organization.SubjectHeader.LastUpdateDate.$}}
                    </div>
                </li>
            {{/if}}
            <!-- Street Address Line Text -->
            {{#if product.Organization.Location.PrimaryAddress.0.StreetAddressLine.0.LineText}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_STREET_ADDRESSLINE"}}
                    </div>
                    <div class='txt import-data'>
                        {{product.Organization.Location.PrimaryAddress.0.StreetAddressLine.0.LineText}}
                    </div>
                </li>
            {{/if}}
            <!-- County Official Name-->
            {{#if product.Organization.Location.PrimaryAddress.0.CountyOfficialName}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_COUNTRY_OFFICIAL_NAME"}}
                    </div>
                    <div class='txt import-data'>
                        {{product.Organization.Location.PrimaryAddress.0.CountyOfficialName}}
                    </div>
                </li>
            {{/if}}
            <!-- Territory Official Name -->
            {{#if product.Organization.Location.PrimaryAddress.0.TerritoryOfficialName}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_TERRITORY_OFFICIAL_NAME"}}
                    </div>
                    <div class='txt import-data'>
                        {{product.Organization.Location.PrimaryAddress.0.TerritoryOfficialName}}
                    </div>
                </li>
            {{/if}}
            <!-- Territory Abbreviated Name -->
            {{#if product.Organization.Location.PrimaryAddress.0.TerritoryAbbreviatedName}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_TERRITORY_ABBREVIATED_NAME"}}
                    </div>
                    <div class='txt import-data'>
                        {{product.Organization.Location.PrimaryAddress.0.TerritoryAbbreviatedName}}
                    </div>
                </li>
            {{/if}}
            <!-- Country Group Name -->
            {{#if product.Organization.Location.PrimaryAddress.0.CountryGroupName}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_COUNTRY_GROUP_NAME"}}
                    </div>
                    <div class='txt import-data'>
                        {{product.Organization.Location.PrimaryAddress.0.CountryGroupName}}
                    </div>
                </li>
            {{/if}}
            <!-- Geographical Precision Text -->
            {{#if product.Organization.Location.PrimaryAddress.0.GeographicalPrecisionText.$}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_GEOGRAPHICAL_NAME"}}
                    </div>
                    <div class='txt import-data'>
                        {{product.Organization.Location.PrimaryAddress.0.GeographicalPrecisionText.$}}
                    </div>
                </li>
            {{/if}}
            <!-- Metropolitan Stat Code -->
            {{#if product.Organization.Location.PrimaryAddress.0.MetropolitanStatisticalAreaUSCensusCode}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_METROPOLITAN_STAT_CODE"}}
                    </div>
                    <div class='txt import-data'>
                        {{product.Organization.Location.PrimaryAddress.0.MetropolitanStatisticalAreaUSCensusCode}}
                    </div>
                </li>
            {{/if}}
            <!-- Telecommunication Number -->
            {{#if product.Organization.Telecommunication.TelephoneNumber.0.TelecommunicationNumber}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_TELECOMMUNICATION_NUMBER"}}
                    </div>
                    <div class='txt import-data'>
                        {{product.Organization.Telecommunication.TelephoneNumber.0.TelecommunicationNumber}}
                    </div>
                </li>
            {{/if}}
            <!-- Facsimile Number-->
            {{#if product.Organization.Telecommunication.FacsimileNumber.0.TelecommunicationNumber}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_FACSIMILE_NUMBER"}}
                    </div>
                    <div class='txt import-data'>
                        {{product.Organization.Telecommunication.FacsimileNumber.0.TelecommunicationNumber}}
                    </div>
                </li>
            {{/if}}
            <!-- Latitude Measurement-->
            {{#if product.Organization.Location.PrimaryAddress.0.LatitudeMeasurement}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_LATITUDE_MEASUREMENT"}}
                    </div>
                    <div class='txt import-data'>
                        {{product.Organization.Location.PrimaryAddress.0.LatitudeMeasurement}}
                    </div>
                </li>
            {{/if}}
            <!-- Longitude Measurement-->
            {{#if product.Organization.Location.PrimaryAddress.0.LongitudeMeasurement}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_LATITUDE_MEASUREMENT"}}
                    </div>
                    <div class='txt import-data'>
                        {{product.Organization.Location.PrimaryAddress.0.LongitudeMeasurement}}
                    </div>
                </li>
            {{/if}}
            <!-- International Dialling Code -->
            {{#if product.Organization.Telecommunication.TelephoneNumber.0.InternationalDialingCode}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_INT_DIALLING_CODE"}}
                    </div>
                    <div class='txt import-data'>
                        {{product.Organization.Telecommunication.TelephoneNumber.0.InternationalDialingCode}}
                    </div>
                </li>
            {{/if}}
            <!-- Incorporation Year-->
            {{#if product.Organization.RegisteredDetail.IncorporationYear}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_INCORPORATION_YEAR"}}
                    </div>
                    <div class='txt import-data'>
                        {{product.Organization.RegisteredDetail.IncorporationYear}}
                    </div>
                </li>
            {{/if}}
            <!-- Organization Identification Number-->
            {{#if product.Organization.RegisteredDetail.OrganizationIdentificationNumberDetail.0.OrganizationIdentificationNumber}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_ORGANISATION_IDENTIFICATION_NUMBER"}}
                    </div>
                    <div class='txt import-data'>
                        {{product.Organization.RegisteredDetail.OrganizationIdentificationNumberDetail.0.OrganizationIdentificationNumber}}
                    </div>
                </li>
            {{/if}}
            <!-- Organisation Identification Number Start Date -->
            {{#if product.Organization.RegisteredDetail.OrganizationIdentificationNumberDetail.0.StartDate.$}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_ORGANISATION_IDENTIFICATION_START_DATE"}}
                    </div>
                    <div class='txt import-data'>
                        {{product.Organization.RegisteredDetail.OrganizationIdentificationNumberDetail.0.StartDate.$}}
                    </div>
                </li>
            {{/if}}
            <!-- Filling Organization Name -->
            {{#if product.Organization.RegisteredDetail.OrganizationIdentificationNumberDetail.0.FilingOrganizationName}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_FILLING_ORGANISATION_NAME"}}
                    </div>
                    <div class='txt import-data'>
                        {{product.Organization.RegisteredDetail.OrganizationIdentificationNumberDetail.0.FilingOrganizationName}}
                    </div>
                </li>
            {{/if}}
            <!-- Stock Exchange Ticker Name -->
            {{#if product.Organization.RegisteredDetail.StockExchangeDetails0.StockExchangeTickerName}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_STOCK_EXCHANGE_TICKER__NAME"}}
                    </div>
                    <div class='txt import-data'>
                        {{product.Organization.RegisteredDetail.StockExchangeDetails0.StockExchangeTickerName}}
                    </div>
                </li>
            {{/if}}
            <!-- Country ISO Alpha 2 Code -->
            {{#if product.Organization.Location.PrimaryAddress.0.CountryISOAlpha2Code}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_CI_CTRY"}}
                    </div>
                    <div class='txt'>
                        {{product.Organization.Location.PrimaryAddress.0.CountryISOAlpha2Code}}
                    </div>
                </li>
            {{/if}}
            <!-- Line of Business Description -->
            {{#if product.Organization.ActivitiesAndOperations.LineOfBusinessDetails.0.LineOfBusinessDescription.$}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_LINE_OF_BUSINESS_DESCRIPTION"}}
                    </div>
                    <div class='txt import-data'>
                        {{product.Organization.ActivitiesAndOperations.LineOfBusinessDetails.0.LineOfBusinessDescription.$}}
                    </div>
                </li>
            {{/if}}
            <!-- Import Indicator-->
            {{#if product.Organization.ActivitiesAndOperations.ImportDetails.ImportIndicator}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_IMPORT_DETAILS_INDICATOR"}}
                    </div>
                    <div class='txt import-data'>
                        {{product.Organization.ActivitiesAndOperations.ImportDetails.ImportIndicator}}
                    </div>
                </li>
            {{/if}}
            <!-- Export Indicator-->
            {{#if product.Organization.ActivitiesAndOperations.ExportDetails.ExportIndicator}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_EXPORT_DETAILS_INDICATOR"}}
                    </div>
                    <div class='txt import-data'>
                        {{product.Organization.ActivitiesAndOperations.ExportDetails.ExportIndicator}}
                    </div>
                </li>
            {{/if}}
            <!-- Agent Indicator-->
            {{#if product.Organization.ActivitiesAndOperations.SubjectIsAgentDetails.AgentIndicator}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_AGENT_INDICATOR"}}
                    </div>
                    <div class='txt import-data'>
                        {{product.Organization.ActivitiesAndOperations.SubjectIsAgentDetails.AgentIndicator}}
                    </div>
                </li>
            {{/if}}
            <!-- Total Employee Quantity-->
            {{#if product.Organization.EmployeeFigures.IndividualEntityEmployeeDetails.TotalEmployeeQuantity}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_TOTAL_EMPLOYEE_QUANTITY"}}
                    </div>
                    <div class='txt import-data'>
                        {{product.Organization.EmployeeFigures.IndividualEntityEmployeeDetails.TotalEmployeeQuantity}}
                    </div>
                </li>
            {{/if}}
            <!-- Sales Revenue-->
            {{#if product.Organization.Financial.KeyFinancialFiguresOverview.0.SalesRevenueAmount.0.$}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_ANNUAL_SALES_US_DOLLAR"}}
                    </div>
                    <div class='txt'>
                        {{product.Organization.Financial.KeyFinancialFiguresOverview.0.SalesRevenueAmount.0.$}}
                    </div>
                </li>
            {{/if}}
            <!-- Family Tree Member Role-->
            {{#if product.Organization.OrganizationDetail.FamilyTreeMemberRole.0.FamilyTreeMemberRoleText.$}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_FAMILY_TREE_MEMBER_ROLE"}}
                    </div>
                    <div class='txt'>
                        {{product.Organization.OrganizationDetail.FamilyTreeMemberRole.0.FamilyTreeMemberRoleText.$}}
                    </div>
                </li>
            {{/if}}
            <!-- Principal Name-->
            {{#if product.Organization.PrincipalsAndManagement.CurrentPrincipal.0.PrincipalName.FullName}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_CURRENT_PRINCIPAL_FULL_NAME"}}
                    </div>
                    <div class='txt import-data'>
                        {{product.Organization.PrincipalsAndManagement.CurrentPrincipal.0.PrincipalName.FullName}}
                    </div>
                </li>
            {{/if}}
            <!-- Job Title-->
            {{#if product.Organization.PrincipalsAndManagement.CurrentPrincipal.0.JobTitle.0.JobTitleText.$}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_JOB_TITLE_TEXT"}}
                    </div>
                    <div class='txt'>
                        {{product.Organization.PrincipalsAndManagement.CurrentPrincipal.0.JobTitle.0.JobTitleText.$}}
                    </div>
                </li>
            {{/if}}
            <!-- Primary Town Name-->
            {{#if product.Organization.Location.PrimaryAddress.0.PrimaryTownName}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_CI_CITY"}}
                    </div>
                    <div class='txt'>
                        {{product.Organization.Location.PrimaryAddress.0.PrimaryTownName}}
                    </div>
                </li>
            {{/if}}
            <!-- Duns Number-->
            {{#if OrderProductResponse.OrderProductResponseDetail.InquiryDetail.DUNSNumber}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_DUNS_NUMBER"}}
                    </div>
                    <div class='txt'>
                        {{OrderProductResponse.OrderProductResponseDetail.InquiryDetail.DUNSNumber}}
                    </div>
                </li>
            {{/if}}
            <!-- Country ISO Alpha Code-->
            {{#if product.Organization.Location.MailingAddress.0.CountryISOAlpha2Code}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_CI_CTRY"}}
                    </div>
                    <div class='txt'>
                        {{product.Organization.Location.MailingAddress.0.CountryISOAlpha2Code}}
                    </div>
                </li>
            {{/if}}
            <!-- Industry Code-->
            {{#if product.Organization.IndustryCode.IndustryCode.0.["@TypeText"]}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_PRIMARY_SIC_TYPE"}}
                    </div>
                    <div class='txt'>
                        {{product.Organization.IndustryCode.IndustryCode.0.["@TypeText"]}}
                    </div>
                </li>
            {{/if}}
            <!-- Postal Code-->
            {{#if product.Organization.Location.PrimaryAddress.0.PostalCode}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_CI_POSTAL_CD"}}
                    </div>
                    <div class='txt'>
                        {{product.Organization.Location.PrimaryAddress.0.PostalCode}}
                    </div>
                </li>
            {{/if}}
            <!-- Organization Summary Text -->
            {{#if product.Organization.SubjectHeader.OrganizationSummaryText}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_SUMMARY"}}
                    </div>
                    <div class='txt import-data'>
                        {{{product.Organization.SubjectHeader.OrganizationSummaryText}}}
                    </div>
                </li>
            {{/if}}
            <!-- Duns Self Request Indicator-->
            {{#if product.Organization.SubjectHeader.DUNSSelfRequestIndicator}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_SELF_REQUEST_INDICATOR"}}
                    </div>
                    <div class='txt import-data'>
                        {{product.Organization.SubjectHeader.DUNSSelfRequestIndicator}}
                    </div>
                </li>
            {{/if}}
            <!-- Country ISO Alpha Code-->
            {{#if product.Organization.RegisteredDetail.StockExchangeDetails.0.CountryISOAlpha2Code}}
                <li>
                    <div class='dnb-company-label'>
                        {{str "LBL_DNB_STOCK_EXCHANGE_COUNTRY_ISO_ALPHA_CODE"}}
                    </div>
                    <div class='txt import-data'>
                        {{product.Organization.RegisteredDetail.StockExchangeDetails.0.CountryISOAlpha2Code}}
                    </div>
                </li>
            {{/if}}
        </ul>
        </div>
        <div class="dnb-show-more">
            <a class="showMoreData more">{{str "LBL_DNB_SHOW_MORE"}} <i class="icon-chevron-down"></i></a>
            <a class="showLessData less">{{str "LBL_DNB_SHOW_LESS"}} <i class="icon-chevron-up"></i></a>
        </div>
    {{else}}
        <aside class='create-no-data'>
            {{#if errmsg}}
                <em>{{errmsg}}</em>
            {{else}}
                <em>{{str "LBL_DNB_NO_DATA"}}</em>
            {{/if}}
        </aside>
    {{/if}}
</div>
