
    <div class="span12">

        <div class="description">
            No Serie FIEL
            <br>
            <input type="text" class="noFIEL" value="{{tct_pld_campo1_txt}}" data-field="campo1" style="width: 50%;margin: 0px;"/>
            </td>
        </div>
    </div>
    <br>
    <br>
    <div class="row-fluid">
        <div class="span6">

            <div class="description">
                ¿Usted actúa a nombre y por cuenta propia o a nombre y por cuenta de un tercero?
                <br>
                <input type="text" class="noFIEL" value="{{tct_pld_campo2_ddw}}" data-field="campo2" style="width: 50%;margin: 0px;"/>
                </td>
            </div>
        </div>

            <div class="span6">
            <div class="description">
                ¿Los recursos son propios o los recursos son de un tercero?
                <br>
                <input type="text" class="noFIEL" value="{{tct_pld_campo4_ddw}}" data-field="campo4" style="width: 50%;margin: 0px;"/>
            </div>
            </div>
    <br>
    <br>
        <div class="row-fluid">

    <div class="span6">
        <div class="description">
            Propietario Real
            <br>
            <input type="text" class="noFIEL" value="{{tct_pld_campo3_rel}}" data-field="campo3" style="width: 50%;margin: 0px;"/>
        </div>
    </div>

    <div class="span6">
        <div class="description">
            Proveedor de Recursos
            <br>
            <input type="text" class="noFIEL" value="{{tct_pld_campo5_rel}}" data-field="campo5" style="width: 50%;margin: 0px;"/>
        </div>
    </div>

            <div class="row-fluid">
                <div class="span6">
                    <div class="description">
                        ¿Espera realizar pagos anticipados a su crédito?
                        <br>
                        <input type="text" class="noFIEL" value="{{tct_pld_campo6_ddw}}" data-field="campo6" style="width: 50%;margin: 0px;"/>
                    </div>
                </div>

                    <div class="span6">
                        <div class="description">
                            ¿Instrumento monetario con el que espera realizar los pagos? (*Es posible elegir más de una opción)
                            <br>
                            <input type="text" class="noFIEL" value="{{tct_pld_campo16_ddw}}" data-field="campo7" style="width: 50%;margin: 0px;"/>
                        </div>
                    </div>


</div>



    </div>
</div>