
<div class="span12">

    <div class="description">
        <label class="record-label">No Serie FIEL</label>
        <br>
        <input type="text" class="noFIEL" value="{{tct_pld_campo1_txt}}" data-field="campo1" style="width: 50%;margin: 0px;"/>
        </td>
    </div>
</div>
<br>
<br>
<div class="row-fluid">
    <div class="span6">

        <div class="description">
            <label class="record-label">¿Usted actúa a nombre y por cuenta propia o a nombre y por cuenta de un tercero?</label>
            <br>
            <input type="text" class="noFIEL" value="{{tct_pld_campo2_ddw}}" data-field="campo2" style="width: 50%;margin: 0px;"/>
            </td>
        </div>
    </div>

    <div class="span6">
        <div class="description">
            <label class="record-label">¿Los recursos son propios o los recursos son de un tercero?</label>
            <br>
            <input type="text" class="noFIEL" value="{{tct_pld_campo4_ddw}}" data-field="campo4" style="width: 50%;margin: 0px;"/>
        </div>
    </div>
    <br>
    <br>
    <div class="row-fluid">

        <div class="span6">
            <div class="description">
                <label class="record-label">Propietario Real</label>
                <br>
                <input type="text" class="noFIEL" value="{{tct_pld_campo3_rel}}" data-field="campo3" style="width: 50%;margin: 0px;"/>
            </div>
        </div>

        <div class="span6">
            <div class="description">
                <label class="record-label">Proveedor de Recursos</label>
                <br>
                <input type="text" class="noFIEL" value="{{tct_pld_campo5_rel}}" data-field="campo5" style="width: 50%;margin: 0px;"/>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span6">
                <div class="description">
                    <label class="record-label">¿Espera realizar pagos anticipados a su crédito?</label>
                    <br>
                    <input type="text" class="noFIEL" value="{{tct_pld_campo6_ddw}}" data-field="campo6" style="width: 50%;margin: 0px;"/>
                </div>
            </div>

            <div class="span6">
                <div class="select2">
                    <label class="record-label">¿Instrumento monetario con el que espera realizar los pagos? (*Es posible elegir más de una opción)</label>
                    <br>
                    <input type="text" class="noFIEL" value="{{tct_pld_campo16_ddw}}" data-field="campo16" style="width: 50%;margin: 0px;"/>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span6">
                <div class="description">
                    <label class="record-label">Especifique:</label>
                    <br>
                    <input type="text" class="noFIEL" value="{{tct_pld_campo17_txt}}" data-field="campo17" style="width: 50%;margin: 0px;"/>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span6">
                <div class="select2">
                    <label class="record-label">¿Instrumento monetario con el que espera realizar los pagos? (*Es posible elegir más de una opción)</label>
                    <br>
                    <input type="text" class="noFIEL" value="{{tct_pld_campo18_ddw}}" data-field="campo18" style="width: 50%;margin: 0px;"/>
                </div>
            </div>

            <div class="span6">
                <div class="description">
                    <label class="record-label">Especifique:</label>
                    <br>
                    <input type="text" class="noFIEL" value="{{tct_pld_campo19_txt}}" data-field="campo19" style="width: 50%;margin: 0px;"/>
                </div>
            </div>
        </div>


        <!-- Campos de Persona Moral -->


        <div class="row-fluid">
            <div class="span6">
                <div class="description">
                    <label class="record-label">La persona moral es: Sofom, Transmisor de Dinero, Centro Cambiario?</label>
                    <br>
                    <input type="text" class="noFIEL" value="{{tct_pld_campo7_ddw}}" data-field="campo7" style="width: 50%;margin: 0px;"/>
                </div>
            </div>

            <div class="span6">
                <div class="description">
                    <label class="record-label">¿Cotiza en Bolsa?</label>
                    <br>
                    <input type="text" class="noFIEL" value="{{tct_pld_campo9_ddw}}" data-field="campo9" style="width: 50%;margin: 0px;"/>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span6">
                <div class="description">
                    <label class="record-label">Número de Registro ante la CNBV o Condusef</label>
                    <br>
                    <input type="text" class="noFIEL" value="{{tct_pld_campo8_txt}}" data-field="campo8" style="width: 50%;margin: 0px;"/>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span6">
                <div class="description">
                    <label class="record-label">Clave de Pizarra</label>
                    <br>
                    <input type="text" class="noFIEL" value="{{tct_pld_campo10_txt}}" data-field="campo10" style="width: 50%;margin: 0px;"/>
                </div>
            </div>

            <div class="span6">
                <div class="description">
                    <label class="record-label">Los recursos con los que va a celebrar su operación tiene su origen en su actividad mercantil, actividad u objeto social?</label>
                    <br>
                    <input type="text" class="noFIEL" value="{{tct_pld_campo11_ddw}}" data-field="campo11" style="width: 50%;margin: 0px;"/>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span6">
                <div class="description">
                    <label class="record-label">Otra:</label>
                    <br>
                    <input type="text" class="noFIEL" value="{{tct_pld_campo12_txt}}" data-field="campo12" style="width: 50%;margin: 0px;"/>
                </div>
            </div>

            <div class="span6">
                <div class="switch switch-mini round-switch">
                    <label class="record-label">¿Es Fideicomiso?</label>
                    <br>
                    <input type="checkbox" class="noFIEL" value="{{tct_pld_campo13_chk}}" data-field="campo13" style="width: 50%;margin: 0px;"/>
                </div>
            </div>
        </div>
        <!-- Fin Campos de Persona Moral -->


        <div class="row-fluid">
            <div class="switch switch-mini round-switch">
                <label class="record-label">¿Realizará pagos utilizando otro instrumento monetario?</label>
                <br>
                <input type="checkbox" class="noFIEL" value="{{tct_pld_campo14_chk}}" data-field="campo14"  style="width: 50%;margin: 0px;"/>
            </div>

            <div class="span6">
                <div class="description">
                    <label class="record-label">Especifique:</label>
                    <br>
                    <input type="text" class="noFIEL" value="{{tct_pld_campo15_txt}}" data-field="campo15" style="width: 50%;margin: 0px;"/>
                </div>
            </div>
        </div>


        <div class="row-fluid">
            <div class="span6">
                <div class="description">
                    <label class="record-label">¿Cuál es el destino de los recursos que va a obtener de la celebración de la operación?</label>
                    <br>
                    <input type="text" class="noFIEL" value="{{tct_pld_campo20_ddw}}" data-field="campo20" checked style="width: 50%;margin: 0px;"/>
                </div>
            </div>

            <div class="span6">
                <div class="description">
                    <label class="record-label">¿Con qué frecuencia o periodo realizará pagos a Unifin?</label>
                    <br>
                    <input type="text" class="noFIEL" value="{{tct_pld_campo21_ddw}}" data-field="campo21" style="width: 50%;margin: 0px;"/>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span6">
                <div class="description">
                    <label class="record-label">¿Número de pagos que espera realizar en cada periodo?</label>
                    <br>
                    <input type="text" class="noFIEL" value="{{tct_pld_campo22_int}}" data-field="campo22" style="width: 50%;margin: 0px;"/>
                </div>
            </div>

            <div class="span6">
                <div class="description">
                    <label class="record-label">¿Monto total aproximado que espera realizar en el periodo?</label>
                    <br>
                    <input type="text" class="noFIEL" value="{{tct_pld_campo23_dec}}" data-field="campo23" style="width: 50%;margin: 0px;"/>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span6">
                <div class="description">
                    <label class="record-label">¿Cuál es el destino de los recursos que obtendrá de la celebración de esta operación?</label>
                    <br>
                    <input type="text" class="noFIEL" value="{{tct_pld_campo24_ddw}}" data-field="campo24"  style="width: 50%;margin: 0px;"/>
                </div>
            </div>

            <div class="span6">
                <div class="description">
                    <label class="record-label">Los recursos con los que va a celebrar su operación están destinados a</label>
                    <br>
                    <input type="text" class="noFIEL" value="{{tct_pld_campo25_ddw}}" data-field="campo25" style="width: 50%;margin: 0px;"/>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span6">
                <div class="description">
                    <label class="record-label">Especifique:</label>
                    <br>
                    <input type="text" class="noFIEL" value="{{tct_pld_campo26_txt}}" data-field="campo26"  style="width: 50%;margin: 0px;"/>
                </div>
            </div>

            <div class="span6">
                <div class="description">
                    <label class="record-label">Tipo producto</label>
                    <br>
                    <input type="text" class="noFIEL" value="{{tct_pld_campo27_txt}}" data-field="campo27" style="width: 50%;margin: 0px;"/>
                </div>
            </div>
        </div>







    </div>



</div>
</div>