<style>
    .borde-Contenedor {
        border: 2px solid #58749a;
        border-radius: 12px;
        width: 100%;
        padding: 5px;
        margin-bottom: 8px;
    }

    .tituloProducto {
        background-color: #001441;
        color: #fff;
        border-radius: 12px;
        width: 100%;
        padding: 5px;
        margin-bottom: 8px;
    }
</style>
<script>
    $('#states3').select2({
        minimumResultsForSearch: 5,
        allowClear: true
    });
    $('#states2').select2({
        minimumResultsForSearch: 5,
        allowClear: true
    });
    var $select = $('select.select2');
    $select.select2();

</script>
<div class="control-group">
    <div class="content_ap">
        <!-- Seccion Arrendamiento Puro -->
        <div class="content-AP">
            <div class="tituloProducto">
                <h4><b>Arrendamiento Puro</b></h4>
            </div>
        </div>
        <div class="container-AP borde-Contenedor">
            <!-- Fila 1 AP -->
            <div class="row-fluid Fila1-AP">
                <div class="span6 campo1-ap">
                    <label class="record-label">No Serie FIEL</label>
                    <input type="text" class="campo1txt-ap" value="{{tct_pld_campo1_txt}}" data-field="campo1AP"/>
                </div>
            </div>
            <!-- Fila 2 AP -->
            <div class="row-fluid Fila2-AP">
                <div class="span6 campo2-ap">
                    <label class="record-label ">¿Usted actúa a nombre y por cuenta propia o a nombre y por
                        cuenta de un tercero?</label>
                    <select class="row-fluid campo2ddw-ap " data-field="campo2AP">
                        {{{lista_campo2}}}
                        <option value="" selected></option>
                    </select>
                </div>
                <div class="span6 campo3-ap">
                    <label class="record-label">Propietario Real</label>
                    <input type="text" class="campo3rel-ap" data-type="relate" data-field="campo3AP"/>
                </div>
            </div>
            <!-- Fila 3 AP -->
            <div class="row-fluid Fila3-AP">
                <div class="span6 campo4-ap">
                    <label class="record-label">¿Los recursos son propios o los recursos son de un tercero?</label>
                    <select class=" row-fluid campo4ddw-ap " data-field="campo4AP" placeholder="Select">
                        {{{lista_campo4}}}
                        <option value="" selected></option>
                    </select>
                </div>
                <div class="span6 campo5-ap">
                    <label class="record-label ">Proveedor de Recursos</label>
                    <input type="text" class="campo5rel-ap" value="{{tct_pld_campo5_rel}}" data-field="campo5AP"/>
                </div>
            </div>
            <!-- Fila 4.1 AP-PM -->
            <div class="row-fluid control-group fila4-PM">
                <!-- Fila 1 AP-PM -->
                <div class="row-fluid Fila1-PM">
                    <div class="span6 campo7-pm">
                        <label class="record-label">La persona moral es: Sofom, Transmisor de Dinero, Centro
                            Cambiario?</label>
                        <select class="campo7ddw-pm  row-fluid" data-field="campo7PM" id="state2" placeholder="Select">
                            {{{lista_campo7}}}
                        </select>
                    </div>
                    <div class="span6 campo8-PM">
                        <label class="record-label">Número de Registro ante la CNBV o Condusef</label>
                        <input type="text" class="campo8txt-pm" value="{{tct_pld_campo8_txt}}" data-field="campo8PM"/>
                    </div>
                </div>
                <!-- Fila 2 AP-PM -->
                <div class="row-fluid Fila2-PM">
                    <div class="span6 campo9-pm">
                        <label class="record-label">¿Cotiza en Bolsa?</label>
                        <select class="campo9ddw-pm  row-fluid" data-field="campo9PM" id="state2" placeholder="Select">
                            {{{ lista_campo9}}}
                        </select>
                    </div>
                    <div class="span6 campo10-PM">
                        <label class="record-label">Clave de Pizarra</label>
                        <input type="text" class="campo10txt-pm" value="{{tct_pld_campo10_txt}}"
                               data-field="campo10PM"/>
                    </div>
                </div>

            </div>
            <!-- Fila 4 AP si es diff PM-->
            <div class="row-fluid Fila4-AP">
                <div class="span6 campo6-ap">
                    <label class="record-label ">¿Espera realizar pagos anticipados a su crédito?</label>
                    <select class="campo6ddw-ap  row-fluid" data-field="campo6AP" id="state2" placeholder="Select">
                        {{{lista_campo6}}}
                    </select>
                </div>
                <div class="span6 campo16-ap">
                    <label class="record-label row-fluid">¿Instrumento monetario con el que espera realizar los pagos?
                        (*Es posible elegir más de una opción)</label>
                    <select class="campo16ddw-ap select2 row-fluid" id="multi11" multiple="multiple" size="6"
                            style="display:block;"
                            data-field="campo16AP" id="multi-campo16" placeholder="Select">
                        {{{lista_campo16}}}
                    </select>
                </div>
            </div>
            <!-- Fila 5 AP -->
            <div class="row-fluid Fila5-AP">
                <div class="span6 campo14-ap">
                    <label class="record-label">¿Realizará pagos utilizando otro instrumento monetario?</label>
                    <br>
                    <input type="checkbox" class="campo14chk-ap" value="{{tct_pld_campo14_chk}}"
                           data-field="campo14AP"/>
                </div>
                <div class="span6 campo17-ap">
                    <label class="record-label">Especifique:</label>
                    <input type="text" class="campo17txt-ap" value="{{tct_pld_campo17_txt}}" data-field="campo17AP"/>
                </div>
            </div>
            <!-- Fila 6 AP -->
            <div class="row-fluid Fila6-AP">
                <div class="span6 campo13-ap">
                    <label class="record-label">¿Es Fideicomiso??</label>
                    <br>
                    <input type="checkbox" class="campo13chk-pm" value="{{tct_pld_campo13_chk}}"
                           data-field="campo13PM"/>
                </div>

                <div class="span6 campo11-ap">
                    <label class="record-label">Los recursos con los que va a celebrar su operación tiene su origen
                        en su actividad mercantil, actividad u objeto social?</label>
                    <select class="campo11ddw-ap  row-fluid" data-field="campo11AP">
                        {{{lista_campo11}}}
                    </select>
                </div>
            </div>
            <!-- Fila 7 AP -->
            <div class="row-fluid Fila7-AP">
                <div class="span6 campo25-ap">
                    <label class="record-label">Los recursos con los que va a celebrar su operación están destinados
                        a</label>
                    <select class="campo25ddw-ap  row-fluid" data-field="campo25AP" placeholder="Select">
                        {{{lista_campo25}}}
                    </select>
                </div>
                <div class="span6 campo26-ap">
                    <label class="record-label">Especifique:</label>
                    <input type="text" class="campo26txt-ap" value="{{tct_pld_campo26_txt}}" data-field="campo26AP"/>
                </div>

            </div>
        </div>
    </div>

    <div class="content_ff">
        <!-- Seccion Factoraje Financiero -->
        <div class="content-FF">
            <div class="tituloProducto">
                <h4><b>Factoraje Financiero</b></h4>
            </div>
        </div>
        <div class="container-FF borde-Contenedor">
            <!-- Fila 1 FF -->
            <div class="row-fluid Fila1-FF">
                <div class="span6 campo1-ff">
                    <label class="record-label">No Serie FIEL</label>
                    <input type="text" class="campo1txt-ff" value="{{tct_pld_campo1_txt}}" data-field="campo1FF"/>
                </div>
            </div>
            <!-- Fila 2 FF -->
            <div class="row-fluid Fila2-FF">
                <div class="span6 campo2-ff">
                    <label class="record-label ">¿Usted actúa a nombre y por cuenta propia o a nombre y por
                        cuenta de un tercero?</label>
                    <select class="row-fluid campo2ddw-ff " data-field="campo2FF">
                        {{{lista_campo2}}}
                        <option value="" selected></option>
                    </select>
                </div>
                <div class="span6 campo3-ff">
                    <label class="record-label">Propietario Real</label>
                    <input type="text" class="campo3rel-ff" data-type="relate" data-field="campo3FF"/>
                </div>
            </div>
            <!-- Fila 3 FF -->
            <div class="row-fluid Fila3-FF">
                <div class="span6 campo4-ff">
                    <label class="record-label">¿Los recursos son propios o los recursos son de un tercero?</label>
                    <select class=" row-fluid campo4ddw-ff" data-field="campo4FF" placeholder="Select">
                        {{{lista_campo4}}}
                        <option value="" selected></option>
                    </select>
                </div>
                <div class="span6 campo5-ff">
                    <label class="record-label ">Proveedor de Recursos</label>
                    <input type="text" class="campo5rel-ff" value="{{tct_pld_campo5_rel}}" data-field="campo5FF"/>
                </div>
            </div>
            <!-- Fila 4 FF -->
            <div class="row-fluid Fila3-FF">
                <div class="span6 campo21-ff">
                    <label class="record-label">¿Con qué frecuencia o periodo realizará pagos a Unifin?</label>
                    <select class="campo21ddw-ff  row-fluid" data-field="campo21FF" placeholder="Select">
                        {{{lista_campo21}}}
                    </select>
                </div>
            </div>
            <!-- Fila 5 FF -->
            <div class="row-fluid Fila5-FF">
                <div class="span6 campo22-ff">
                    <label class="record-label">¿Número de pagos que espera realizar en cada
                        periodo?</label>
                    <input type="text" class="campo22txt-ff" value="{{tct_pld_campo22_int}}" data-field="campo22FF"/>
                </div>
                 <div class="span6 campo23-ff">
                    <label class="record-label">¿Monto total aproximado que espera realizar en el
                        periodo?</label>
                    <input type="text" data-type="currency" class="currency campo23dec-ff"
                           value="{{tct_pld_campo23_dec}}" data-field="campo23FF"/>
                 </div>
            </div>
            <!-- Fila 6 FF -->
            <div class="row-fluid Fila6-FF">
                <div class="span6 campo16-ff">
                    <label class="record-label">¿Instrumento monetario con el que espera realizar los pagos? (*Es
                        posible elegir más de una opción)</label>
                    <select class="select2 row-fluid campo16ddw-ff" id="multi12" multiple="multiple" size="6"
                            style="display:block;" data-field="campo16FF" id="multi-campo16" placeholder="Select">
                        {{{lista_campo16}}}
                    </select>
                </div>
                <div class="span6 campo17-ff">
                    <label class="record-label ">Especifique:</label>
                    <input type="text" class="campo17txt-ff" value="{{tct_pld_campo17_txt}}" data-field="campo17FF"/>
                </div>
            </div>
            <!-- Fila 7 FF -->
            <div class="row-fluid Fila7-FF">
                <div class="span6 campo14-ff">
                    <label class="record-label">¿Realizará pagos utilizando otro instrumento monetario?</label>
                    <br>
                    <input type="checkbox" class="campo14chk-ff" value="{{tct_pld_campo14_chkff}}"
                           data-field="campo14FF"/>
                </div>

            </div>
            <!-- Fila 8 FF -->
            <div class="row-fluid Fila8-FF">
                <div class="span6 campo24-ff">
                    <label class="record-label row-fluid">¿Cuál es el destino de los recursos que obtendrá de la
                        celebración de esta operación?</label>
                    <select class="campo24ddw-ff row-fluid " data-field="campo24FF">
                        {{{lista_campo24}}}
                    </select>
                </div>
                <div class="span6 campo6-ff">
                    <label class="record-label ">¿Espera realizar pagos anticipados a su crédito?</label>
                    <select class="campo6ddw-ff  row-fluid" data-field="campo6FF">
                        {{{lista_campo6}}}
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="content_ca">
        <!-- Seccion Crédito Automotriz   -->
        <div class="content-CA">
            <div class="tituloProducto">
                <h4><b>Crédito Automotriz</b></h4>
            </div>
        </div>
        <div class="container-CA borde-Contenedor">
            <!-- Fila 1 CA -->
            <div class="row-fluid Fila1-CA">
                <div class="span6 campo1-ca">
                    <label class="record-label">No Serie FIEL</label>
                    <input type="text" class="campo1txt-ca" value="{{tct_pld_campo1_txt}}" data-field="campo1CA"/>
                </div>
            </div>
            <!-- Fila 2 CA -->
            <div class="row-fluid Fila2-CA">
                <div class="span6 campo2-ca">
                    <label class="record-label ">¿Usted actúa a nombre y por cuenta propia o a nombre y por
                        cuenta de un tercero?</label>
                    <select class="row-fluid campo2ddw-ca " data-field="campo2CA">
                        {{{lista_campo2}}}
                        <option value="" selected></option>
                    </select>
                </div>
                <div class="span6 campo3-ca">
                    <label class="record-label">Propietario Real</label>
                    <input type="text" class="campo3rel-ca" data-type="relate" data-field="campo3CA"/>
                </div>
            </div>
            <!-- Fila 3 CA -->
            <div class="row-fluid Fila3-CA">
                <div class="span6 campo4-ca">
                    <label class="record-label">¿Los recursos son propios o los recursos son de un tercero?</label>
                    <select class=" row-fluid campo4ddw-ca" data-field="campo4CA" placeholder="Select">
                        {{{lista_campo4}}}
                        <option value="" selected></option>
                    </select>
                </div>
                <div class="span6 campo5-ca">
                    <label class="record-label ">Proveedor de Recursos</label>
                    <input type="text" class="campo5rel-ca" value="{{tct_pld_campo5_rel}}" data-field="campo5CA"/>
                </div>
            </div>
            <!-- Fila 4 CA -->
            <div class="row-fluid Fila8-CA">
                <div class="span6 campo6-ca">
                    <label class="record-label ">¿Espera realizar pagos anticipados a su crédito?</label>
                    <select class="campo6ddw-ca  row-fluid" data-field="campo6CA">
                        {{{lista_campo6}}}
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="content_cs">
        <!-- Seccion Crédito Simple   -->
        <div class="content-CS">
            <div class="tituloProducto">
                <h4><b>Crédito Simple</b></h4>
            </div>
        </div>
        <div class="container-CS borde-Contenedor">
            <!-- Fila 1 CS -->
            <div class="row-fluid Fila1-CS">
                <div class="span6 campo1-cs">
                    <label class="record-label">No Serie FIEL</label>
                    <input type="text" class="campo1txt-cs" value="{{tct_pld_campo1_txt}}" data-field="campo1CS"/>
                </div>
            </div>
            <!-- Fila 2 CS -->
            <div class="row-fluid Fila2-CS">
                <div class="span6 campo2-cs">
                    <label class="record-label ">¿Usted actúa a nombre y por cuenta propia o a nombre y por
                        cuenta de un tercero?</label>
                    <select class="row-fluid campo2ddw-cs" data-field="campo2CS">
                        {{{lista_campo2}}}
                    </select>
                </div>
                <div class="span6 campo3-cs">
                    <label class="record-label">Propietario Real</label>
                    <input type="text" class="campo3rel-cs" data-type="relate" data-field="campo3CS"/>
                </div>
            </div>
            <!-- Fila 3 CS -->
            <div class="row-fluid Fila3-CS">
                <div class="span6 campo4-cs">
                    <label class="record-label">¿Los recursos son propios o los recursos son de un tercero?</label>
                    <select class=" row-fluid campo4ddw-cs" data-field="campo4CS" placeholder="Select">
                        {{{lista_campo4}}}
                    </select>
                </div>
                <div class="span6 campo5-cs">
                    <label class="record-label ">Proveedor de Recursos</label>
                    <input type="text" class="campo5rel-cs" value="{{tct_pld_campo5_rel}}" data-field="campo5CS"/>
                </div>
            </div>
            <!-- Fila 4 CS -->
            <div class="row-fluid Fila3-CS">
                <div class="span6 camp18-cs">
                    <label class="record-label">¿Instrumento monetario con el que espera realizar los pagos? (*Es
                        posible elegir más de una opción)</label>
                    <select class="campo18ddw-cs multi-campo18 select2 row-fluid" id="multi13" multiple="multiple"
                            size="6"
                            style="display:block;" data-field="campo18CS" id="multi-campo18" placeholder="Select">
                        {{{lista_campo18}}}
                    </select>
                </div>
                <div class="span6 campo19-cs">
                    <label class="record-label">Especifique:</label>
                    <input type="text" class="campo19txt-cs" value="{{tct_pld_campo19_txt}}" data-field="campo19CS"/>
                </div>
            </div>
            <!-- Fila 5 CS -->
            <div class="row-fluid Fila3-CS">
                <div class="span6 camp14-cs">
                    <label class="record-label">¿Realizará pagos utilizando otro instrumento monetario?</label>
                    <br>
                    <input type="checkbox" class="campo14chk-cs" value="{{tct_pld_campo14_chk}}"
                           data-field="campo14CS"/>
                </div>

            </div>
            <!-- Fila 6 CS -->
            <div class="row-fluid Fila8-CS">
                <div class="span6 campo20-cs">
                    <label class="record-label">¿Cuál es el destino de los recursos que va a obtener de la celebración
                        de la operación?</label>
                    <select class="campo20ddw-cs  row-fluid " data-field="campo20CS">
                        {{{lista_campo20}}}
                    </select>
                </div>
                <div class="span6 campo6-cs">
                    <label class="record-label ">¿Espera realizar pagos anticipados a su crédito?</label>
                    <select class="campo6ddw-cs  row-fluid" data-field="campo6CS">
                        {{{lista_campo6}}}
                    </select>
                </div>
            </div>
        </div>
    </div>


</div>
