<!--
/*
 *  ECB - 2022-05-31
 *  CustomField - Participantes
 */
-->
<style>
  .table-container {
    border: 2px solid #055993;
    border-radius: 12px;
    padding: 10px;
    overflow-x: auto; /* Agregar scroll horizontal si es necesario */
  }
  
  .table {
    width: 100%;
    margin: 0; /* Elimina los márgenes adicionales */
  }
  .table th, .table td {
    padding: 8px; /* Asegúrate de que los paddings estén uniformes */
    box-sizing: border-box; /* Para incluir paddings y borders en el tamaño total */
  }
  
  .table thead th {
    background-color: #0679c8;
    color: #fff;
  }
</style>
<div style="border: 2px solid #055993;border-radius: 12px;padding:10px;">
  <!-- Tabla de asistentes-->
  <div class="list-view">
    <table id="tableParticipantes" class="table table-striped span12">
        <thead>
            <tr>
              <th width="10%">&nbsp;</th>
              <th width="10%">Invitar</th>
              <th width="25%">Participante</th>
              <th width="25%">Correo</th>
              <th width="20%">Teléfono</th>
              <th width="10%">Asistencia</th>
            </tr>
        </thead>
        <tbody>
          {{#each mParticipantes.participantes}}
            <tr>
                <td>
                  {{#if unifin}}
                    <button class="btn btn-primary">UNIFIN</button>
                  {{else}}
                    <button class="btn btn-success">Cuenta</button>
                  {{/if}}
                </td>
				<td class="CheckActionP" style="text-align:center" >
                    <button type="button" class="updateAsistencia" style="border-width:0;background-color: rgba(255,255,255,0.15);">
                    {{#if activo}}
                      <i class="sicon sicon-check" style="color: #04ff00; font-size:20px"></i>
                    {{else}}
                      <i class="sicon sicon-check" style="font-size:20px"></i>
                    {{/if}}
                  </button>
                </td>
                <td class="campo1SelectP">
                  {{nombres}} {{apaterno}} {{amaterno}}
                </td>
                <td class="campo2SelectP">
                    {{#if crea}}
					  {{#if unifin}}
						{{correo}}
					  {{else}}
						<input class="campo2P span3" type="text" value="{{correo}}" placeholder="Correo" data-field="tct_correo_c">
					  {{/if}}
                    {{else}}
					  {{correo}}
                    {{/if}}
                </td>
                <td class="campo3SelectP">
                    {{#if crea}}
					  {{#if unifin}}
						{{telefono}}
					  {{else}}
						<input class="campo3P span3" type="text" value="{{telefono}}" placeholder="Teléfono" maxlength="13" size="13">
					  {{/if}}
                    {{else}}
					  {{telefono}}
                    {{/if}}
                </td>
                <td class="CheckActionP" style="text-align:center" >
                    <button type="button" style="border-width:0;background-color: rgba(255,255,255,0.15);">
                    {{#if asistencia}}
                      <i class="sicon sicon-check" style="color: #04ff00; font-size:20px"></i>
                    {{else}}
                      <i class="sicon sicon-check" style="font-size:20px"></i>
                    {{/if}}
                  </button>
                </td>
            </tr>
          {{/each}}
        </tbody>
    </table>
  </div>

  <br>
  <!-- Formulario para nuevo registro-->
  <b>Nuevo Participante</b>
  <!-- Agrupador -->
  <div id="input">
    <!-- Línea 1 -->
    <div class="row-fluid">
      <div class="span4">
        <input type="text" class="newCampo1P span3" placeholder="Nombre">
      </div>
      <div class="span4">
        <input type="text" class="newCampo2P span3" placeholder="Apellido Paterno">
      </div>
      <div class="span4">
        <input type="text" class="newCampo3P span3" placeholder="Apellido Materno">
      </div>
    </div>
    <br>
    <!-- Línea 2 -->
    <div class="row-fluid">
      <div class="span4">
        <input type="text" class="newCampo4P span3" placeholder="Correo">
      </div>
      <div class="span4">
        <input type="text" class="newCampo5P span3" placeholder="Teléfono" maxlength="13" size="13">
      </div>
      <!-- Guardar btn -->
      <div class="span1">
        <a class="btn addParticipante">
          <i class="sicon sicon-plus"></i>
        </a>
      </div>
    </div>
    <!-- Línea 3 -->
    <b>Buscar participantes</b>
	  <div class="row-fluid">
          <div class="span8">
              <input type="hidden" class="bigdrop busca-participante row-fluid" id="buscar_participante" data-name="Buscar Participantes" data-field="participante"/>
          </div>
		  <!-- Guardar btn -->
		  <div class="span1">
			<a class="btn addParticipantes">
			  <i class="sicon sicon-plus"></i>
			</a>
		  </div>
      </div>
  </div>
</div>
{{#unless hideHelp}}{{#if def.help}}<p class="help-block">{{str def.help module}}</p>{{/if}}{{/unless}}
