{{#if this.loadView}}

    <style>
        .container {
            overflow-y: auto;
            display: block;
            width: 100%;
        }

        .leadsContainer {
            margin-top: 1%;
            overflow-y: auto;
            height: 300px;
        }

        /*Loading page*/
        .jm-loadingpage {
            /*position: fixed; */
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 999999999;
            background: url('http://localhost/unifinRediseno/custom/include/images/loading-13.gif') 50% 50% no-repeat;
            opacity: .8;
            background-size: 20%;
        }

        /*Loading page*/
        .leads {
            display: table;
            width: 90%;
        }
    </style>


    <div class="container">
        <!--   <h1 id="containerHeader" align="left">Reporte de Importaciones de Leads </h1> -->
        <hr style="margin: 5px">

        <div class="row-fluid">
            <div style="color: #e2efe2;background-color:#22608c;border-color:#22608c;border-radius: 10px;margin-left:15px;margin-right:15px;height: 35px;display: table;width: 95%;">
                <h1>
                    <p style="vertical-align: middle;  margin: 5px;">
                        &nbsp; Reporte de Importaciones de Leads
                    </p>
                </h1>
            </div>
        </div>

        <div class="record row-fluid panel_body">
            <div class="span6 record-cell">
                <div class="record-label">Nombre de la Carga</div>
                <span>
                <span>
                    <select id="CargaLeads" style="width: 70%;">{{{carga_list}}} </select>
                </span>
               </span>

            </div>
            <div class="span3 record-cell">

            </div>
            <div class="span3 record-cell">
                {{#if leads}}
                    <input type="button" value="Exportar Duplicados" id="btn_Duplicados" class="btn btn-primary"
                           btnState="Off"/>
                {{/if}}
            </div>
        </div> <!--Fin de panel_body -->

        <!-- Tabla Leads -->
        <div class="leadsContainer ">
            <div class="jm-loadingpage" style="display: none"></div>
            {{#if leads}}
                <table class="leads tcenter" align="center" border="1">
                    <tr>
                        <th width="20%">NOMBRE</th>
                        <th width="20%">TIPO</th>
                        <th width="20%">SUBTIPO</th>
                        <th width="20%">NOMBRE DE CARGA</th>
                        <th width="20%">RESULTADO DE CARGA</th>
                    </tr>
                    {{#each leads}}
                        <tr class='single'>

                            <td>
                    <span sfuuid='880' class='list'>
                          <div class='ellipsis_inline' data-placement='bottom'>
                              <span style='font-family: Helvetica, Arial, sans-serif; font-size: 12px;'>{{nombre_c}}</span>
                          </div>
                    </span>
                            </td>
                            <td>
                    <span sfuuid='880' class='list'>
                          <div class='ellipsis_inline' data-placement='bottom'>
                              <span style='font-family: Helvetica, Arial, sans-serif; font-size: 12px;'>{{tipo_registro_c}}</span>
                          </div>
                    </span>
                            </td>
                            <td>
                    <span sfuuid='880' class='list'>
                          <div class='ellipsis_inline' data-placement='bottom'>
                              <span style='font-family: Helvetica, Arial, sans-serif; font-size: 12px;'>{{subtipo_registro_c}}</span>
                          </div>
                    </span>
                            </td>
                            <td>
                    <span sfuuid='880' class='list'>
                          <div class='ellipsis_inline' data-placement='bottom'>
                              <span style='font-family: Helvetica, Arial, sans-serif; font-size: 12px;'>{{nombre_de_cargar_c}}</span>
                          </div>
                    </span>
                            </td>
                            <td>
                    <span sfuuid='880' class='list'>
                          <div class='ellipsis_inline' data-placement='bottom'>
                              <span style='font-family: Helvetica, Arial, sans-serif; font-size: 12px;'>{{resultado_de_carga_c}}</span>
                          </div>
                    </span>
                            </td>
                        </tr>
                    {{/each}}
                    <tr>
                        <td colspan="4"></td>
                        <td>
                            <div class="btn-group  btn-pagination" >
                                <a class="btn fa fa-caret-left" id="previous_offset"></a>
                                <a class="btn disabled" id="offset_value" from_set="" to_set=""
                                   total="{{../this.total}}"></a>
                                <a class="btn fa fa-caret-right" id="next_offset"></a>
                            </div>
                        </td>
                    </tr>
                </table>



            {{/if}}


        </div> <!-- Fin containerLeads -->
    </div> <!--Fin Container -->


{{/if}}
