<style>

    .enTiempo {
        color: green;
    }
    .atrasado {
        color: #ffd700;
    }

</style>
<div>
    <div>

    </div>
    <div>
        <table class="table table-bordered table-striped span12" style="overflow-x: scroll;">
            <thead>
                <tr>
                    <td><b>Nombre Cuenta</b></td>
                    <td><b>Monto</b></td>
	        		<td><b>Fecha Asignación</b></td>
	        		<td><b>Etapa</b></td>
                    <td><b>Estatus Producto</b></td>
                </tr>
            </thead>
            <tbody>
                {{#each dataCuentasExpActivo}}
                <tr>
                    <td><a href="#Accounts/{{idCuenta}}" target="_blank">{{nombreCuenta}}</a></td>
                    <td>{{Monto}}</td>
	        		<td>{{fecha_asignacion}}</td>
	        		<td>{{#if oppEtapa}}{{oppEtapa}}{{/if}}</td>
                    <td>{{#if EstatusProducto}}{{getUnifinListValue 'status_management_list' EstatusProducto}}{{/if}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div>
        <table border ="1" width = "100%">
          <tr>
             <td width = "50%">
                <caption>Monthly savings</caption>
                <table class="table table-bordered table-striped span12" style="overflow-x: scroll;">
                    <thead>
                      <tr>
                        <th><b>Nombre Cuenta</b></th>
                        <th><b>Monto</b></th>
	              		<th><b>Fecha Asignación</b></th>
	               		<th><b>Etapa</b></th>
                        <th><b>Estatus Producto</b></th>
                        <th><b>Semáforo</b></th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each dataCuentasExpActivo}}
                        <tr>
                            <td><a href="#Accounts/{{idCuenta}}" target="_blank">{{nombreCuenta}}</a></td>
                            <td>{{Monto}}</td>
		                  	<td>{{fecha_asignacion}}</td>
		                  	<td>{{#if oppEtapa}}{{oppEtapa}}{{/if}}</td>
                            <td>{{#if EstatusProducto}}{{getUnifinListValue 'status_management_list' EstatusProducto}}{{/if}}</td>
                            <td>{{#if semaforo}}<b class="enTiempo">En tiempo</b>{{else}}<b class="atrasado">Atrasado</b>{{/if}}</td>
                        </tr>
                     {{/each}}
                    </tbody>
                </table>
              </td>
              <td width = "50%">
                <caption>Monthly savings</caption>
                <table class="table table-bordered table-striped span12" style="overflow-x: scroll;">
                  <thead>
                      <tr>
                        <td><b>Nombre Cuenta</b></td>
                        <td><b>Monto</b></td>
			            <td><b>Fecha Asignación</b></td>
			            <td><b>Etapa</b></td>
                        <td><b>Estatus Producto</b></td>
                      </tr>
                  </thead>
                  <tbody>
                    {{#each dataCuentasExpActivo}}
                    <tr>
                        <td><a href="#Accounts/{{idCuenta}}" target="_blank">{{nombreCuenta}}</a></td>
                        <td>{{Monto}}</td>
		            	<td>{{fecha_asignacion}}</td>
		            	<td>{{#if oppEtapa}}{{oppEtapa}}{{/if}}</td>
                        <td>{{#if EstatusProducto}}{{getUnifinListValue 'status_management_list' EstatusProducto}}{{/if}}</td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </td>
		    </tr>
            <tr>
              <td width = "50%">
                <caption>Monthly savings</caption>
                <table class="table table-bordered table-striped span12" style="overflow-x: scroll;">
                    <thead>
                      <tr>
                        <th><b>Nombre Cuenta</b></th>
                        <th><b>Monto</b></th>
	              		<th><b>Fecha Asignación</b></th>
	               		<th><b>Etapa</b></th>
                        <th><b>Estatus Producto</b></th>
                        <th><b>Semáforo</b></th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each dataCuentasExpActivo}}
                        <tr>
                            <td><a href="#Accounts/{{idCuenta}}" target="_blank">{{nombreCuenta}}</a></td>
                            <td>{{Monto}}</td>
		                  	<td>{{fecha_asignacion}}</td>
		                  	<td>{{#if oppEtapa}}{{oppEtapa}}{{/if}}</td>
                            <td>{{#if EstatusProducto}}{{getUnifinListValue 'status_management_list' EstatusProducto}}{{/if}}</td>
                            <td>{{#if semaforo}}<b class="enTiempo">En tiempo</b>{{else}}<b class="atrasado">Atrasado</b>{{/if}}</td>
                        </tr>
                     {{/each}}
                    </tbody>
                </table>
              </td>
              <td width = "50%">
                <caption>Monthly savings</caption>
                <table class="table table-bordered table-striped span12" style="overflow-x: scroll;">
                  <thead>
                      <tr>
                        <td><b>Nombre Cuenta</b></td>
                        <td><b>Monto</b></td>
			            <td><b>Fecha Asignación</b></td>
			            <td><b>Etapa</b></td>
                        <td><b>Estatus Producto</b></td>
                      </tr>
                  </thead>
                  <tbody>
                    {{#each dataCuentasExpActivo}}
                    <tr>
                        <td><a href="#Accounts/{{idCuenta}}" target="_blank">{{nombreCuenta}}</a></td>
                        <td>{{Monto}}</td>
		            	<td>{{fecha_asignacion}}</td>
		            	<td>{{#if oppEtapa}}{{oppEtapa}}{{/if}}</td>
                        <td>{{#if EstatusProducto}}{{getUnifinListValue 'status_management_list' EstatusProducto}}{{/if}}</td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </td>
		    </tr>
            <tr>
             <td width = "50%">
                <caption>Monthly savings</caption>
                <table class="table table-bordered table-striped span12" style="overflow-x: scroll;">
                    <thead>
                      <tr>
                        <th><b>Nombre Cuenta</b></th>
                        <th><b>Monto</b></th>
	              		<th><b>Fecha Asignación</b></th>
	               		<th><b>Etapa</b></th>
                        <th><b>Estatus Producto</b></th>
                        <th><b>Semáforo</b></th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each dataCuentasExpActivo}}
                        <tr>
                            <td><a href="#Accounts/{{idCuenta}}" target="_blank">{{nombreCuenta}}</a></td>
                            <td>{{Monto}}</td>
		                  	<td>{{fecha_asignacion}}</td>
		                  	<td>{{#if oppEtapa}}{{oppEtapa}}{{/if}}</td>
                            <td>{{#if EstatusProducto}}{{getUnifinListValue 'status_management_list' EstatusProducto}}{{/if}}</td>
                            <td>{{#if semaforo}}<b class="enTiempo">En tiempo</b>{{else}}<b class="atrasado">Atrasado</b>{{/if}}</td>
                        </tr>
                     {{/each}}
                    </tbody>
                </table>
              </td>
              <td width = "50%">
                <caption>Monthly savings</caption>
                <table class="table table-bordered table-striped span12" style="overflow-x: scroll;">
                  <thead>
                      <tr>
                        <td><b>Nombre Cuenta</b></td>
                        <td><b>Monto</b></td>
			            <td><b>Fecha Asignación</b></td>
			            <td><b>Etapa</b></td>
                        <td><b>Estatus Producto</b></td>
                      </tr>
                  </thead>
                  <tbody>
                    {{#each dataCuentasExpActivo}}
                    <tr>
                        <td><a href="#Accounts/{{idCuenta}}" target="_blank">{{nombreCuenta}}</a></td>
                        <td>{{Monto}}</td>
		            	<td>{{fecha_asignacion}}</td>
		            	<td>{{#if oppEtapa}}{{oppEtapa}}{{/if}}</td>
                        <td>{{#if EstatusProducto}}{{getUnifinListValue 'status_management_list' EstatusProducto}}{{/if}}</td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </td>
		    </tr>
            <tr>
             <td width = "50%">
                <caption>Monthly savings</caption>
                <table class="table table-bordered table-striped span12" style="overflow-x: scroll;">
                    <thead>
                      <tr>
                        <th><b>Nombre Cuenta</b></th>
                        <th><b>Monto</b></th>
	              		<th><b>Fecha Asignación</b></th>
	               		<th><b>Etapa</b></th>
                        <th><b>Estatus Producto</b></th>
                        <th><b>Semáforo</b></th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each dataCuentasExpActivo}}
                        <tr>
                            <td><a href="#Accounts/{{idCuenta}}" target="_blank">{{nombreCuenta}}</a></td>
                            <td>{{Monto}}</td>
		                  	<td>{{fecha_asignacion}}</td>
		                  	<td>{{#if oppEtapa}}{{oppEtapa}}{{/if}}</td>
                            <td>{{#if EstatusProducto}}{{getUnifinListValue 'status_management_list' EstatusProducto}}{{/if}}</td>
                            <td>{{#if semaforo}}<b class="enTiempo">En tiempo</b>{{else}}<b class="atrasado">Atrasado</b>{{/if}}</td>
                        </tr>
                     {{/each}}
                    </tbody>
                </table>
              </td>
              <td width = "50%">
                <caption>Monthly savings</caption>
                <table class="table table-bordered table-striped span12" style="overflow-x: scroll;">
                  <thead>
                      <tr>
                        <td><b>Nombre Cuenta</b></td>
                        <td><b>Monto</b></td>
			            <td><b>Fecha Asignación</b></td>
			            <td><b>Etapa</b></td>
                        <td><b>Estatus Producto</b></td>
                      </tr>
                  </thead>
                  <tbody>
                    {{#each dataCuentasExpActivo}}
                    <tr>
                        <td><a href="#Accounts/{{idCuenta}}" target="_blank">{{nombreCuenta}}</a></td>
                        <td>{{Monto}}</td>
		            	<td>{{fecha_asignacion}}</td>
		            	<td>{{#if oppEtapa}}{{oppEtapa}}{{/if}}</td>
                        <td>{{#if EstatusProducto}}{{getUnifinListValue 'status_management_list' EstatusProducto}}{{/if}}</td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
              </td>
            </tr>
        </table>
    </div>
</div>