{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<div class="row-fluid helplet-container">
    <div class="helplet">
        <div data-helplet="content" class="helplet-content">
            {{#if resources}}
                <ul class="resource-list m-0">
                    {{#each resources}}
                        <li class="resource py-1.5 {{css_class}}">
                            {{#if id}}
                            <a class="btn btn-link btn-invisible ml-0 py-1 pr-1.5 pl-0" href="javascript:void(0);" data-action="{{id}}">
                            {{else}}
                            <a class="btn btn-link btn-invisible ml-0 py-1 pr-1.5 pl-0" href="{{url}}" target="_blank">
                            {{/if}}
                                {{#if icon}}
                                    <i class="{{buildIcon icon}} py-0.5 px-2.5 text-sm"></i>
                                {{/if}}

                                {{str link module}}
                            </a>
                        </li>
                    {{/each}}
                </ul>
            {{else}}
                <div class="helplet-body max-h-[15rem] overflow-y-auto">
                    <p>{{{helpObject.more_help}}}</p>
                    {{#if helpObject.body}}
                        <p class="body-text">{{nl2br helpObject.body}}</p>
                    {{/if}}
                </div>
            {{/if}}
        </div>
    </div>
</div>
