<div class="row-fluid">
    <table id="tableLeadnoViable" width="100%">
        <tr>
            <td width="33%">
                <div class="campo1">
                    <label class="record-label" style="margin-left:0px">No Viable Leasing</label>
                    <input type="checkbox" class="campo1chk"
                           {{#if leadNoViable.campo1chk}}checked{{/if}} data-field="campo1chk"/>
                </div>
            </td>
            <td width="33%">
                <div class="campo2" style="margin-left:12px">
                    <label class="record-label" style="margin-left:0px">No Viable Factoraje</label>
                    <input type="checkbox" class="campo2chk"
                           {{#if leadNoViable.campo2chk}}checked{{/if}} data-field="campo2chk"/>
                </div>
            </td>
            <td width="33%">
                <div class="campo3" style="margin-left:27px">
                    <label class="record-label" style="margin-left:0px">No Viable Crédito Automotriz</label>
                    <input type="checkbox" class="campo3chk"
                           {{#if leadNoViable.campo3chk}}checked{{/if}} data-field="campo3chk"/>
                </div>
            </td>
        </tr>

        <tr>
            <td valign="top" class="leasingp">
                <div class="campo4" style="margin-left:0px" >
                    <label class="record-label" style="margin-left:0px">Razón de Lead no viable</label>
                    <label class="normal row-fluid select2 campo4nvl" style="margin-left:0px" data-field="campo4L">
                           {{leadNoViable.razonleasing}}
                    </label>
                </div>
                <div class="campo7" style="margin: 1px;">
                    <label class="record-label" style="margin-left:0px">Fuera de Perfil (Razón)</label>
                    <label class="normal row-fluid select2  campo7nvl" style="margin-left:0px" data-field="campo7L">
                        {{getUnifinListValue 'fuera_de_perfil_ddw_list' leadNoViable.fueraperfilL}}
                    </label>
                </div>
                <div class="campo10" style="margin: 1px;">
                    <label class="record-label" style="margin-left:0px">¿Quién?</label>
                    <label class="normal campo10nvl" type="text" style="margin-left:0px" data-name="quien"/>
                    {{leadNoViable.quienl}}
                </div>
                <div class="campo13" style="margin: 1px;">
                    <label class="record-label" style="margin-left:0px">¿Por qué?</label>
                    <label class="normal campo13nvl" type="text" style="margin-left:0px" data-name="porque">
                        {{leadNoViable.porquel}}
                    </label>
                </div>
                <div class="campo16" style="margin: 10px 0px;">
                    <label class="record-label" style="margin-left:0px">¿Qué producto?</label>
                    <label class="normal row-fluid select2 campo16nvl" style="margin-left:0px">
                        {{getUnifinListValue 'no_producto_requiere_list' leadNoViable.noproducl}}
                    </label>
                </div>
                <div class="campo19" style="margin: 12px -8px;">
                    <label class="record-label">Condiciones Financieras</label>
                    <label class="normal row-fluid select2 campo19nvl" style="margin: 5px 7px;">
                        {{getUnifinListValue 'razones_cf_list' leadNoViable.razoncfl}}
                    </label>
                </div>
                <div class="campo22" style="margin-left:-5px;">
                    <label class="record-label">¿Qué producto?</label>
                    <label class="normal campo22nvl" type="text" style="margin-left:5px" data-name="producto">
                        {{leadNoViable.queprodl}}
                    </label>
                </div>
                <div class="campo25" style="margin: 12px -8px;">
                    <label class="record-label">Razón No se encuentra interesado</label>
                    <label class="normal row-fluid select2 campo25nvl" style="margin: 5px 7px;">
                        {{getUnifinListValue 'tct_razon_ni_l_ddw_c_list' leadNoViable.razonnil}}
                    </label>
                </div>
            </td>
            <td valign="top" class="factorajep">
                <div class="campo5"style="margin: 1px;">
                    <label class="record-label" style="margin-left:12px">Razón de Lead no viable</label>
                    <label class="normal row-fluid select2 campo5nvf" style="margin-left:12px">
                        {{leadNoViable.razonfactoraje}}
                    </label>
                </div>
                <div class="campo8" style="margin: 1px;">
                    <label class="record-label" style="margin-left:12px">Fuera de Perfil (Razón)</label>
                    <label class="normal row-fluid select2 campo8nvf" style="margin-left:12px">
                        {{getUnifinListValue 'fuera_de_perfil_ddw_list' leadNoViable.fueraperfilF}}
                    </label>
                </div>
                <div class="campo11" style="margin-left:12px;">
                    <label class="record-label" style="margin-left:2px">¿Quién?</label>
                    <label class="normal campo11nvf" type="text" style="margin-left:12px" data-name="quien"/>
                    {{leadNoViable.quienf}}
                </div>
                <div class="campo14" style="margin-left:12px;">
                    <label class="record-label" style="margin-left:2px">¿Por qué?</label>
                    <label class="normal campo14nvf" type="text" style="margin-left:12px" data-name="porque"/>
                    {{leadNoViable.porquef}}
                </div>
                <div class="campo17" style="margin: 10px 0px;">
                    <label class="record-label" style="margin-left:10px">¿Qué producto?</label>
                    <label class="normal row-fluid select2  campo17nvf" style="margin-left:10px" data-field="campo17L">
                        {{getUnifinListValue 'no_producto_requiere_list' leadNoViable.noproducf}}
                    </label>
                </div>
                <div class="campo20" style="margin: 12px 1px 1px 1px;">
                    <label class="record-label">Condiciones Financieras</label>
                    <label class="normal row-fluid select2 campo20nvf" style="margin: 5px 7px;">
                        {{getUnifinListValue 'razones_cf_list' leadNoViable.razoncff}}
                    </label>
                </div>
                <div class="campo23" style="margin: 0px 4px 1px;">
                    <label class="record-label">¿Qué producto?</label>
                    <label class="normal campo23nvf" type="text" style="margin-left:5px" data-name="producto">
                        {{leadNoViable.queprodf}}
                    </label>
                </div>
                <div class="campo26" style="margin: 12px 4px;">
                    <label class="record-label">Razón No se encuentra interesado</label>
                    <label class="normal row-fluid select2 campo26nvf" style="margin: 5px 7px;">
                        {{getUnifinListValue 'tct_razon_ni_l_ddw_c_list' leadNoViable.razonnif}}
                    </label>
                </div>

            </td>
            <td valign="top" class="creditoautop">
                <div class="campo6" style="margin: 1px;">
                    <label class="record-label" style="margin-left:27px">Razón de Lead no viable</label>
                    <label class="normal row-fluid select2 campo6nvca" style="margin-left:27px">
                        {{leadNoViable.razonca}}
                    </label>
                </div>
                <div class="campo9" style="margin: 1px;">
                    <label class="record-label" style="margin-left:27px">Fuera de Perfil (Razón)</label>
                    <label class="normal row-fluid select2 campo9nvca" style="margin-left:27px">
                        {{getUnifinListValue 'fuera_de_perfil_ddw_list' leadNoViable.fueraperfilCA}}
                    </label>
                </div>
                <div class="campo12" style="margin-left:27px;">
                    <label class="record-label" style="margin-left:2px">¿Quién?</label>
                    <label class="normal campo12nvca" type="text" style="margin-left:27px" data-name="quien"/>
                    {{leadNoViable.quienca}}
                </div>
                <div class="campo15" style="margin-left:27px;">
                    <label class="record-label" style="margin-left:2px">¿Por qué?</label>
                    <label class="normal campo15nvca" type="text" style="margin-left:27px" data-name="porque"/>
                    {{leadNoViable.porqueca}}
                </div>
                <div class="campo18" style="margin: 10px 0px;">
                    <label class="record-label" style="margin-left:27px">¿Qué producto?</label>
                    <label class="normal row-fluid select2 campo18nvca" style="margin-left:27px">
                        {{getUnifinListValue 'no_producto_requiere_list' leadNoViable.noproducca}}
                    </label>
                </div>
                <div class="campo21" style="margin: 12px 20px;">
                    <label class="record-label">Condiciones Financieras</label>
                    <label class="normal row-fluid select2 campo21nvca" style="margin: 5px 7px;">
                        {{getUnifinListValue 'razones_cf_list' leadNoViable.razoncfca}}
                    </label>
                </div>
                <div class="campo24" style="margin: 0px 20px;">
                    <label class="record-label">¿Qué producto?</label>
                    <label class="normal campo24nvca" type="text" style="margin-left:5px" data-name="producto">
                        {{leadNoViable.queprodca}}
                    </label>
                </div>
                <div class="campo27" style="margin: 12px 20px;">
                    <label class="record-label">Razón No se encuentra interesado</label>
                    <label class="normal row-fluid select2 campo27nvca" style="margin: 5px 7px;">
                        {{getUnifinListValue 'tct_razon_ni_l_ddw_c_list' leadNoViable.razonnica}}
                    </label>
                </div>
            </td>
        </tr>
    </table>
</div>