<div class="row-fluid">
<table id="tableLeadnoViable" width="100%">
<tr>
<td width="33%">
    <div class="campo1">
        <label class="record-label">No Viable Leasing</label>
        <input type="checkbox" class="campo1chk"
               {{#if leadNoViable.campo1chk}}checked{{/if}} data-field="campo1chk"/>
    </div>
</td>
<td width="33%">
            <div class="campo2">
                <label class="record-label">No Viable Factoraje</label>
                <input type="checkbox" class="campo2chk"
                       {{#if leadNoViable.campo2chk}}checked{{/if}} data-field="campo2chk"/>
            </div>
   </td>
<td width="33%">
            <div class="campo3">
                <label class="record-label">No Viable Crédito Automotriz</label>
                <input type="checkbox" class="campo3chk"
                       {{#if leadNoViable.campo3chk}}checked{{/if}} data-field="campo3chk"/>
            </div>
    </td>
</tr>

        <tr>
            <td valign="top">
                <div class="campo4" style="margin-left:0px;" >
                    <label class="record-label">Razón de Lead no viable</label>
                    <select class="row-fluid select2 campo4nvl" data-field="campo4L">
                        {{#each razones_ddw_list}}
                            <option value="{{@key}}" {{ifSelected @key
                                                                  ../leadNoViable.razonleasing}}>{{this}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="campo7" style="margin: 5px 5px 5px 5px;">
                    <label class="record-label">Fuera de Perfil (Razón)</label>
                    <select class="row-fluid select2  campo7nvl" data-field="campo7L">
                        {{#each fuera_de_perfil_ddw_list}}
                            <option value="{{@key}}" {{ifSelected @key
                                                                  ../leadNoViable.fueraperfilL}}>{{this}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="campo10" style="margin: 5px 5px 5px 5px;">
                    <label class="record-label">¿Quién?</label>
                    <input type="text" class="campo10nvl" value="{{leadNoViable.quienl}}"
                           data-field="campo17AP" data-name="quien"/>
                </div>
                <div class="campo13" style="margin: 5px 5px 5px 5px;">
                    <label class="record-label">¿Por qué?</label>
                    <input type="text" class="campo13nvl" value="{{leadNoViable.porquel}}"
                           data-field="campo17AP" data-name="Porque"/>
                </div>
                <div class="campo16" style="margin: 5px 5px 5px 5px;">
                    <label class="record-label">No tenemos el producto que requiere</label>
                    <select class="row-fluid select2  campo16nvl" data-field="campo16L">
                        {{#each no_producto_requiere_list}}
                            <option value="{{@key}}" {{ifSelected @key
                                                                  ../leadNoViable.noproducl}}>{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            </td>
            <td valign="top">
                <div class="campo5" style="margin-left:0px;">
                    <label class="record-label">Razón de Lead no viable</label>
                    <select class="row-fluid select2 campo5nvf" data-field="campo5F">
                        {{#each razones_ddw_list}}
                            <option value="{{@key}}" {{ifSelected @key
                                                                  ../leadNoViable.razonfactoraje}}>{{this}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="campo8" style="margin: 5px 5px 5px 5px;">
                    <label class="record-label">Fuera de Perfil (Razón)</label>
                    <select class="row-fluid select2  campo8nvf" data-field="campo8F">
                        {{#each fuera_de_perfil_ddw_list}}
                            <option value="{{@key}}" {{ifSelected @key
                                                                  ../leadNoViable.fueraperfilF}}>{{this}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="campo11" style="margin: 5px 5px 5px 5px;">
                    <label class="record-label">¿Quién?</label>
                    <input type="text" class="campo11nvf" value="{{leadNoViable.quienf}}"
                           data-field="campo17AP" data-name="quien"/>
                </div>
                <div class="campo14" style="margin: 5px 5px 5px 5px;">
                    <label class="record-label">¿Por qué?</label>
                    <input type="text" class="campo14nvf" value="{{leadNoViable.porquef}}"
                           data-field="campo17AP" data-name="porque"/>
                </div>
                <div class="campo17" style="margin: 5px 5px 5px 5px;">
                    <label class="record-label">No tenemos el producto que requiere</label>
                    <select class="row-fluid select2  campo17nvf" data-field="campo17F">
                        {{#each no_producto_requiere_list}}
                            <option value="{{@key}}" {{ifSelected @key
                                                                  ../leadNoViable.noproducf}}>{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            </td>
            <td valign="top">
                <div class="campo6" style="margin-left:0px;">
                    <label class="record-label">Razón de Lead no viable</label>
                    <select class="row-fluid select2 campo6nvca" data-field="campo6CA">
                        {{#each razones_ddw_list}}
                            <option value="{{@key}}" {{ifSelected @key
                                                                  ../leadNoViable.razonca}}>{{this}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="campo9" style="margin: 5px 5px 5px 5px;">
                    <label class="record-label">Fuera de Perfil (Razón)</label>
                    <select class="row-fluid select2  campo9nvca" data-field="campo9CA">
                        {{#each fuera_de_perfil_ddw_list}}
                            <option value="{{@key}}" {{ifSelected @key
                                                                  ../leadNoViable.fueraperfilCA}}>{{this}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="campo12" style="margin: 5px 5px 5px 5px;">
                    <label class="record-label">¿Quién?</label>
                    <input type="text" class="campo12nvca" value="{{leadNoViable.quienca}}"
                           data-field="campo17AP" data-name="quien"/>
                </div>
                <div class="campo15" style="margin: 5px 5px 5px 5px;">
                    <label class="record-label">¿Por qué?</label>
                    <input type="text" class="campo15nvca" value="{{leadNoViable.porqueca}}"
                           data-field="campo17AP" data-name="porque"/>
                </div>
                <div class="campo18" style="margin: 5px 5px 5px 5px;">
                    <label class="record-label">No tenemos el producto que requiere</label>
                    <select class="row-fluid select2  campo18nvca" data-field="campo18CA">
                        {{#each no_producto_requiere_list}}
                            <option value="{{@key}}" {{ifSelected @key
                                                                  ../leadNoViable.noproducca}}>{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            </td>
        </tr>







</table>
</div>