<style>
    .container {
        overflow-y: auto;
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    #titulo {
        color: #e2efe2;
        background-color: #22608c;
        border-color: #22608c;
        border-radius: 10px;
        margin-right: 15px;
        height: 35px;
        display: table;
        width: 96%;
        font-size: 18px;
        margin-top: 2%;
        margin-left: 1%;
        line-height: 30px;
        padding-left: 10px;

    }

    .SetHorario th {
        padding: 5px;
        /*width: 75px;*/
        background-color: #22608c;
    }

    .SetHorario td {
        padding: 5px;
        /*width: 75px;*/
        background-color: #f6f8f9;
    }

    .modal {
        position: fixed;
        top: 10%;
        left: 21%;
        z-index: 1050;
        width: 560px;
        margin-left: -280px;
        background-color: rgba(111, 112, 113, 0.67);
        background-clip: padding-box;
        outline: none;
    }

    select {
        width: 75px;
        border: 1px solid #f6f6f6;
        background-color: #fff;
    }

    .dia {
        background: #1a74c2;
        color: white;

    }

    .close {
        float: right;
        font-size: 20px;
        font-weight: bold;
        line-height: 18px;
        color: rgb(255, 0, 11);
        text-shadow: rgb(255 255 255) 0px 1px 0px;
        opacity: unset;
    }

    #checkboxes label {
        display: inline-flex;
        padding: 5px;
    }

    [data-tip] {
        position: relative;

    }

    [data-tip]:before {
        content: '';
        /* hides the tooltip when not hovered */
        display: none;
        content: '';
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #8e8e8e;
        position: absolute;
        top: 30px;
        left: 35px;
        z-index: 8;
        font-size: 0;
        line-height: 0;
        width: 0;
        height: 0;
    }

    [data-tip]:after {
        display: none;
        content: attr(data-tip);
        position: absolute;
        top: 35px;
        left: 0px;
        padding: 5px 8px;
        background: #8e8e8e;
        color: #fff;
        z-index: 9;
        font-size: 0.95em;
        height: 18px;
        line-height: 18px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        white-space: nowrap;
        word-wrap: normal;
    }

    [data-tip]:hover:before,
    [data-tip]:hover:after {
        display: block;
    }

    .form-control {
        width: 115px;
    }

</style>

<div class="container">
    <h2 id="titulo" align="left"><b>Gestión de acceso a CRM</b></h2>
    <br>
    <div style="margin-left: 15px;">
        <input id="filtroNombre" type="text" value="" placeholder="Nombre(s)">
        <input id="filtroApellido" type="text" value="" placeholder="Apellido">
        <select class="select2 inherit-width " id="filtroSubPuesto" data-name="subpuesto"
                data-placeholder="Subpuesto" data-toggle="tooltip" title="Selecciona un Subpuesto" style="width: 167px; margin: auto; ">
            <option value=""  selected hidden>Subpuesto</option>
            {{#each subpuesto_list}}
                <!--<option value="{{@key}}" {{ifSelected @key "" }}>{{this}}</option>-->
                <option value="{{@key}}" >{{this}}</option>
            {{/each}}
        </select>

        <i style="color: white" class="fa fa-search btn btn-primary" id="btn_search" type="button"> Buscar</i>
    </div>
    <br>

    <div class="AgentesContainer" style="padding-left: 15px">
        {{#if agentes}}
            <div class="table-responsive text-nowrap">
                <!--Table-->
                <table class="table table-striped" style="width: 98%">
                    <!--Table head-->
                    <thead>
                    <tr style="background: #20608c; color: white;">
                        <th style="background: #f6f8f9;"></th>
                        <th style="background: #f6f8f9;"></th>
                        <th colspan="4">Lunes</th>
                        <th colspan="4">Martes</th>
                        <th colspan="4">Miércoles</th>
                        <th colspan="4">Jueves</th>
                        <th colspan="4">Viernes</th>
                        <th colspan="4">Sábado</th>
                        <th colspan="4">Domingo</th>
                    </tr>
                    <tr style="background: #0d75b994;">
                        <th width="5%">
                            <input type="checkbox" value="Todo" id="btn_STodo" class="btn btn-primary"
                                   btnState="Off"/>
                        </th>
                        <th style="padding: 2px">AGENTE</th>
                        <th style="padding: 2px">Inicio</th>
                        <th style="padding: 2px">Comida</th>
                        <th style="padding: 2px">Regreso</th>
                        <th style="padding: 2px">Salida</th>
                        <th style="padding: 2px">Inicio</th>
                        <th style="padding: 2px">Comida</th>
                        <th style="padding: 2px">Regreso</th>
                        <th style="padding: 2px">Salida</th>
                        <th style="padding: 2px">Inicio</th>
                        <th style="padding: 2px">Comida</th>
                        <th style="padding: 2px">Regreso</th>
                        <th style="padding: 2px">Salida</th>
                        <th style="padding: 2px">Inicio</th>
                        <th style="padding: 2px">Comida</th>
                        <th style="padding: 2px">Regreso</th>
                        <th style="padding: 2px">Salida</th>
                        <th style="padding: 2px">Inicio</th>
                        <th style="padding: 2px">Comida</th>
                        <th style="padding: 2px">Regreso</th>
                        <th style="padding: 2px">Salida</th>
                        <th style="padding: 2px">Inicio</th>
                        <th style="padding: 2px">Comida</th>
                        <th style="padding: 2px">Regreso</th>
                        <th style="padding: 2px">Salida</th>
                        <th style="padding: 2px">Inicio</th>
                        <th style="padding: 2px">Comida</th>
                        <th style="padding: 2px">Regreso</th>
                        <th style="padding: 2px">Salida</th>
                    </tr>
                    </thead>
                    <!--Table head-->
                    <!--Table body-->
                    <tbody>
                    {{#each agentes}}
                        <tr class='single' style="border-bottom: 2px solid skyblue;">
                            <th scope="row">
                    <span sfuuid='880' class='list'>
                          <div class='ellipsis_inline' data-placement='bottom'>
                            <span style='font-family: Helvetica, Arial, sans-serif; font-size: 12px;'><input
                                    type="checkbox" name="selected" value="{{id}}" class="selected"/></span>
                          </div>
                    </span>
                            </th>
                            <td>
                    <span sfuuid='880' class='list'>
                          <div class='ellipsis_inline' data-placement='bottom'>
                              <span style='font-family: Helvetica, Arial, sans-serif; font-size: 12px;'>{{nombre_completo_c}}</span>
                          </div>
                    </span>
                            </td>
                            {{#each access_hours_c}}
                                <td>
                    <span sfuuid='880' class='list'>
                          <div>
                              <span style='font-family: Helvetica, Arial, sans-serif; font-size: 12px;'>{{entrada}}</span>
                          </div>
                    </span>
                                </td>
                                <td>
                    <span sfuuid='880' class='list'>
                          <div>
                              <span style='font-family: Helvetica, Arial, sans-serif; font-size: 12px;'>{{comida}}</span>
                          </div>
                    </span>
                                </td>
                                <td>
                    <span sfuuid='880' class='list'>
                          <div>
                              <span style='font-family: Helvetica, Arial, sans-serif; font-size: 12px;'>{{regreso}}</span>
                          </div>
                    </span>
                                </td>
                                <td>
                    <span sfuuid='880' class='list'>
                          <div>
                              <span style='font-family: Helvetica, Arial, sans-serif; font-size: 12px;'>{{salida}}</span>
                          </div>
                    </span>
                                </td>
                            {{/each}}
                        </tr>
                    {{/each}}
                    <tr style="background: #f6f8f9;">
                        <td colspan="14"></td>
                        <td colspan="2">
                            <div class="btn-group">
                                <a class="btn fa fa-caret-left" id="previous_offset"></a>
                                <a class="btn disabled" id="offset_value" from_set="" to_set=""
                                   total="{{../total_page}}"></a>
                                <a class="btn fa fa-caret-right" id="next_offset"></a>
                            </div>
                        </td>
                        <td>
                            <a class="btn fa fa-calendar openModalHorarios"> Asignar horario</a>
                        </td>
                    </tr>
                    </tbody>
                    <!--Table body-->
                </table>
                <!--Table-->
            </div>

        {{else}}
            <div class="block-footer">
                {{str "LBL_NO_DATA_AVAILABLE"}}
            </div>
        {{/if}}


    </div>
    <textarea style="display: none" id="crossSeleccionados" value=""></textarea>

    <div id="myModal" class="row-fluid" style="display:none; ">
        <div class="modal " style="width:98%">
            <!-- Modal content -->
            <div class="modal-content">
                <!-- Modal header -->
                <div class="modal-header" style="color: white;">
                    <span class="close closeModalHorarios"><b>X</b></span>
                    <h3><b>Actualizar Horario Agentes</b></h3>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <!--Table-->
                    <table class="SetHorario " style="width: 55%; margin-bottom: 40px; margin-left: 21%">
                        <!--Table head-->
                        <thead>
                        <tr style="color: white; text-align: justify">
                            <th>Día Semana</th>
                            <th>Acciones</th>
                            <th>Hora Inicio</th>
                            <th>Comida</th>
                            <th>Regreso Comida</th>
                            <th>Hora Salida</th>
                            <th>Actualizar</th>
                        </tr>
                        </thead>
                        <!--Table head-->
                        <!--Table body-->
                        <tbody>
                        <!-- Lunes -->
                        <tr>
                            <td class="dia" style="text-align: justify; background: #0d75b994"><b>Lunes</b></td>
                            <td class="dia" style="text-align: justify; ">
                                <div id="checkboxesL">
                                    <input type="checkbox" id="bloqueadoL" {{#if data.bloqL}} checked{{/if}}
                                           data-tip="Bloquear: Se bloqueará el acceso a CRM durante todo el día"/>
                                    <i class="fa fa-lock" style="padding-left: 2px"></i>
                                    <input type="checkbox" id="libreL" {{#if data.libL}} checked{{/if}}
                                           data-tip="Libre: Se permitirá el acceso a CRM durante todo el día"/>
                                    <i class="fa fa-unlock" style="padding-left: 2px"> </i>
                                    <input type="checkbox" id="definirL" {{#if data.defL}} checked{{/if}}
                                           data-tip="Definir: Se definirá un horario para el acceso a CRM"/><i
                                        class="fa  fa-clock-o" style="padding-left: 2px"></i>
                                </div>
                            </td>
                            <td>
                                <input class="form-control" type="time" min="00:01" max="23:59" {{#if data.bloqL}}
                                       disabled {{/if}} {{#if data.libL}} disabled {{/if}} step="" value="{{data.lhin}}"
                                       id="LHin">
                            </td>
                            <td>
                                <div class="form-group row">
                                    <input class="form-control" type="time" min="00:01" max="23:59" {{#if data.bloqL}}
                                       disabled {{/if}} {{#if data.libL}} disabled {{/if}} step="" value="{{data.lhcomida}}"
                                       id="LHcomida">
                                </div>                                
                            </td>
                            <td>
                                <div class="form-group row">
                                    <input class="form-control" type="time" min="00:01" max="23:59" {{#if data.bloqL}}
                                       disabled {{/if}} {{#if data.libL}} disabled {{/if}} step="" value="{{data.lhregreso}}"
                                       id="LHregreso">
                                </div>                                
                            </td>
                            <td>
                                <div class="form-group row">
                                    <input class="form-control" type="time" min="00:01" max="23:59" {{#if data.bloqL}}
                                        disabled {{/if}} {{#if data.libL}} disabled {{/if}} step="" value="{{data.lhout}}"
                                        id="LHout">
                                </div>
                            </td>
                            <td>
                                <input type="checkbox" class="radio " id="updateL" value="1"
                                       data-tip="¿Actualizar día?"/>
                            </td>
                        </tr>
                        <!-- Martes -->
                        <tr>
                            <td class="dia" style="text-align: justify; background: #0d75b994"><b>Martes</b></td>
                            <td class="dia" style="text-align: justify; ">
                                <div id="checkboxesM">
                                    <input type="checkbox" id="bloqueadoM" {{#if bloqM}}checked{{/if}}
                                           data-tip="Bloquear: Se bloqueará el acceso a CRM durante todo el día"/>
                                    <i class="fa fa-lock" style="padding-left: 2px"></i>
                                    <input type="checkbox" id="libreM" {{#if libM}}checked{{/if}}
                                           data-tip="Libre: Se permitirá el acceso a CRM durante todo el día"/>
                                    <i class="fa fa-unlock" style="padding-left: 2px"> </i>
                                    <input type="checkbox" id="definirM" {{#if defM}}checked{{/if}}
                                           data-tip="Definir: Se definirá un horario para el acceso a CRM"/>
                                    <i class="fa fa-clock-o" style="padding-left: 2px; "></i>
                                </div>
                            </td>
                            <td>
                                <input class="form-control" type="time" min="00:01" max="23:59" {{#if bloqM}}
                                       disabled {{/if}} {{#if libM}} disabled {{/if}} step="" value="{{mhin}}"
                                       id="MHin">
                            </td>
                            <td>
                                <input class="form-control" type="time" min="00:01" max="23:59" {{#if data.bloqL}}
                                       disabled {{/if}} {{#if data.libL}} disabled {{/if}} step="" value="{{data.mhcomida}}"
                                       id="MHcomida">
                            </td>
                            <td>
                                <input class="form-control" type="time" min="00:01" max="23:59" {{#if data.bloqL}}
                                       disabled {{/if}} {{#if data.libL}} disabled {{/if}} step="" value="{{data.mhregreso}}"
                                       id="MHregreso">
                            </td>
                            <td>
                                <div class="form-group row">
                                    <input class="form-control" type="time" min="00:01" max="23:59" {{#if bloqM}}
                                           disabled {{/if}} {{#if libM}} disabled {{/if}} step="" value="{{mhout}}"
                                           id="MHout">
                                </div>
                            </td>
                            <td>
                                <input type="checkbox" class="radio " value="1" id="updateM"
                                       data-tip="¿Actualizar día?"/>
                            </td>
                        </tr>
                        <!-- Miercoles -->
                        <tr>
                            <td class="dia" style="text-align: justify; background: #0d75b994"><b>Miércoles</b></td>
                            <td class="dia" style="text-align: justify; ">
                                <div id="checkboxesMi">
                                    <input type="checkbox" id="bloqueadoMi" {{#if bloqMi}}checked{{/if}}
                                           data-tip="Bloquear: Se bloqueará el acceso a CRM durante todo el día"/>
                                    <i class="fa fa-lock" style="padding-left: 2px"></i>
                                    <input type="checkbox" id="libreMi" {{#if libMi}}checked{{/if}}
                                           data-tip="Libre: Se permitirá el acceso a CRM durante todo el día"/>
                                    <i class="fa fa-unlock" style="padding-left: 2px"> </i>
                                    <input type="checkbox" id="definirMi" {{#if defMi}}checked{{/if}}
                                           data-tip="Definir: Se definirá un horario para el acceso a CRM"/>
                                    <i class="fa fa-clock-o" style="padding-left: 2px; "></i>
                                </div>
                            </td>
                            <td>
                                <input class="form-control" type="time" min="00:01" max="23:59" {{#if bloqMi}}
                                       disabled {{/if}} {{#if libMi}} disabled {{/if}} step="" value="{{mihin}}"
                                       id="MiHin">
                            </td>
                            <td>
                                <input class="form-control" type="time" min="00:01" max="23:59" {{#if data.bloqL}}
                                       disabled {{/if}} {{#if data.libL}} disabled {{/if}} step="" value="{{data.mihcomida}}"
                                       id="MiHcomida">
                            </td>
                            <td>
                                <input class="form-control" type="time" min="00:01" max="23:59" {{#if data.bloqL}}
                                       disabled {{/if}} {{#if data.libL}} disabled {{/if}} step="" value="{{data.mihregreso}}"
                                       id="MiHregreso">
                            </td>
                            <td>
                                <div class="form-group row">
                                    <input class="form-control" type="time" min="00:01" max="23:59" {{#if bloqMi}}
                                           disabled {{/if}} {{#if libMi}} disabled {{/if}} step="" value="{{mihout}}"
                                           id="MiHout">
                                </div>
                            </td>
                            <td>
                                <input type="checkbox" class="radio " value="1" id="updateMi"
                                       data-tip="¿Actualizar día?"/>
                            </td>
                        </tr>
                        <!-- Jueves -->
                        <tr>
                            <td class="dia" style="text-align: justify; background: #0d75b994"><b>Jueves</b></td>
                            <td class="dia" style="text-align: justify; ">
                                <div id="checkboxesJ">
                                    <input type="checkbox" id="bloqueadoJ" {{#if bloqJ}}checked{{/if}}
                                           data-tip="Bloquear: Se bloqueará el acceso a CRM durante todo el día"/>
                                    <i class="fa fa-lock" style="padding-left: 2px"></i>
                                    <input type="checkbox" id="libreJ" {{#if libJ}}checked{{/if}}
                                           data-tip="Libre: Se permitirá el acceso a CRM durante todo el día"/>
                                    <i class="fa fa-unlock" style="padding-left: 2px"> </i>
                                    <input type="checkbox" id="definirJ" {{#if
                                            defJ}} checked{{/if}}data-tip="Definir: Se definirá un horario para el acceso a CRM"/>
                                    <i class="fa fa-clock-o" style="padding-left: 2px; "></i>
                                </div>
                            </td>
                            <td>
                                <input class="form-control" type="time" min="00:01" max="23:59" {{#if bloqJ}}
                                       disabled {{/if}} {{#if libJ}} disabled {{/if}} step="" value="{{jhin}}"
                                       id="JHin">
                            </td>
                            <td>
                                <input class="form-control" type="time" min="00:01" max="23:59" {{#if data.bloqL}}
                                       disabled {{/if}} {{#if data.libL}} disabled {{/if}} step="" value="{{data.jhcomida}}"
                                       id="JHcomida">
                            </td>
                            <td>
                                <input class="form-control" type="time" min="00:01" max="23:59" {{#if data.bloqL}}
                                       disabled {{/if}} {{#if data.libL}} disabled {{/if}} step="" value="{{data.jhregreso}}"
                                       id="JHregreso">
                            </td>
                            <td>
                                <div class="form-group row">
                                    <input class="form-control" type="time" min="00:01" max="23:59" {{#if bloqJ}}
                                           disabled {{/if}} {{#if libJ}} disabled {{/if}} step="" value="{{jhout}}"
                                           id="JHout">
                                </div>
                            </td>
                            <td>
                                <input type="checkbox" class="radio " value="1" id="updateJ"
                                       data-tip="¿Actualizar día?"/>
                            </td>
                        </tr>
                        <!-- Viernes -->
                        <tr>
                            <td class="dia" style="text-align: justify; background: #0d75b994"><b>Viernes</b></td>
                            <td class="dia" style="text-align: justify; ">
                                <div id="checkboxesV">
                                    <input type="checkbox" id="bloqueadoV" {{#if bloqV}}checked{{/if}}
                                           data-tip="Bloquear: Se bloqueará el acceso a CRM durante todo el día"/>
                                    <i class="fa fa-lock" style="padding-left: 2px"></i>
                                    <input type="checkbox" id="libreV" {{#if
                                            libV}} checked{{/if}}data-tip="Libre: Se permitirá el acceso a CRM durante todo el día"/>
                                    <i class="fa fa-unlock" style="padding-left: 2px"> </i>
                                    <input type="checkbox" id="definirV"  {{#if
                                            defV}} checked{{/if}}data-tip="Definir: Se definirá un horario para el acceso a CRM"/>
                                    <i class="fa fa-clock-o" style="padding-left: 2px; "></i>
                                </div>
                            </td>
                            <td>
                                <input class="form-control" type="time" min="00:01" max="23:59" {{#if bloqV}}
                                       disabled {{/if}} {{#if libV}} disabled {{/if}} step="" value="{{vhin}}"
                                       id="VHin">
                            </td>
                            <td>
                                <input class="form-control" type="time" min="00:01" max="23:59" {{#if data.bloqL}}
                                       disabled {{/if}} {{#if data.libL}} disabled {{/if}} step="" value="{{data.vhcomida}}"
                                       id="VHcomida">
                            </td>
                            <td>
                                <input class="form-control" type="time" min="00:01" max="23:59" {{#if data.bloqL}}
                                       disabled {{/if}} {{#if data.libL}} disabled {{/if}} step="" value="{{data.vhregreso}}"
                                       id="VHregreso">
                            </td>
                            <td>
                                <div class="form-group row">
                                    <input class="form-control" type="time" min="00:01" max="23:59" {{#if bloqV}}
                                           disabled {{/if}} {{#if libV}} disabled {{/if}} step="" value="{{vhout}}"
                                           id="VHout">
                                </div>
                            </td>
                            <td>
                                <input type="checkbox" class="radio " value="1" id="updateV"
                                       data-tip="¿Actualizar día?"/>
                            </td>
                        </tr>
                        <!-- Sabado -->
                        <tr>
                            <td class="dia" style="text-align: justify; background: #0d75b994"><b>Sábado</b></td>
                            <td class="dia" style="text-align: justify; ">
                                <div id="checkboxesS">
                                    <input type="checkbox" id="bloqueadoS" {{#if
                                            bloqS}} checked{{/if}}data-tip="Bloquear: Se bloqueará el acceso a CRM durante todo el día"/>
                                    <i class="fa fa-lock" style="padding-left: 2px"></i>
                                    <input type="checkbox" id="libreS" {{#if
                                            libS}} checked{{/if}}data-tip="Libre: Se permitirá el acceso a CRM durante todo el día"/>
                                    <i class="fa fa-unlock" style="padding-left: 2px"> </i>
                                    <input type="checkbox" id="definirS" {{#if
                                            defS}} checked{{/if}}data-tip="Definir: Se definirá un horario para el acceso a CRM"/>
                                    <i class="fa fa-clock-o" style="padding-left: 2px; "></i>
                                </div>
                            </td>
                            <td>
                                <input class="form-control" type="time" min="00:01" max="23:59" {{#if bloqS}}
                                       disabled {{/if}} {{#if libS}} disabled {{/if}} step="" value="{{shin}}"
                                       id="SHin">
                            </td>
                            <td>
                                <input class="form-control" type="time" min="00:01" max="23:59" {{#if data.bloqL}}
                                       disabled {{/if}} {{#if data.libL}} disabled {{/if}} step="" value="{{data.shcomida}}"
                                       id="SHcomida">
                            </td>
                            <td>
                                <input class="form-control" type="time" min="00:01" max="23:59" {{#if data.bloqL}}
                                       disabled {{/if}} {{#if data.libL}} disabled {{/if}} step="" value="{{data.lhregreso}}"
                                       id="SHregreso">
                            </td>
                            <td>
                                <div class="form-group row">
                                    <input class="form-control" type="time" min="00:01" max="23:59" {{#if bloqS}}
                                           disabled {{/if}} {{#if libS}} disabled {{/if}} step="" value="{{Shout}}"
                                           id="SHout">
                                </div>
                            </td>
                            <td>
                                <input type="checkbox" class="radio " value="1" id="updateS"
                                       data-tip="¿Actualizar día?"/>
                            </td>
                        </tr>
                        <!-- Domingo -->
                        <tr>
                            <td class="dia" style="text-align: justify; background: #0d75b994"><b>Domingo</b></td>
                            <td class="dia" style="text-align: justify; ">
                                <div id="checkboxesD">
                                    <input type="checkbox" id="bloqueadoD" {{#if
                                            bloqD}} checked{{/if}}data-tip="Bloquear: Se bloqueará el acceso a CRM durante todo el día"/>
                                    <i class="fa fa-lock" style="padding-left: 2px"></i>
                                    <input type="checkbox" id="libreD" {{#if
                                            libD}} checked{{/if}}data-tip="Libre: Se permitirá el acceso a CRM durante todo el día"/>
                                    <i class="fa fa-unlock" style="padding-left: 2px"> </i>
                                    <input type="checkbox" id="definirD" {{#if defD}}checked{{/if}}
                                           data-tip="Definir: Se definirá un horario para el acceso a CRM"/>
                                    <i class="fa fa-clock-o" style="padding-left: 2px; "></i>
                                </div>
                            </td>
                            <td>
                                <input class="form-control" type="time" min="00:01" max="23:59" {{#if bloqD}}
                                       disabled {{/if}} {{#if libD}} disabled {{/if}} step="" value="{{dhin}}"
                                       id="DHin">
                            </td>
                            <td>
                                <input class="form-control" type="time" min="00:01" max="23:59" {{#if data.bloqL}}
                                       disabled {{/if}} {{#if data.libL}} disabled {{/if}} step="" value="{{data.dhcomida}}"
                                       id="DHcomida">
                            </td>
                            <td>
                                <input class="form-control" type="time" min="00:01" max="23:59" {{#if data.bloqL}}
                                       disabled {{/if}} {{#if data.libL}} disabled {{/if}} step="" value="{{data.dhregreso}}"
                                       id="DHregreso">
                            </td>
                            <td>
                                <div class="form-group row">
                                    <input class="form-control" type="time" min="00:01" max="23:59" {{#if bloqD}}
                                           disabled {{/if}} {{#if libD}} disabled {{/if}} step="" value="{{dhout}}"
                                           id="DHout">
                                </div>
                            </td>
                            <td>
                                <input type="checkbox" class="radio " value="1" id="updateD"
                                       data-tip="¿Actualizar día?"/>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2"><a class="btn fa fa-ban ExcluirHorario"
                                               style="background: #0e90d2; color: #ffffff;">
                                Excluir de Horario</a></td>
                            <td colspan="3"></td>
                            <td colspan="2"><a class="btn fa fa-save UpdateHorario"
                                               style="background: #0e90d2; color: #ffffff;">
                                Actualizar Horario</a></td>
                        </tr>
                        </tbody>
                        <!--Table body-->
                    </table>
                    <!--Table-->
                </div>
            </div>
        </div>
    </div>


</div>