<style>
    #cont {
        overflow: auto;
        width: 96%;
        float: left;
        white-space: nowrap;
        border: 1px solid lightblue;
    }

    .box {
        /*background-color: #BBBBBB;*/
        /*height: 100px;*/
        display: inline-block;
        margin: 10px;
        /*width: 100px;*/
    }
</style>
<div class="CFPoliticaQ container-fluid" id="cont" style="border: solid lightblue">
    <!-- Sección para condiciones financieras configuradas -->
    <div id="tituloCFConfiguradas" style="height:30px; border-radius: 10px" data-toggle="collapse">
        <font color="#9da0a4" size="3">
        <strong>Condiciones Financieras Configuradas</strong>
        </font>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">&nbsp;</th>
                {{#each headers}}
                <th scope="col" {{#if dobleCampo}}colspan="2"{{/if}}>{{name}}
                {{#each numeroEspacios}}
                        &nbsp;
                {{/each}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each mainRowsConfigBodyTable}}
            <tr>
                <th scope="row">
                    &nbsp;
                </th>
                {{#each bodyTable}}
                    <td style="text-align:center">
                        {{#if select}}
                            <select class="row-fluid select2 fieldCFConfig" data-columna="{{nombreColumna}}" data-name="{{nombreCampo}}" data-tipo-campo="catalogo" disabled style="pointer-events:none;">
                            {{#each valoresCatalogo}}
                            <option value="{{@key}}" {{ifSelected @key ../valorSelected}}>{{this}}</option>
                            {{/each}}
                            </select>
                        {{/if}}
                        {{#if text}}
                            {{#if rangoInferior}}
                                {{rangoInferior}}
                            {{else}}
                                {{#if rangoSuperior}}
                                    {{rangoSuperior}}
                                {{else}}
                                    {{valorCampo}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                        {{#if checkbox}}
                            <input data-name="{{nombreCampo}}" data-columna="{{nombreColumna}}" type="checkbox" class="form-control fieldCFConfig" size="10" data-tipo-campo="check" {{checked}} disabled style="pointer-events:none;">
                        {{/if}}
                    </td>
                {{/each}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>