<style>
    #cont {
        overflow: auto;
        width: 96%;
        float: left;
        white-space: nowrap;
        border: 1px solid lightblue;
    }

    .box {
        /*background-color: #BBBBBB;*/
        /*height: 100px;*/
        display: inline-block;
        margin: 10px;
        /*width: 100px;*/
    }
</style>
<div class="CFPoliticaQ container-fluid" id="cont">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">&nbsp;</th>
                {{#each headers}}
                <th scope="col" {{#if dobleCampo}}colspan="2"{{/if}}>{{name}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each mainRowsBodyTable}}
            <tr>
                <th scope="row">
                    <span class="fa-stack plusNuevaCF" style="background-color: #0089fff2;">
                        <i class="fa fa-plus fa-inverse fa-stack" style="text-align:center;color:white"></i>
                    </span>
                </th>
                {{#each bodyTable}}
                    <td style="text-align:center">
                        {{#if select}}
                            <select class="row-fluid select2" data-field="{{nombreCampo}}" disabled style="pointer-events:none;">
                            {{#each valoresCatalogo}}
                            <option value="{{@key}}" {{ifSelected @key ../valorSelected}}>{{this}}</option>
                            {{/each}}
                            </select>
                        {{/if}}
                        {{#if text}}
                            {{#if rangoInferior}}
                            <input data-name="{{nombreCampo}}" type="text" class="form-control" size="10" value={{rangoInferior}} disabled style="pointer-events:none;">
                            {{else}}
                            <input data-name="{{nombreCampo}}" type="text" class="form-control" size="10" value={{rangoSuperior}} disabled style="pointer-events:none;">
                            {{/if}}
                        {{/if}}
                        {{#if checkbox}}
                            <input data-name="{{nombreCampo}}" type="checkbox" class="form-control" size="10" {{checked}} disabled style="pointer-events:none;">
                        {{/if}}
                    </td>
                {{/each}}
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>