<style>
    #cont {
        overflow: auto;
        width: 96%;
        float: left;
        white-space: nowrap;
        border: 1px solid lightblue;
    }

    .box {
        /*background-color: #BBBBBB;*/
        /*height: 100px;*/
        display: inline-block;
        margin: 10px;
        /*width: 100px;*/
    }
</style>
<script>
    var $select2 = this.$('#collapseTableCF').find('select.select2');
    $select2.select2();

    var $select2config = this.$('select.fieldCFConfig');
    $select2config.select2();
</script>
<div class="CFPoliticaQ container-fluid" id="cont" style="border: solid lightblue">
    <!--Sección condiciones financieras de política -->
    <div class="accordion-heading">
        <div id="tituloCFPolitica" style="height:30px; border-radius: 10px" >
             <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTableCF">
                <font color="#9da0a4" size="3">
                <strong>Condiciones Financieras de Política</strong>
                </font>
            </a>
        </div>
    </div>

    {{#if showTableRows}}
        <div id="collapseTableCF">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">&nbsp;</th>
                        {{#each headers}}
                        <th scope="col" {{#if dobleCampo}}colspan="2"{{/if}}>{{name}}
                        {{#each numeroEspacios}}
                            &nbsp;
                        {{/each}}
                        </th>
                        {{/each}}
                    </tr>
                </thead>
                <tbody>
                    {{#each mainRowsBodyTable}}
                    <tr>
                        <th scope="row">
                            <span class="fa-stack plusNuevaCF" style="background-color: #0089fff2;">
                                <i class="fa fa-plus fa-inverse fa-stack" style="text-align:center;color:white"></i>
                            </span>
                        </th>
                        {{#each bodyTable}}
                            <td style="text-align:center">
                                {{#if select}}
                                    <select class="row-fluid select2" data-id-nodo="{{idNodo}}" data-columna="{{nombreColumna}}" data-name="{{nombreCampo}}" disabled style="pointer-events:none;">
                                    {{#each valoresCatalogo}}
                                    <option value="{{@key}}" {{ifSelected @key ../valorSelected}}>{{this}}</option>
                                    {{/each}}
                                    </select>
                                {{/if}}
                                {{#if text}}
                                    {{#if rangoInferior}}
                                        <input data-name="{{nombreCampo}}" data-id-nodo="{{idNodo}}" data-columna="{{nombreColumna}}" type="text" class="form-control" size="10" value={{rangoInferior}} disabled style="pointer-events:none;" data-info="inferior" data-limite-inferior="{{limiteInferior}}" data-limite-superior="{{limiteSuperior}}">
                                    {{else}}
                                        {{#if rangoSuperior}}
                                        <input data-name="{{nombreCampo}}" data-id-nodo="{{idNodo}}" data-columna="{{nombreColumna}}" type="text" class="form-control" size="10" value={{rangoSuperior}} disabled style="pointer-events:none;" data-info="superior" data-limite-inferior="{{limiteInferior}}" data-limite-superior="{{limiteSuperior}}">
                                        {{else}}
                                        <input data-name="{{nombreCampo}}" data-id-nodo="{{idNodo}}" data-columna="{{nombreColumna}}" type="text" class="form-control" size="10" value="{{valorCampo}}" disabled style="pointer-events:none;" data-info="input">
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                                {{#if checkbox}}
                                    <input data-name="{{nombreCampo}}" data-id-nodo="{{idNodo}}" data-columna="{{nombreColumna}}" type="checkbox" class="form-control" size="10" {{checked}} disabled style="pointer-events:none;">
                                {{/if}}
                            </td>
                        {{/each}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    {{else}}
        <!--Tabla con CF consolidadas en solo 1 fila -->
        <div id="collapseTableCF">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">&nbsp;</th>
                        {{#each headers}}
                        <th scope="col" {{#if dobleCampo}}colspan="2"{{/if}}>{{name}}
                        {{#each numeroEspacios}}
                            &nbsp;
                        {{/each}}
                        </th>
                        {{/each}}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            <span class="fa-stack plusNuevaCF" style="background-color: #0089fff2;">
                                <i class="fa fa-plus fa-inverse fa-stack" style="text-align:center;color:white"></i>
                            </span>
                        </th>
                        {{#each bodyTableModified}}
                            <td style="text-align:center">
                                {{#if select}}
                                    <select class="row-fluid select2 setDefaultValues" data-id-nodo="{{idNodo}}" data-columna="{{nombreColumna}}" data-name="{{nombreCampo}}">
                                    {{#each valoresCatalogoModified}}
                                        <option value="{{@key}}" {{ifSelected @key ../valorSelected}}>{{this}}</option>
                                    {{/each}}
                                    </select>
                                {{/if}}
                                {{#if text}}
                                    {{#if rangoInferior}}
                                        <input data-name="{{nombreCampo}}" data-id-nodo="{{idNodo}}" data-columna="{{nombreColumna}}" type="hidden" class="form-control" size="10" value={{rangoInferior}} disabled style="pointer-events:none;" data-info="inferior" data-limite-inferior="{{limiteInferior}}" data-limite-superior="{{limiteSuperior}}">
                                        <select {{#if deshabilitado}}disabled{{/if}} class="row-fluid select2 selectToHidden" data-type="texto" data-name="{{nombreCampo}}" data-id-nodo="{{idNodo}}" data-columna="{{nombreColumna}}" data-info="inferior" data-limite-inferior="{{limiteInferior}}" data-limite-superior="{{limiteSuperior}}">
                                           {{#each valoresRangoInferior}}
                                                <option value="{{@key}}" {{ifSelected @key ../rangoInferior}}>{{this}}</option>
                                            {{/each}}
                                        </select>
                                    {{else}}
                                        {{#if rangoSuperior}}
                                            <input data-name="{{nombreCampo}}" data-id-nodo="{{idNodo}}" data-columna="{{nombreColumna}}" type="hidden" class="form-control" size="10" value={{rangoSuperior}} disabled style="pointer-events:none;" data-info="superior" data-limite-inferior="{{limiteInferior}}" data-limite-superior="{{limiteSuperior}}">
                                            <select {{#if deshabilitado}}disabled{{/if}} data-name="{{nombreCampo}}" data-type="texto" data-id-nodo="{{idNodo}}" data-columna="{{nombreColumna}}" class="row-fluid select2 selectToHidden" data-info="superior" data-limite-inferior="{{limiteInferior}}" data-limite-superior="{{limiteSuperior}}">
                                                {{#each valoresRangoSuperior}}
                                                    <option value="{{@key}}" {{ifSelected @key ../rangoSuperior}}>{{this}}</option>
                                                {{/each}}
                                            </select>
                                        {{else}}
                                            <input data-name="{{nombreCampo}}" data-id-nodo="{{idNodo}}" data-columna="{{nombreColumna}}" type="hidden" class="form-control" size="10" value="{{valorCampo}}" disabled style="pointer-events:none;" data-info="input">
                                            <select disabled data-name="{{nombreCampo}}" data-type="texto" data-id-nodo="{{idNodo}}" data-columna="{{nombreColumna}}" class="row-fluid select2 selectToHidden" data-info="input">
                                                {{#each valoresRangoSuperior}}
                                                    <option value="{{@key}}" {{ifSelected @key ../valorCampo}}>{{this}}</option>
                                                {{/each}}
                                            </select>
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                                {{#if checkbox}}
                                    <input data-name="{{nombreCampo}}" data-id-nodo="{{idNodo}}" data-columna="{{nombreColumna}}" type="checkbox" class="form-control" size="10" {{checked}} disabled style="pointer-events:none;">
                                {{/if}}
                            </td>
                        {{/each}}

                    </tr>
                </tbody>
            </table>
        </div>
    {{/if}}

    <!--Linea divisoria -->
    <hr size="3px" color="#9da0a4">
    <!-- Sección para condiciones financieras configuradas -->
    <div id="tituloCFConfiguradas" style="height:30px; border-radius: 10px" data-toggle="collapse">
        <font color="#9da0a4" size="3">
        <strong>Condiciones Financieras Configuradas</strong>
        </font>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">&nbsp;</th>
                {{#each headers}}
                <th scope="col" {{#if dobleCampo}}colspan="2"{{/if}}>{{name}}
                {{#each numeroEspacios}}
                        &nbsp;
                {{/each}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each mainRowsConfigBodyTable}}
            <tr>
                <th scope="row">
                    <span class="fa-stack borrarCFQuantico" style="background-color: #bb0e1b;;">
                        <i class="fa fa-minus fa-inverse fa-stack" style="text-align:center;color:white"></i>
                    </span>
                </th>
                {{#each bodyTable}}
                    <td style="text-align:center">
                        {{#if select}}
                            <select class="row-fluid select2 fieldCFConfig" data-id-nodo="{{idNodo}}" data-columna="{{nombreColumna}}" data-name="{{nombreCampo}}" data-tipo-campo="catalogo">
                            {{#each valoresCatalogo}}
                            <option value="{{@key}}" {{ifSelected @key ../valorSelected}}>{{this}}</option>
                            {{/each}}
                            </select>
                        {{/if}}
                        {{#if text}}
                            <!--Se agrega esta variable ya que al introducir valor vacío, la validación de hbs pensaba que no debía 
                            pintar la sección de inputInferior y pintaba la sección de inputSuperior, lo que hacía validación de rangos incorrectas -->
                            {{#if actualizadoPorUsuarioPermiteVacio}}
                                <input data-name="{{nombreCampo}}" data-id-nodo="{{idNodo}}" data-columna="{{nombreColumna}}" type="text" class="form-control fieldCFConfig fieldValidateRange" size="10" data-info="inferior" data-limite-inferior="{{limiteInferior}}" data-limite-superior="{{limiteSuperior}}" value="{{rangoInferior}}" data-tipo-campo="inputInferior">
                            {{else}}
                                {{#if rangoInferior}}
                                    <input data-name="{{nombreCampo}}" data-id-nodo="{{idNodo}}" data-columna="{{nombreColumna}}" type="text" class="form-control fieldCFConfig fieldValidateRange" size="10" data-info="inferior" data-limite-inferior="{{limiteInferior}}" data-limite-superior="{{limiteSuperior}}" value="{{rangoInferior}}" data-tipo-campo="inputInferior">
                                {{else}}
                                    {{#if actualizadoPorUsuarioInputSuperior}}
                                        <input data-name="{{nombreCampo}}" data-id-nodo="{{idNodo}}" data-columna="{{nombreColumna}}" type="text" class="form-control fieldCFConfig fieldValidateRange" size="10" data-info="superior" data-limite-inferior="{{limiteInferior}}" data-limite-superior="{{limiteSuperior}}" value="{{rangoSuperior}}" data-tipo-campo="inputSuperior">
                                        {{else}}
                                            {{#if rangoSuperior}}
                                                <input data-name="{{nombreCampo}}" data-id-nodo="{{idNodo}}" data-columna="{{nombreColumna}}" type="text" class="form-control fieldCFConfig fieldValidateRange" size="10" data-info="superior" data-limite-inferior="{{limiteInferior}}" data-limite-superior="{{limiteSuperior}}" value="{{rangoSuperior}}" data-tipo-campo="inputSuperior">
                                            {{else}}
                                                <input data-name="{{nombreCampo}}" data-id-nodo="{{idNodo}}" data-columna="{{nombreColumna}}" type="text" class="form-control fieldCFConfig fieldValidateRange" size="10" value="{{valorCampo}}" data-tipo-campo="input">
                                            {{/if}}
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                            
                        {{/if}}
                        {{#if checkbox}}
                            <input data-name="{{nombreCampo}}" data-id-nodo="{{idNodo}}" data-columna="{{nombreColumna}}" type="checkbox" class="form-control fieldCFConfig" size="10" data-tipo-campo="check" {{checked}}>
                        {{/if}}
                    </td>
                {{/each}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>