{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/06_Customer_Center/10_Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
{{#if meta.short}}
    <a class="module-list-link" href="#{{buildRoute module=module}}" data-route="#{{buildRoute module=module}}"
       track="click:{{module}}" tabindex="-1" xmlns="http://www.w3.org/1999/html"><span class="label label-module label-module-mini label-{{module}}" {{#if meta.alias}} title="{{module}} {{else}} title="{{str 'LBL_MODULE_NAME' module}} {{/if}}">{{moduleIconLabel module}}</span>{{#if meta.alias}} {{module}} {{else}} {{str 'LBL_MODULE_NAME' module}} {{/if}}</a>
{{else}}

    {{#notEq module "Expediente"}}
        {{#notEq module "Cotizador"}}
            {{#notEq module "CotizadorProspectos"}}
        <a class="btn btn-invisible btn-link module-name" href="#{{buildRoute module=module}}" data-route="#{{buildRoute module=module}}" track="click:{{module}}" aria-label="{{str 'LBL_MODULE_NAME' module}}">{{str 'LBL_MODULE_NAME' module}}</a>
    {{/notEq}}{{/notEq}}{{/notEq}}

    {{#eq module "Cotizador"}}
        <a class="btn btn-invisible btn-link module-name" aria-label="{{str 'LBL_MODULE_NAME' module}}">Cotizadores</a>
        <button type="button" title="{{str 'LBL_LINK_MORE' module}}" data-toggle="dropdown" class="btn btn-invisible dropdown-toggle" track="click:{{name}}-dropdown" aria-label="{{str 'LBL_MODULE_NAME' module}} - {{str 'LBL_LINK_MORE' module}}"><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-menu scroll">
            <ul role="menu">
            <li> <a class="ellipsis_inline" tabindex="-1" href="#{{buildRoute module=module}}" data-route="#{{buildRoute module=module}}" track="click:{{module}}" aria-label="{{str 'LBL_MODULE_NAME' module}}"><i class="fa fa-clipboard"></i>{{module}}</a></li>


            <li> <a class="ellipsis_inline" tabindex="-1" href="#{{buildRoute module=module}}" data-route="#bwc/index.php?entryPoint=CotizadorProspectos" track="click:{{module}}" aria-label="{{str 'LBL_MODULE_NAME' module}}"><i class="fa fa-users"></i>Cotizador Prospectos</a></li>
            </ul>
        </div>
    {{/eq}}

    {{#eq module "Expediente"}}
            <a class="btn btn-invisible btn-link module-name" href="#{{buildRoute module=module}}" data-route="#{{buildRoute module=module}}" track="click:{{module}}" aria-label="{{str 'LBL_MODULE_NAME' module}}">{{module}}</a>
    {{/eq}}

    <!--{{#eq module "CotizadorProspectos"}}
        <a class="btn btn-invisible btn-link module-name" href="#{{buildRoute module=module}}" data-route="#{{buildRoute module=module}}" track="click:{{module}}" aria-label="{{str 'LBL_MODULE_NAME' module}}">Cotizador Prospectos</a>
    {{/eq}}-->

    {{#if actions}}
    <button type="button" title="{{str 'LBL_LINK_MORE' module}}" data-toggle="dropdown" class="btn btn-invisible dropdown-toggle" track="click:{{name}}-dropdown" aria-label="{{str 'LBL_MODULE_NAME' module}} - {{str 'LBL_LINK_MORE' module}}"><i class="fa fa-caret-down"></i></button>
    <div class="dropdown-menu scroll">
        <ul role="menu">
            {{#each actions}}
                <li><a class="ellipsis_inline" tabindex="-1"
                       data-navbar-menu-item="{{label}}"
                    {{#if event}}
                       href="javascript:void(0);"
                       data-event="{{event}}"
                       track="click:{{event}}"
                    {{else}}
                       href="{{route}}"
                       data-route="{{route}}"
                       track="click:{{route}}"
                    {{/if}}>{{#if icon}}<i class="fa {{icon}}"></i>{{/if}}{{str label ../module}}</a>
                </li>
            {{/each}}
            <li class="divider" data-container="recently-viewed"></li>
            <li class="divider" data-container="favorites"></li>
        </ul>
    </div>
    {{/if}}
{{/if}}
