{{#if this.loadView}}
    <style>
        .container {
            overflow-y:auto;
            display:block;
            width: 100%;
        }

        .cuentas {
            display:table;
            width: 90%;
        }

        .cuentasContainer {
            margin-top: 2%;
            overflow-y:auto;
            height: 400 px;
        }

        #containerHeader {
            font-size: 18px;
            margin-top: 2%;
            margin-left: 1%;
            line-height: 10px;
        }

        #successful {
            margin-top: 10%;
            font-size: 25px;
            color: #33800d;
        }
    </style>

    <script>
        $(document).ready(function () {
        $('.cuentasContainer').tablavet({
            "scrollY": "50vh",
            "scrollCollapse": true,
        });
        $('.tablavet').addClass('bs-select');
        });

    </script>




    <div class="container" >
        <h1 id="containerHeader" align="left">Asesores Vetados</h1>
        <hr margin: 5px>
        <table align="left"  width=100%>
            <tr>
                <td>
                <th>Equipo:</th>
                </td>
                <td colspan="2" style="padding-top: 1%;">
                    <select id="Equipos">
                        {{#each lista_equipo}}
                            <option value="{{@key}}" {{ifSelected @key filtros.Equipo}}>{{this}}</option>
                        {{/each}}
                    </select>
                </td>
                <td>
                <th>Puesto: </th>
                </td>
                <td colspan="2" style="padding-top: 1%;">
                    <select id="Puesto">
                        {{#each lista_puesto}}
                            <option value="{{@key}}" {{ifSelected @key filtros.Puesto}}>{{this}}</option>
                        {{/each}}
                    </select>
                </td>
                <th> Asesor: </th>

                <td>
                    <input id="AsesorN" type="text" value="" placeholder="Nombre">
                </td>
                <td>
                    <input id="AsesorA" type="text" value="" placeholder="Apellido">
                </td>
                <td>
                    <input type="button" value="Buscar" id="btn_Asesores" class="btn btn-primary" width="20%" />
                </td>
            </tr>
                <td colspan="12"><span id='processing' style="display: none"><img width='30' height='5' src='custom/Levementum/images/icon_processing.gif'></span></td>
             </tr>
            </tr>

        </table>
        <br>
        <div style="display: none" id="successful">
            <p>Los Asesores fueron Vetados</p>
        </div>
        <br>
    <div class="cuentasContainer">
    <table class="table table-striped tablavet" align="center">
        {{#if listausuarios}}
            <tr>
                <th width="20%" style="text-align:center">VETADO</th>
                <th width="80%" style="text-align:center">ASESOR</th>
            </tr>
            {{#each listausuarios}}
                <tr class='single'>

                    <td style="text-align:center;">
                    <span sfuuid='880' class='list'>
                        <input type="checkbox" class="check-vetado"
                               {{#if vetados_chk_c}}checked{{/if}}
                               >
                    </span>
                    </td>
                    <td>
                    <span sfuuid='880' class='list'>
                          <div class='ellipsis_inline' data-placement='bottom'>
                              <span style='font-family: Helvetica, Arial, sans-serif; font-size: 12px;'>{{name}}</span>
                          </div>
                    </span>
                    </td>

                </tr>
            {{/each}}

        </table>
        </div>
            <div><p></p></div>
            <table align="left">
                <tr>

                    {{#each meta.panelsTo}}
                        {{#each fields}}
                            <td>
                                {{field ../../this}}
                            </td>
                        {{/each}}
                    {{/each}}
                    <td><input type="button" value="Guardar cambios" id="btn_guardavetados" class="btn btn-success" /></td>
                </tr>
            </table>
        {{else}}
            <div class="row-fluid" style="color:gray;">
                <div class="span12"> No se han encontrado registros</div>
            </div>
        {{/if}}
        <textarea style="display: none" id="crossSeleccionados" value=""></textarea>
    </div>
{{/if}}