<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>Activo</th>
        <th>Plazo</th>
        <th>Tasa Minima</th>
        <th>Tasa Maxima</th>
        <th>VRC Min</th>
        <th>VRC Max</th>
        <th>VRI Min</th>
        <th>VRI Max</th>
        <th>Deposito</th>
        <th>CA Min</th>
        <th>CA Max</th>
        <th>Pago Único Min</th>
        <th>Pago Único Max</th>
        <th>Particular</th>
        <th>Empresarial</th>
        <th>Activo Nuevo</th>
    </tr>
    {{#each value}}
        <tr>
            <td>{{activo_label}}</td>
            <td>{{plazo_label}}</td>
            <td>{{tasa_minima}}</td>
            <td>{{tasa_maxima}}</td>
            <td>{{vrc_minimo}}</td>
            <td>{{vrc_maximo}}</td>
            <td>{{vri_minimo}}</td>
            <td>{{vri_maximo}}</td>
            <!--<td>{{deposito_en_garantia}}</td>-->
			<td>
                <input type="checkbox" value="{{deposito_en_garantia}}" {{detail_deposito_en_garantia_checked}} disabled />
            </td>
            <td>{{comision_minima}}</td>
            <td>{{comision_maxima}}</td>
            <td>{{renta_inicial_minima}}</td>
            <td>{{renta_inicial_maxima}}</td>
            <td>
                <input type="checkbox" value="{{uso_particular}}" {{detail_uso_particular_checked}} disabled />
            </td>
            <td>
                <input type="checkbox" value="{{uso_empresarial}}" {{detail_uso_empresarial_checked}} disabled />
            </td>
            <td>
                <input type="checkbox" value="{{activo_nuevo}}" {{detail_activo_nuevo_checked}} disabled />
            </td>
        </tr>
    {{/each}}
</table>
