<link rel="stylesheet" href="custom/clients/base/views/cm_ranking_bl/styles/styles.css">
<div class="contenedor-grid-ranking">
    <div class="contenedor-tipo color-white border-right-bl">
        <div class="contenedor-header">
            <div class="header-column" align="center">
                <h5>Prospecto</h5>
            </div>
            <div class="container-header">
                <div class="padding">
                    <p style="color:black">$ {{customFormatNumber registrosRankingBL.Prospecto.SumaBLS}}</p>
                </div>
                <div class="padding sortIcon">
                    <img src="custom/include/images/sort_icon.svg" width="20" height="20">
                </div>
            </div>
        </div>
    </div>

    <div class="contenedor-tipo color-white border-right-bl">
        <div class="contenedor-header">
            <div class="header-column" align="center">
                <h5>Devuelta</h5>
            </div>
            <div class="container-header">
                <div class="padding">
                    <p style="color:black">$ {{customFormatNumber registrosRankingBL.Devuelta.SumaBLS}}</p>
                </div>
                <div class="padding sortIcon">
                    <img src="custom/include/images/sort_icon.svg" width="20" height="20">
                </div>
            </div>
        </div>
    </div>

    <div class="contenedor-tipo color-white border-right-bl">
        <div class="contenedor-header">
            <div class="header-column" align="center">
                    <h5>Crédito</h5>
            </div>
            <div class="container-header">
                <div class="padding">
                    <p style="color:black">$ {{customFormatNumber registrosRankingBL.Credito.SumaBLS}}</p>
                </div>
                <div class="padding sortIcon">
                    <img src="custom/include/images/sort_icon.svg" width="20" height="20">
                </div>
            </div>
        </div>
    </div>

    <div class="contenedor-tipo color-white border-right-bl">
        <div class="contenedor-header">
            <div class="header-column" align="center">
                <h5>Rechazada</h5>
            </div>
            <div class="container-header">
                <div class="padding">
                    <p style="color:black">$ {{customFormatNumber registrosRankingBL.Rechazada.SumaBLS}}</p>
                </div>
                <div class="padding sortIcon">
                    <img src="custom/include/images/sort_icon.svg" width="20" height="20">
                </div>
            </div>
        </div>
    </div>

    <div class="contenedor-tipo color-white border-right-bl">
        <div class="contenedor-header">
            <div class="header-column" align="center">
                <h5>Autorizado Sin Solicitud</h5>
            </div>
            <div class="container-header">
                <div class="padding">
                    <p style="color:black">$ {{customFormatNumber registrosRankingBL.AutorizadaSinSolicitud.SumaBLS}}</p>
                </div>
                <div class="padding sortIcon">
                    <img src="custom/include/images/sort_icon.svg" width="20" height="20">
                </div>
            </div>
        </div>
    </div>

    <div class="contenedor-tipo color-white border-right-bl">
        <div class="contenedor-header">
            <div class="header-column" align="center">
                <h5>Autorizado Con Solicitud</h5>
            </div>
            <div class="container-header">
                <div class="padding">
                    <p style="color:black">$ {{customFormatNumber registrosRankingBL.AutorizadaConSolicitud.SumaBLS}}</p>
                </div>
                <div class="padding sortIcon">
                    <img src="custom/include/images/sort_icon.svg" width="20" height="20">
                </div>
            </div>
        </div>
    </div>
    <!-- Comienza sección para items -->
    <div class="prospecto-items border-right">
        <div class="card-item">
            <p>No. Backlog: </p>
            <p>Cliente:</p>
            <p>Asesor:</p>
            <p>Monto:</p>
            <p>Producto:</p>
        </div>
        <div class="card-item">
            <p>No. Backlog: </p>
            <p>Cliente:</p>
            <p>Asesor:</p>
            <p>Monto:</p>
            <p>Producto:</p>
        </div>
    </div>

    <div class="devuelta-items border-right">
        <div class="card-item">
            <p>No. Backlog: </p>
            <p>Cliente:</p>
            <p>Asesor:</p>
            <p>Monto:</p>
            <p>Producto:</p>
        </div>
        <div class="card-item">
            <p>No. Backlog: </p>
            <p>Cliente:</p>
            <p>Asesor:</p>
            <p>Monto:</p>
            <p>Producto:</p>
        </div>
    </div>

    <div class="credito-items border-right">
        <div class="card-item">
            <p>No. Backlog: </p>
            <p>Cliente:</p>
            <p>Asesor:</p>
            <p>Monto:</p>
            <p>Producto:</p>
        </div>
        <div class="card-item">
            <p>No. Backlog: </p>
            <p>Cliente:</p>
            <p>Asesor:</p>
            <p>Monto:</p>
            <p>Producto:</p>
        </div>
    </div>

    <div class="rechazada-items border-right">
        <div class="card-item">
            <p>No. Backlog: </p>
            <p>Cliente:</p>
            <p>Asesor:</p>
            <p>Monto:</p>
            <p>Producto:</p>
        </div>
        <div class="card-item">
            <p>No. Backlog: </p>
            <p>Cliente:</p>
            <p>Asesor:</p>
            <p>Monto:</p>
            <p>Producto:</p>
        </div>
    </div>

    <div class="autorizada-sin-solicitud-items border-right">
        <div class="card-item">
            <p>No. Backlog: </p>
            <p>Cliente:</p>
            <p>Asesor:</p>
            <p>Monto:</p>
            <p>Producto:</p>
        </div>
        <div class="card-item">
            <p>No. Backlog: </p>
            <p>Cliente:</p>
            <p>Asesor:</p>
            <p>Monto:</p>
            <p>Producto:</p>
        </div>
    </div>

    <div class="autorizada-con-solicitud-items border-right">
        <div class="card-item">
            <p>No. Backlog: </p>
            <p>Cliente:</p>
            <p>Asesor:</p>
            <p>Monto:</p>
            <p>Producto:</p>
        </div>
        <div class="card-item">
            <p>No. Backlog: </p>
            <p>Cliente:</p>
            <p>Asesor:</p>
            <p>Monto:</p>
            <p>Producto:</p>
        </div>
    </div>
    
</div>