<table class="table table-bordered table-striped span12" style="overflow-x: scroll;">
    <thead>
        <tr>
            <td><b>Cuenta</b></td>
            <td><b>Monto</b></td>
            <td><b>Fecha asignación</b></td>
            <td><b>Etapa</b></td>
            <td><b>Acciones</b></td>
        </tr>
    </thead>
    <tbody>
        {{#each dataAccSolicitudesAplazados}}
        <tr>
            <td><a href="#Accounts/{{idCuenta}}" target="_blank">{{nombreCuenta}}</a></td>
            <td>{{#if monto}}{{monto}}{{/if}}</td>
            <td>{{#if fechaAsignacion}}{{fechaAsignacion}}{{/if}}</td>
            <td>{{#if oppEtapa}}{{oppEtapa}}{{/if}}</td> 
            <td>
                <button class="btn btn btnNoViableAplazados" id="btnNoViableAplazados" type="submit" title="{{idCuenta}}">Establecer No viable</button>
                <a href="#Opportunities/{{idOpp}}" style="margin-top: 2px;" id="btnProspIntExpAplazado" target="_blank" class="btn" rel="tooltip">Convertir a prospecto integración de expediente</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
