<!--Restructura Adrian Arauz
-->
<script>
    var $condicionesRI = this.$('[data-name=condiciones_financieras_incremento_ratificacion]').find('select.select2');
    $condicionesRI.select2();
</script>
<!-- Ratificacion e incremento Existentes -->
<table id="condicionesExistRI"  width="100%">
    <div cellspacing="1" cellpadding="5">
        {{#each oFinancieraRI.ratificacion}}
            <div class="CFratificacion" style="border-bottom: 1px solid;   border-color:#cfcfcf;">
                <br>
                <!-- Fila 1 -->
                <div class="row-fluid Fila1-CFRI">
                    <div class="span3" >
                        <label class="record-label primeraCol">Activo</label>
                        <select class="existing_incremento_Activo row-fluid select2" data-field="ActivoRI" placeholder="Activo">
                            {{#each ../activo_listRI}}
                                <option value="{{@key}}" {{ifSelected @key ../idactivo}}>{{this}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="span3" >
                        <label class="record-label">Plazo</label>
                        <select class="existing_incremento_Plazo row-fluid select2" data-field="PlazoRI" placeholder="Plazo" style="font-size: 15px;font-weight: 500;" id="new_plazo">
                            {{#each ../plazo_listRI}}
                                <option value="{{@key}}" {{ifSelected @key ../plazo}}>{{this}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="span3" >
                        <label class="record-label">Tasa Mínima</label>
                        <input type="text" class="existing_incremento_TasaMinima porcentaje porcentaje_new" value="{{tasa_minima}}" data-max="new_incremento_TasaMaxima" id="new_tasa_minima"/>
                    </div>

                    <div class="span3" >
                        <label class="record-label">Tasa Máxima</label>
                        <input type="text" class="existing_incremento_TasaMaxima porcentaje porcentaje_new" value="{{tasa_maxima}}" data-min="new_incremento_TasaMinima" id="new_tasa_maxima"/>
                    </div>
                </div>
                &nbsp
                <!-- Fila 2 -->
                <div class="row-fluid Fila2-CFRI">

                    <div class="span3" >
                        <label class="record-label primeraCol">VRC Mínimo</label>
                        <input type="text" class="existing_incremento_VRCMinimo porcentaje porcentaje_new" value="{{vrc_minimo}}" data-max="new_incremento_VRCMaximo" id="new_vrc_minimo"/>
                    </div>

                    <div class="span3" >
                        <label class="record-label">VRC Máximo</label>
                        <input type="text" class="existing_incremento_VRCMaximo porcentaje porcentaje_new" value="{{vrc_maximo}}" data-min="new_incremento_VRCMinimo" id="new_vrc_maximo"/>
                    </div>

                    <div class="span3" >
                        <label class="record-label">VRI Mínimo</label>
                        <input type="text" class="existing_incremento_VRIMinimo porcentaje porcentaje_new" value="{{vri_minimo}}" data-max="new_incremento_VRIMaximo" id="new_vri_minimo"/>
                    </div>

                    <div class="span3" >
                        <label class="record-label">VRI Máximo</label>
                        <input type="text" class="existing_incremento_VRIMaximo porcentaje porcentaje_new" value="{{vri_maximo}}" data-min="new_incremento_VRIMinimo" id="new_vri_maximo"/>
                    </div>
                </div>
                &nbsp
                <!-- Fila 3 -->
                <div class="row-fluid Fila3-CFRI">

                    <div class="span3" >
                        <label class="record-label primeraCol">Comisión Mínima</label>
                        <input type="text" class="existing_incremento_ComisionMinima porcentaje porcentaje_new" value="{{comision_minima}}" data-max="new_incremento_ComisionMaxima" id="new_comision_minima"/>
                    </div>

                    <div class="span3" >
                        <label class="record-label">Comisión Máxima</label>
                        <input type="text" class="existing_incremento_ComisionMaxima porcentaje porcentaje_new" value="{{comision_maxima}}" data-min="new_incremento_ComisionMinima" id="new_comision_maxima"/>
                    </div>

                    <div class="span3" >
                        <label class="record-label">Pago Único Mínimo</label>
                        <input type="text" class="existing_incremento_RentaInicialMinima porcentaje porcentaje_new" value="{{renta_inicial_minima}}" data-max="new_incremento_RentaInicialMaxima" id="new_renta_inicial_minima"/>
                    </div>

                    <div class="span3" >
                        <label class="record-label">Pago Único Máximo</label>
                        <input type="text" class="existing_incremento_RentaInicialMaxima porcentaje porcentaje_new" value="{{renta_inicial_maxima}}" data-min="new_incremento_RentaInicialMinima" id="new_renta_inicial_maxima"/>
                    </div>
                </div>
                &nbsp
                <!-- Fila 4 -->
                <div class="row-fluid Fila4-CFRI">

                    <div class="span3" >
                        <label class="record-label primeraCol">Depósito en Garantía</label>
                        <input type="checkbox" class="existing_incremento_Deposito" value="{{deposito_en_garantia}}" id="new_deposito_en_garantia"/>
                    </div>

                    <div class="span3" >
                        <label class="record-label">Uso Particular</label>
                        <input type="checkbox" class="existing_incremento_UsoParticular" value="{{uso_particular}}"/>
                    </div>

                    <div class="span3" >
                        <label class="record-label">Uso Empresarial</label>
                        <input type="checkbox" class="existing_incremento_UsoEmpresarial" value="{{uso_empresarial}}"/>
                    </div>

                    <div class="span2" >
                        <label class="record-label">¿Activo Nuevo?</label>
                        <input type="checkbox" class="existing_incremento_ActivoNuevo" value="{{activo_nuevo}}"/>
                    </div>

                    <div class="btn-toolbar prevent-mousedown">
                        <div class="btn-group">
                            <a href="javascript:void(0)" class="btn remove_incremento_CondicionFinanciera" rel="tooltip" title="Add Condicion Financiera"><i class="fa fa-check"></i></a>
                        </div>
                    </div>

                </div>
            </div>
            <br>
        {{/each}}
    </div>
</table>

<!-- Ratificacion e incremento NUEVA -->
<table id="condicionesNewtRI"  width="100%">
    <div cellspacing="1" cellpadding="5">
        <div class="CFratificacion" style="border: solid lightgreen">
            <br>
            <!-- Fila 1 -->
            <div class="row-fluid Fila1-CFRI">
                <div class="span3" >
                    <label class="record-label primeraCol">Activo</label>
                    <select class="new_incremento_Activo row-fluid select2" data-field="Activo" placeholder="Activo">
                        {{#each activo_listRI}}
                            <option value="{{@key}}" {{ifSelected @key ../activo_listRI}}>{{this}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="span3" >
                    <label class="record-label">Plazo</label>
                    <select class="new_incremento_Plazo row-fluid select2" data-field="Plazo" placeholder="Plazo" style="font-size: 15px;font-weight: 500;" id="new_plazo">
                        {{#each plazo_listRI}}
                            <option value="{{@key}}" {{ifSelected @key ../plazo_listRI}}>{{this}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="span3" >
                    <label class="record-label">Tasa Mínima</label>
                    <input type="text" class="new_incremento_TasaMinima porcentaje porcentaje_new" value="{{tasa_minima}}" data-name="new_incremento_TasaMaxima" id="new_tasa_minima"/>
                </div>

                <div class="span3" >
                    <label class="record-label">Tasa Máxima</label>
                    <input type="text" class="new_incremento_TasaMaxima porcentaje porcentaje_new" value="{{tasa_maxima}}" data-name="new_incremento_TasaMinima" id="new_tasa_maxima"/>
                </div>
            </div>
            &nbsp
            <!-- Fila 2 -->
            <div class="row-fluid Fila2-CFRI">

                <div class="span3" >
                    <label class="record-label primeraCol">VRC Mínimo</label>
                    <input type="text" class="new_incremento_VRCMinimo porcentaje porcentaje_new" value="{{vrc_minimo}}" data-name="new_incremento_VRCMaximo" id="new_vrc_minimo"/>
                </div>

                <div class="span3" >
                    <label class="record-label">VRC Máximo</label>
                    <input type="text" class="new_incremento_VRCMaximo porcentaje porcentaje_new" value="{{vrc_maximo}}" data-name="new_incremento_VRCMinimo" id="new_vrc_maximo"/>
                </div>

                <div class="span3" >
                    <label class="record-label">VRI Mínimo</label>
                    <input type="text" class="new_incremento_VRIMinimo porcentaje porcentaje_new" value="{{vri_minimo}}" data-name="new_incremento_VRIMaximo" id="new_vri_minimo"/>
                </div>

                <div class="span3" >
                    <label class="record-label">VRI Máximo</label>
                    <input type="text" class="new_incremento_VRIMaximo porcentaje porcentaje_new" value="{{vri_maximo}}" data-name="new_incremento_VRIMinimo" id="new_vri_maximo"/>
                </div>
            </div>
            &nbsp
            <!-- Fila 3 -->
            <div class="row-fluid Fila3-CFRI">

                <div class="span3" >
                    <label class="record-label primeraCol">Comisión Mínima</label>
                    <input type="text" class="new_incremento_ComisionMinima porcentaje porcentaje_new" value="{{comision_minima}}" data-name="new_incremento_ComisionMaxima" id="new_comision_minima"/>
                </div>

                <div class="span3" >
                    <label class="record-label">Comisión Máxima</label>
                    <input type="text" class="new_incremento_ComisionMaxima porcentaje porcentaje_new" value="{{comision_maxima}}" data-name="new_incremento_ComisionMinima" id="new_comision_maxima"/>
                </div>

                <div class="span3" >
                    <label class="record-label">Pago Único Mínimo</label>
                    <input type="text" class="new_incremento_RentaInicialMinima porcentaje porcentaje_new" value="{{renta_inicial_minima}}" data-name="new_incremento_RentaInicialMaxima" id="new_renta_inicial_minima"/>
                </div>

                <div class="span3" >
                    <label class="record-label">Pago Único Máximo</label>
                    <input type="text" class="new_incremento_RentaInicialMaxima porcentaje porcentaje_new" value="{{renta_inicial_maxima}}" data-name="new_incremento_RentaInicialMinima" id="new_renta_inicial_maxima"/>
                </div>
            </div>
            &nbsp
            <!-- Fila 4 -->
            <div class="row-fluid Fila4-CFRI">

                <div class="span3" >
                    <label class="record-label primeraCol">Depósito en Garantía</label>
                    <input type="checkbox" class="new_incremento_Deposito" value="{{deposito_en_garantia}}" id="new_deposito_en_garantia"/>
                </div>

                <div class="span3" >
                    <label class="record-label">Uso Particular</label>
                    <input type="checkbox" class="new_incremento_UsoParticular" value="{{uso_particular}}"/>
                </div>

                <div class="span3" >
                    <label class="record-label">Uso Empresarial</label>
                    <input type="checkbox" class="new_incremento_UsoEmpresarial" value="{{uso_empresarial}}"/>
                </div>

                <div class="span2" >
                    <label class="record-label">¿Activo Nuevo?</label>
                    <input type="checkbox" class="new_incremento_ActivoNuevo" value="{{activo_nuevo}}"/>
                </div>

                <div class="btn-toolbar prevent-mousedown">
                    <div class="btn-group">
                        <a href="javascript:void(0)" class="btn add_incremento_CondicionFinanciera" rel="tooltip" title="Add Condicion Financiera"><i class="fa fa-check"></i></a>
                    </div>
                </div>

            </div>
        </div>
        <br>
    </div>
</table>