{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/06_Customer_Center/10_Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
{{#with def}}
    {{#each fields}}
        <span class="record-cell" data-name="{{name}}" data-type="{{type}}">
            {{#unless ../dismiss_label}}
            <div class="record-label" data-name="{{name}}">{{str label ../../../module}}</div>
            {{/unless}}
            <span data-fieldname="{{name}}">
                {{field ../../view model=../../model template=../../options.viewName}}
            </span>
        </span>
    {{/each}}
{{/with}}
