<style>
    .mpad {
        padding-top: 5px;
    }
    .sborder {
        border: 0 !important;
    }
</style>

<table id="tableUni_productos" width="100%" class="table">
    <tr>
        <td width="33%" class="sborder">
            <div class="campoLeasing">
                <div><strong>Leasing</strong></div>
                <div>
                    <div class="mpad">{{getUnifinListValue 'product_status_atencion_list' leasing.estatus_atencion}}</div>
                    <div class="mpad">{{leasing.dias}} días
                        <a href="#Employees/{{leasing.assigned_user_id}}">{{leasing.assigned_user_name}}</a>
                    </div>
                </div>
            </div>
        </td>
        <td width="33%" class="sborder">
            <div class="campoFactoraje">
                <div><strong>Factoraje</strong></div>
                <div>
                    <div class="mpad">{{getUnifinListValue 'product_status_atencion_list' factoring.estatus_atencion}}</div>
                    <div class="mpad">{{factoring.dias}} días
                        <a href="#Employees/{{factoring.assigned_user_id}}">{{factoring.assigned_user_name}}</a>
                    </div>
                </div>
            </div>
        </td>
        <td width="33%" class="sborder">
            <div class="campoCA">
                <div><strong>Crédito Automotriz</strong></div>
                <div>
                    <div class="mpad">{{getUnifinListValue 'product_status_atencion_list' credito_auto.estatus_atencion}}</div>
                    <div class="mpad">{{credito_auto.dias}} días
                        <a href="#Employees/{{credito_auto.assigned_user_id}}">{{credito_auto.assigned_user_name}}</a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr><label class="record-label">&nbsp;</label></tr>
    <tr>
        <td width="33%" class="sborder">
            <div class="campoFleet">
                <div><strong>Fleet</strong></div>
                <div>
                    <div class="mpad">{{getUnifinListValue 'product_status_atencion_list' fleet.estatus_atencion}}</div>
                    <div class="mpad">{{fleet.dias}} días
                        <a href="#Employees/{{fleet.assigned_user_id}}">{{fleet.assigned_user_name}}</a>
                    </div>
                </div>
            </div>
        </td>
        <td width="33%" class="sborder">
            <div class="campoUniclick">
                <div><strong>Uniclick</strong></div>
                <div>
                    <div class="mpad">{{getUnifinListValue 'product_status_atencion_list' uniclick.estatus_atencion}}</div>
                    <div class="mpad">{{uniclick.dias}} días
                        <a href="#Employees/{{uniclick.assigned_user_id}}">{{uniclick.assigned_user_name}}</a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>