<style>
    .mpad {
        padding-top: 5px;
    }
    .sborder {
        border: 0 !important;
    }
</style>

<table id="tableUni_productos" width="100%" class="table">
    <tr>
        <td width="33%" class="sborder">
            <div class="campoLeasing">
                <div><strong>Leasing/Crédito SOS</strong></div>
                <div>
                    <div class="mpad">{{getUnifinListValue 'product_status_atencion_list' ResumenProductos.leasing.estatus_atencion}}</div>
                    <div class="mpad">{{ResumenProductos.leasing.dias}} días
                        <a href="#Employees/{{ResumenProductos.leasing.assigned_user_id}}">{{ResumenProductos.leasing.full_name}}</a>
                    </div>
                </div>
            </div>
        </td>
        <td width="33%" class="sborder">
            <div class="campoFactoraje">
                <div><strong>Factoraje</strong></div>
                <div>
                    <div class="mpad">{{getUnifinListValue 'product_status_atencion_list' ResumenProductos.factoring.estatus_atencion}}</div>
                    <div class="mpad">{{ResumenProductos.factoring.dias}} días
                        <a href="#Employees/{{ResumenProductos.factoring.assigned_user_id}}">{{ResumenProductos.factoring.full_name}}</a>
                    </div>
                </div>
            </div>
        </td>
        <td width="33%" class="sborder">
            <div class="campoCA">
                <div><strong>Crédito Automotriz</strong></div>
                <div>
                    <div class="mpad">{{getUnifinListValue 'product_status_atencion_list' ResumenProductos.credito_auto.estatus_atencion}}</div>
                    <div class="mpad">{{ResumenProductos.credito_auto.dias}} días
                        <a href="#Employees/{{ResumenProductos.credito_auto.assigned_user_id}}">{{ResumenProductos.credito_auto.full_name}}</a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr><label class="record-label">&nbsp;</label></tr>
    <tr>
        <td width="33%" class="sborder">
            <div class="campoFleet">
                <div><strong>Fleet</strong></div>
                <div>
                    <div class="mpad">{{getUnifinListValue 'product_status_atencion_list' ResumenProductos.fleet.estatus_atencion}}</div>
                    <div class="mpad">{{ResumenProductos.fleet.dias}} días
                        <a href="#Employees/{{ResumenProductos.fleet.assigned_user_id}}">{{ResumenProductos.fleet.full_name}}</a>
                    </div>
                </div>
            </div>
        </td>
        <td width="33%" class="sborder">
            <div class="campoUniclick">
                <div><strong>Uniclick</strong></div>
                <div>
                    <div class="mpad">{{getUnifinListValue 'product_status_atencion_list' ResumenProductos.uniclick.estatus_atencion}}</div>
                    <div class="mpad">{{ResumenProductos.uniclick.dias}} días
                        <a href="#Employees/{{ResumenProductos.uniclick.assigned_user_id}}">{{ResumenProductos.uniclick.full_name}}</a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
