<table id="tableUni_productos" width="100%">
    <tr>
        <td width="33%">
            <div class="campoLeasing">
                <font size="3">Leasing</font>
                <br>
                <label class="record-label">Asignado</label>
                <br>
                <label class="record-label campo1" value="{{leadNoViable.quienl}}"> días)</label>
            </div>
        </td>
        <td width="33%">
            <div class="campoFactoraje">
                <font size="3">Factoraje</font>
                <br>
                <label class="record-label">Asignado</label>
                <br>
                <label class="record-label campo2" value="{{leadNoViable.quienl}}"> días)</label>
            </div>
        </td>
        <td width="33%">
            <div class="campoCA">
                <font size="3">Crédito Automotriz</font>
                <br>
                <label class="record-label">Asignado</label>
                <br>
                <label class="record-label campo3" value="{{leadNoViable.quienl}}"> días)</label>
            </div>
        </td>
    </tr>
    <tr><label class="record-label">&nbsp;</label></tr>
    <tr>
        <td width="33%">
            <div class="campoFleet">
                <font size="3">Fleet</font>
                <br>
                <label class="record-label">Asignado</label>
                <br>
                <label class="record-label campo4" value="{{leadNoViable.quienl}}"> días)</label>
            </div>
        </td>
        <td width="33%">
            <div class="campoUniclick">
                <font size="3">Uniclick</font>
                <br>
                <label class="record-label">Asignado</label>
                <br>
                <label class="record-label campo5" value="{{leadNoViable.quienl}}"> días)</label>
            </div>
        </td>

    </tr>
</table>