{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
{{#if def.buttons}}
    {{#unless def.no_default_action}}
        {{defaultActionBtn.placeholder}}
    {{/unless}}
    {{#if dropdownFields}}
        <a track="click:actiondropdown"
           class="btn dropdown-toggle{{#if def.no_default_action}} btn-invisible{{/if}}{{#if def.primary}} btn-primary{{/if}}"
           data-bs-toggle="dropdown" href="javascript:void(0);"
           role="button" tabindex="{{tabIndex}}" aria-haspopup="true" aria-expanded="false"
           aria-label="{{str 'LBL_FILTER'}}"
           data-bs-display="static">
            <span class="filter-view select2-container select2-choice select2-chosen workflow-filter-view">Filter <span class="{{buildIcon caretIcon}}"></span></span>
            {{tooltipTemplate (str 'LBL_FILTER') 'bottom'}}
        </a>
        <ul data-menu="dropdown" class="dropdown-menu workflow-filter-view-items border border-solid border-gray-300 rounded-md dark:border-gray-800" role="menu"></ul>
    {{/if}}
{{/if}}
