<!--
/*
 *  AF - 2018-10-23
 *  CustomField - Grid
 */
-->
<style>
  .table-container {
    border: 2px solid #055993;
    border-radius: 12px;
    padding: 10px;
    overflow-x: auto; /* Agregar scroll horizontal si es necesario */
  }

  .table {
    width: 100%;
    margin: 0; /* Elimina los márgenes adicionales */
  }

  .table th, .table td {
    padding: 8px; /* Asegúrate de que los paddings estén uniformes */
    box-sizing: border-box; /* Para incluir paddings y borders en el tamaño total */
  }

  .table thead th {
    background-color: #0679c8;
    color: #fff;
  }
</style>

<div class="table-container">
  <!-- Table list-->
  <div class="list-view">
    <table id="tableParticipantes" class="table table-striped">
        <thead>
            <tr>
                <th width="10%">&nbsp;</th>
                <th width="30%">Participante</th>
                <th width="30%">Correo</th>
                <th width="20%">Teléfono</th>
                <th width="10%" style="text-align:center">Asistencia</th>
            </tr>
        </thead>
        <tbody>
          {{#each mParticipantes.participantes}}
            <tr>
                <td>
                  {{#if unifin}}
                    <button class="btn btn-primary">UNIFIN</button>
                  {{else}}
                    <button class="btn btn-success">Cuenta</button>
                  {{/if}}
                </td>
                <td class="campo1SelectP">
                  {{nombres}} {{apaterno}} {{amaterno}}
                </td>
                <td class="campo2SelectP">
                  {{correo}}
                </td>
                <td class="campo3SelectP">
                  {{telefono}}
                </td>
                <td class="CheckActionP" style="text-align:center">
                  {{#if asistencia}}
                    <i class="sicon sicon-check" style="color: #04ff00; font-size:20px"></i>
                  {{else}}
                    <i class="sicon sicon-check" style="font-size:20px"></i>
                  {{/if}}
                </td>
            </tr>
          {{/each}}
        </tbody>
    </table>
  </div>
</div>
