<style>
    .columnas{
        padding: 1%;
    }

    .primeraCol{
        padding-left: 10%;
    }
</style>
{{log "HBS LOG"}}
{{log this}}
<div class="control-group condiciones_financieras_incremento_ratificacion">
    <table class="dashlet condiciones_financierasdashlet" style="border: solid lightgreen;" cellspacing="1" cellpadding="5" width="100%">
        <tr>
            <td >
                <div class="record-label primeraCol">
                    Activo
                </div>
            </td>
            <td class="columnas">
                <select class="existing_incremento_Activo" data-field="idactivo" placeholder="Activo" style="font-size: 15px;font-weight: 500;">
                    {{{idactivo}}}
                </select>
            </td>
            <td >
                <div class="record-label">
                    Plazo
                </div>
            </td>
            <td class="columnas">
                <select class="existing_incremento_Plazo" data-field="plazo" placeholder="Plazo" style="font-size: 15px;font-weight: 500;">
                    {{{plazo}}}
                </select>
            </td>
            <td >
                <div class="record-label">
                    Tasa Minima
                </div>
            </td>
            <td class="columnas">
                <input type="text" class="existing_incremento_TasaMinima{{index}} porcentaje" value="{{tasa_minima}}" data-max="existing_incremento_TasaMaxima{{index}}" data-field="tasa_minima"/>
            </td>
            <td >
                <div class="record-label">
                    Tasa Maxima
                </div>
            </td>
            <td class="columnas">
                <input type="text" class="existing_incremento_TasaMaxima{{index}} porcentaje" value="{{tasa_maxima}}" data-min="existing_incremento_TasaMinima{{index}}" data-field="tasa_maxima"/>
            </td>
            <td></td>
        </tr>

        <tr>
            <td >
                <div class="record-label primeraCol">
                    VRC Minimo
                </div>
            </td>
            <td class="columnas">
                <input type="text" class="existing_incremento_VRCMinimo{{index}} porcentaje" value="{{vrc_minimo}}" data-max="existing_incremento_VRCMaximo{{index}}" data-field="vrc_minimo"/>
            </td>
            <td >
                <div class="record-label">
                    VRC Maximo
                </div>
            </td>
            <td class="columnas">
                <input type="text" class="existing_incremento_VRCMaximo{{index}} porcentaje" value="{{vrc_maximo}}" data-min="existing_incremento_VRCMinimo{{index}}" data-field="vrc_maximo"/>
            </td>
            <td >
                <div class="record-label">
                    VRI Minimo
                </div>
            </td>
            <td class="columnas">
                <input type="text" class="existing_incremento_VRIMinimo{{index}} porcentaje" value="{{vri_minimo}}" data-max="existing_incremento_VRIMaximo{{index}}" data-field="vri_minimo"/>
            </td>
            <td >
                <div class="record-label">
                    VRI Maximo
                </div>
            </td>
            <td class="columnas">
                <input type="text" class="existing_incremento_VRIMaximo{{index}} porcentaje" value="{{vri_maximo}}" data-min="existing_incremento_VRIMinimo{{index}}" data-field="vri_maximo"/>
            </td>
            <td></td>
        </tr>

        <tr>
            <td >
                <div class="record-label primeraCol">
                    Comision Minima
                </div>
            </td>
            <td class="columnas">
                <input type="text" class="existing_incremento_ComisionMinima{{index}} porcentaje" value="{{comision_minima}}" data-max="existing_incremento_ComisionMaxima{{index}}" data-field="comision_minima"/>
            </td>
            <td >
                <div class="record-label">
                    Comision Maxima
                </div>
            </td>
            <td class="columnas">
                <input type="text" class="existing_incremento_ComisionMaxima{{index}} porcentaje" value="{{comision_maxima}}" data-min="existing_incremento_ComisionMinima{{index}}" data-field="comision_maxima"/>
            </td>
            <td >
                <div class="record-label">
                    Renta Inicial Minima
                </div>
            </td>
            <td class="columnas">
                <input type="text" class="existing_incremento_RentaInicialMinima{{index}} porcentaje" value="{{renta_inicial_minima}}" data-max="existing_incremento_RentaInicialMaxima{{index}}" data-field="renta_inicial_minima"/>
            </td>
            <td >
                <div class="record-label">
                    Renta Inicial Maxima
                </div>
            </td>
            <td class="columnas">
                <input type="text" class="existing_incremento_RentaInicialMaxima{{index}} porcentaje" value="{{renta_inicial_maxima}}" data-min="existing_incremento_RentaInicialMinima{{index}}" data-field="renta_inicial_maxima"/>
            </td>
            <td></td>
        </tr>

        <tr>
            <td >
                <div class="record-label primeraCol">
                    Deposito en Garantia
                </div>
            </td>
            <td class="columnas">
                <input type="checkbox" class="existing_incremento_Deposito checkboxUpdate" value="{{deposito_en_garantia}}" {{deposito_en_garantia_checked}} data-field="deposito_en_garantia"/>
            </td>
            <td >
                <div class="record-label">
                    Uso Particular
                </div>
            </td>
            <td class="columnas">
                <input type="checkbox" class="existing_incremento_UsoParticular checkboxUpdate" value="{{uso_particular}}" {{uso_particular_checked}} data-field="uso_particular"/>
            </td>
            <td >
                <div class="record-label">
                    Uso Empresarial
                </div>
            </td>
            <td class="columnas">
                <input type="checkbox" class="existing_incremento_UsoEmpresarial checkboxUpdate" value="{{uso_empresarial}}" {{uso_empresarial_checked}} data-field="uso_empresarial"/>
            </td>
            <td >
                <div class="record-label">
                    Activo Nuevo?
                </div>
            </td>
            <td class="columnas">
                <input type="checkbox" class="existing_incremento_ActivoNuevo" value="{{activo_nuevo}}" {{activo_nuevo_checked}} data-field="activo_nuevo"/>
            </td>
            <td width="12%">
                <div class="btn-toolbar prevent-mousedown">
                    <div class="btn-group prevent-mousedown">
                        <a href="javascript:void(0)" class="btn remove_incremento_CondicionFinanciera" rel="tooltip" title="{{str "LBL_REMOVE"}}"><i class="icon-minus"></i></a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>