<div class="row-fluid">
    <table id="tableClasfSectorial" width="100%">
        <tr>
            <div style="padding-bottom: 10px;"><strong>CNBV</strong></div>
            <div class="row-fluid">
                <div class="campoAE span6">
                    <label class="record-label" style="margin-left:0px">Actividad Econ贸mica</label>
                    <select class="row-fluid select2 list_ae" data-field="list_ae">
                        {{#each actividad_list}}
                        <option value="{{@key}}" {{ifSelected @key
                                              ../ActividadEconomica.ae.id}}>{{this}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="campoSSE span6">
                    <label class="record-label" style="margin-left:0px">Sub Sector Econ贸mico</label>
                    <input type="text" class="list_sse" data-field="list_sse" value="{{ActividadEconomica.label_subsector}}" />
                    <!-- <select class="row-fluid select2 list_sse" data-field="list_sse">
                        {{#each subsector_list}}
                        <option value="{{@key}}" {{ifSelected @key
                                              ../ActividadEconomica.sse.id}}>{{this}}</option>
                        {{/each}}
                    </select> -->
                </div>
            </div>
        </tr>
        <tr>
            <div class="row-fluid" style="margin: 25px 0px 0px 0px;">
                <div class="campoSE span6">
                    <label class="record-label" style="margin-left:0px">Sector Econ贸mico</label>
                    <input type="text" class="list_se" data-field="list_se" value="{{ActividadEconomica.label_sector}}" />
                    <!-- <select class="row-fluid select2 list_se" data-field="list_se">
                        {{#each sector_list}}
                        <option value="{{@key}}" {{ifSelected @key
                                              ../ActividadEconomica.se.id}}>{{this}}</option>
                        {{/each}}
                    </select> -->
                </div>
                <div class="campoMS span6">
                    <label class="record-label" style="margin-left:0px">Macro Sector</label>
                    <input type="text" class="list_ms" data-field="list_ms" value="{{ActividadEconomica.label_macro}}" />
                    <!-- <select class="row-fluid select2 list_ms" data-field="list_ms">
                        {{#each macro_list}}
                        <option value="{{@key}}" {{ifSelected @key
                                              ../ActividadEconomica.ms.id}}>{{this}}</option>
                        {{/each}}
                    </select> -->
                </div>
            </div>
        </tr>
        <tr>
            <div style="padding-top: 15px; padding-bottom: 10px;"><strong>INEGI</strong></div>
            <div class="row-fluid">
                <div class="campoIC span6">
                    <label class="record-label" style="margin-left:0px">Clase</label>
                    <input type="text" class="list_clase" data-field="list_clase" value="{{ActividadEconomica.label_clase}}" />
                    <!-- <select class="row-fluid select2 list_clase" data-field="list_clase">
                        {{#each clase_list}}
                        <option value="{{@key}}" {{ifSelected @key
                                              ../ResumenCliente.inegi.inegi_clase}}>{{this}}</option>
                        {{/each}}
                    </select> -->
                </div>
                <div class="campoISR span6">
                    <label class="record-label" style="margin-left:0px">Subrama</label>
                    <input type="text" class="list_subrama" data-field="list_subrama" value="{{ActividadEconomica.label_subrama}}" />
                    <!-- <select class="row-fluid select2 list_subrama" data-field="list_subrama">
                        {{#each subrama_list}}
                        <option value="{{@key}}" {{ifSelected @key
                                              ../ResumenCliente.inegi.inegi_subrama}}>{{this}}</option>
                        {{/each}}
                    </select> -->
                </div>
            </div>
        </tr>
        <tr>
            <div class="row-fluid" style="margin: 25px 0px 0px 0px;">
                <div class="campoIR span6">
                    <label class="record-label" style="margin-left:0px">Rama</label>
                    <input type="text" class="list_rama" data-field="list_rama" value="{{ActividadEconomica.label_rama}}" />
                    <!-- <select class="row-fluid select2 list_rama" data-field="list_rama">
                        {{#each rama_list}}
                        <option value="{{@key}}" {{ifSelected @key
                                              ../ResumenCliente.inegi.inegi_rama}}>{{this}}</option>
                        {{/each}}
                    </select> -->
                </div>
                <div class="campoISS span6">
                    <label class="record-label" style="margin-left:0px">Subsector</label>
                    <input type="text" class="list_ssector" data-field="list_ssector" value="{{ActividadEconomica.label_isubsector}}" />
                    <!-- <select class="row-fluid select2 list_ssector" data-field="list_ssector">
                        {{#each subsector_list}}
                        <option value="{{@key}}" {{ifSelected @key
                                              ../ResumenCliente.inegi.inegi_subsector}}>{{this}}</option>
                        {{/each}}
                    </select> -->
                </div>
            </div>
        </tr>
        <tr>
            <div class="row-fluid" style="margin: 25px 0px 0px 0px;">
                <div class="campoIS span6">
                    <label class="record-label" style="margin-left:0px">Sector</label>
                    <input type="text" class="list_sector" data-field="list_sector" value="{{ActividadEconomica.label_isector}}" />
                    <!-- <select class="row-fluid select2 list_sector" data-field="list_sector">
                        {{#each sector_list}}
                        <option value="{{@key}}" {{ifSelected @key
                                              ../ResumenCliente.inegi.inegi_sector}}>{{this}}</option>
                        {{/each}}
                    </select> -->
                </div>
                <div class="campoIMS span6">
                    <label class="record-label" style="margin-left:0px">Macro</label>
                    <input type="text" class="list_imacro" data-field="list_imacro" value="{{ActividadEconomica.label_imacro}}" />
                    <!-- <select class="row-fluid select2 list_imacro" data-field="list_imacro">
                        {{#each macro_list}}
                        <option value="{{@key}}" {{ifSelected @key
                                              ../ResumenCliente.inegi.inegi_macro}}>{{this}}</option>
                        {{/each}}
                    </select> -->
                </div>
            </div>
        </tr>
        <tr>
			<div style="padding-top: 15px; padding-bottom: 10px;"><strong>Pitney Bowes</strong></div>
            <div class="row-fluid">
                <div class="campodiv span6">
                    <label class="record-label" style="margin-left:0px">Divisi贸n</label>
					<input type="text" class="list_div" data-field="list_div" value="{{ActividadEconomica.label_div}}" />
                </div>
                <div class="campogrp span6">
                    <label class="record-label" style="margin-left:0px">Grupo</label>
					<input type="text" class="list_grp" data-field="list_grp" value="{{ActividadEconomica.label_grp}}" />
                </div>
            </div>
        </tr>
        <tr>
            <div class="row-fluid" style="margin: 25px 0px 0px 0px;">
                <div class="campocls span6">
                    <label class="record-label" style="margin-left:0px">Clase</label>
					<input type="text" class="list_cls" data-field="list_cls" value="{{ActividadEconomica.label_cls}}" />
                </div>
            </div>
        </tr>
    </table>
</div>