<div class="row-fluid">
    <table id="tableClasfSectorial" width="100%">
        <tr>
            <div style="padding-bottom: 10px;"><strong>CNBV</strong></div>
            <div class="row-fluid">
                <div class="campoAE span6">
                    <label class="record-label" style="margin-left:0px">Actividad Econ贸mica</label>
                    <label class="normal row-fluid select2 list_ae" data-field="list_ae">
                        {{#if ActividadEconomica.ae.id}}{{getUnifinListValue 'actividad_list' ActividadEconomica.ae.id}}{{/if}}
                    </label>
                </div>
                <div class="campoSSE span6">
                    <label class="record-label" style="margin-left:0px">Sub Sector Econ贸mico</label>
                    <label class="normal row-fluid select2 list_sse" data-field="list_sse">
                        {{#if ActividadEconomica.sse.id}}{{getUnifinListValue 'subsector_cnbv_list' ActividadEconomica.sse.id}}{{/if}}
                    </label>
                </div>
            </div>
        </tr>
        <tr>
            <div class="row-fluid" style="margin: 25px 0px 0px 0px;">
                <div class="campoSE span6">
                    <label class="record-label" style="margin-left:0px">Sector Econ贸mico</label>
                    <label class="normal row-fluid select2 list_se" data-field="list_se">
                        {{#if ActividadEconomica.se.id}}{{getUnifinListValue 'sector_cnbv_list' ActividadEconomica.se.id}}{{/if}}
                    </label>
                </div>
                <div class="campoMS span6">
                    <label class="record-label" style="margin-left:0px">Macro Sector</label>
                    <label class="normal row-fluid select2 list_ms" data-field="list_ms">
                        {{#if ActividadEconomica.ms.id}}{{getUnifinListValue 'macro_cnbv_list' ActividadEconomica.ms.id}}{{/if}}
                    </label>
                </div>
            </div>
        </tr>
        <tr>
            <div style="padding-top: 15px; padding-bottom: 10px;"><strong>INEGI</strong></div>
            <div class="row-fluid">
                <div class="campoIC span6">
                    <label class="record-label" style="margin-left:0px">Clase</label>
                    <label class="normal row-fluid select2 list_clase" data-field="list_clase">
                        {{#if ResumenCliente.inegi.inegi_clase}}{{getUnifinListValue 'clase_list' ResumenCliente.inegi.inegi_clase}}{{/if}}
                    </label>
                </div>
                <div class="campoISR span6">
                    <label class="record-label" style="margin-left:0px">Subrama</label>
                    <label class="normal row-fluid select2 list_subrama" data-field="list_subrama">
                        {{#if ResumenCliente.inegi.inegi_subrama}}{{getUnifinListValue 'subrama_list' ResumenCliente.inegi.inegi_subrama}}{{/if}}
                    </label>
                </div>
            </div>
        </tr>
        <tr>
            <div class="row-fluid" style="margin: 25px 0px 0px 0px;">
                <div class="campoIR span6">
                    <label class="record-label" style="margin-left:0px">Rama</label>
                    <label class="normal row-fluid select2 list_rama" data-field="list_rama">
                        {{#if ResumenCliente.inegi.inegi_rama}}{{getUnifinListValue 'rama_list' ResumenCliente.inegi.inegi_rama}}{{/if}}
                    </label>
                </div>
                <div class="campoISS span6">
                    <label class="record-label" style="margin-left:0px">Subsector</label>
                    <label class="normal row-fluid select2 list_ssector" data-field="list_ssector">
                        {{#if ResumenCliente.inegi.inegi_subsector}}{{getUnifinListValue 'subsector_list' ResumenCliente.inegi.inegi_subsector}}{{/if}}
                    </label>
                </div>
            </div>
        </tr>
        <tr>
            <div class="row-fluid" style="margin: 25px 0px 0px 0px;">
                <div class="campoIS span6">
                    <label class="record-label" style="margin-left:0px">Sector</label>
                    <label class="normal row-fluid select2 list_sector" data-field="list_sector">
                        {{#if ResumenCliente.inegi.inegi_sector}}{{getUnifinListValue 'sector_list' ResumenCliente.inegi.inegi_sector}}{{/if}}
                    </label>
                </div>
                <div class="campoIMS span6">
                    <label class="record-label" style="margin-left:0px">Macro</label>
                    <label class="normal row-fluid select2 list_imacro" data-field="list_imacro">
                        {{#if ResumenCliente.inegi.inegi_macro}}{{getUnifinListValue 'macro_list' ResumenCliente.inegi.inegi_macro}}{{/if}}
                    </label>
                </div>
            </div>
        </tr>
        <tr>
			<div style="padding-top: 15px; padding-bottom: 10px;"><strong>Pitney Bowes</strong></div>
            <div class="row-fluid">
                <div class="campodiv span6">
                    <label class="record-label" style="margin-left:0px">Divisi贸n</label>
                    <label class="normal row-fluid select2 list_div" data-field="list_div">
                        {{#if ResumenCliente.pb.pb_division}}{{getUnifinListValue 'pb_division_list' ResumenCliente.pb.pb_division}}{{/if}}
                    </label>
                </div>
                <div class="campogrp span6">
                    <label class="record-label" style="margin-left:0px">Grupo</label>
                    <label class="normal row-fluid select2 list_grp" data-field="list_grp">
                        {{#if ResumenCliente.pb.pb_grupo}}{{getUnifinListValue 'pb_grupo_list' ResumenCliente.pb.pb_grupo}}{{/if}}
                    </label>
                </div>
            </div>
        </tr>
        <tr>
            <div class="row-fluid" style="margin: 25px 0px 0px 0px;">
                <div class="campocls span6">
                    <label class="record-label" style="margin-left:0px">Clase</label>
                    <label class="normal row-fluid select2 list_cls" data-field="list_cls">
                        {{#if ResumenCliente.pb.pb_clase}}{{getUnifinListValue 'pb_clase_list' ResumenCliente.pb.pb_clase}}{{/if}}
                    </label>
                </div>
            </div>
        </tr>
    </table>
</div>