<div class="row-fluid">
    <table id="tableClasfSectorial" width="100%">
        <tr>
            <div style="padding-bottom: 10px;"><strong>CNBV</strong></div>
            <div class="row-fluid">
                <div class="campoAE span6">
                    <label class="record-label" style="margin-left:0px">Actividad Econ贸mica</label>
                    <label class="normal row-fluid select2 list_ae" data-field="list_ae">
                        {{getUnifinListValue 'actividadeconomica_list' ActividadEconomica.ae.id}}
                    </label>
                </div>
                <div class="campoSSE span6">
                    <label class="record-label" style="margin-left:0px">Sub Sector Econ贸mico</label>
                    <label class="normal row-fluid select2 list_sse" data-field="list_sse">
                        {{getUnifinListValue 'subsectoreconomico_list' ActividadEconomica.sse.id}}
                    </label>
                </div>
            </div>
        </tr>
        <tr>
            <div class="row-fluid" style="margin: 25px 0px 0px 0px;">
                <div class="campoSE span6">
                    <label class="record-label" style="margin-left:0px">Sector Econ贸mico</label>
                    <label class="normal row-fluid select2 list_se" data-field="list_se">
                        {{getUnifinListValue 'sectoreconomico_list' ActividadEconomica.se.id}}
                    </label>
                </div>
                <div class="campoMS span6">
                    <label class="record-label" style="margin-left:0px">Macro Sector</label>
                    <label class="normal row-fluid select2 list_ms" data-field="list_ms">
                        {{getUnifinListValue 'tct_macro_sector_ddw_list' ActividadEconomica.ms.id}}
                    </label>
                </div>
            </div>
        </tr>
        <tr>
            <div style="padding-top: 15px; padding-bottom: 10px;"><strong>INEGI</strong></div>
            <div class="row-fluid">
                <div class="campoIS span6">
                    <label class="record-label" style="margin-left:0px">Sector</label>
                    <label class="normal row-fluid select2 list_sector" data-field="list_sector">
                        {{getUnifinListValue 'inegi_sector_list' ResumenCliente.inegi.inegi_sector}}
                    </label>
                </div>
                <div class="campoISS span6">
                    <label class="record-label" style="margin-left:0px">Subsector</label>
                    <label class="normal row-fluid select2 list_ssector" data-field="list_ssector">
                        {{getUnifinListValue 'inegi_subsector_list' ResumenCliente.inegi.inegi_subsector}}
                    </label>
                </div>
            </div>
        </tr>
        <tr>
            <div class="row-fluid" style="margin: 25px 0px 0px 0px;">
                <div class="campoIR span6">
                    <label class="record-label" style="margin-left:0px">Rama</label>
                    <label class="normal row-fluid select2 list_rama" data-field="list_rama">
                        {{getUnifinListValue 'inegi_rama_list' ResumenCliente.inegi.inegi_rama}}
                    </label>
                </div>
                <div class="campoISR span6">
                    <label class="record-label" style="margin-left:0px">Subrama</label>
                    <label class="normal row-fluid select2 list_subrama" data-field="list_subrama">
                        {{getUnifinListValue 'inegi_subrama_list' ResumenCliente.inegi.inegi_subrama}}
                    </label>
                </div>
            </div>
        </tr>
        <tr>
            <div class="row-fluid" style="margin: 25px 0px 0px 0px;">
                <div class="campoIC span6">
                    <label class="record-label" style="margin-left:0px">Clase</label>
                    <label class="normal row-fluid select2 list_clase" data-field="list_clase">
                        {{getUnifinListValue 'inegi_clase_list' ResumenCliente.inegi.inegi_clase}}
                    </label>
                </div>
                <div class="campoID span6">
                    <label class="record-label" style="margin-left:0px">Descripci贸n</label>
                    <label class="normal row-fluid select2 list_descrip" data-field="list_descrip">
                        {{getUnifinListValue 'inegi_descripcion_list' ResumenCliente.inegi.inegi_descripcion}}
                    </label>
                </div>
            </div>
        </tr>
    </table>
</div>