<div class="row-fluid">
    <table id="tableClasfSectorial" width="100%">
        <tr>
            <div style="padding-bottom: 10px;"><strong>CNBV</strong></div>
            <div class="row-fluid">
                <div class="campoAE span6">
                    <label class="record-label" style="margin-left:0px">Actividad Econ贸mica</label>
                    <select class="row-fluid select2 list_ae" data-field="list_ae">
                        {{#each actividad_list}}
                        <option value="{{@key}}" {{ifSelected @key
                                              ../ActividadEconomica.ae.id}}>{{this}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="campoSSE span6">
                    <label class="record-label" style="margin-left:0px">Sub Sector Econ贸mico</label>
                    <input type="text" class="list_sse" data-field="list_sse" 
                    {{#if ActividadEconomica.sse.id}}
                        value="{{getUnifinListValue 'subsector_cnbv_list' ActividadEconomica.sse.id}}" />
                    {{else}}
                        value="{{ActividadEconomica.label_subsector}}" />
                    {{/if}}
                </div>
            </div>
        </tr>
        <tr>
            <div class="row-fluid" style="margin: 25px 0px 0px 0px;">
                <div class="campoSE span6">
                    <label class="record-label" style="margin-left:0px">Sector Econ贸mico</label>
                    <input type="text" class="list_se" data-field="list_se" 
                    {{#if ActividadEconomica.se.id}}
                        value="{{getUnifinListValue 'sector_cnbv_list' ActividadEconomica.se.id}}" />
                    {{else}}
                       value="{{ActividadEconomica.label_sector}}" />
                    {{/if}}
                </div>
                <div class="campoMS span6">
                    <label class="record-label" style="margin-left:0px">Macro Sector</label>
                    <input type="text" class="list_ms" data-field="list_ms"
                    {{#if ActividadEconomica.ms.id}}
                        value="{{getUnifinListValue 'macro_cnbv_list' ActividadEconomica.ms.id}}" />
                    {{else}}
                       value="{{ActividadEconomica.label_macro}}" />
                    {{/if}}
                </div>
            </div>
        </tr>
        <tr>
            <div style="padding-top: 15px; padding-bottom: 10px;"><strong>INEGI</strong></div>
            <div class="row-fluid">
                <div class="campoIC span6">
                    <label class="record-label" style="margin-left:0px">Clase</label>
                    <input type="text" class="list_clase" data-field="list_clase" 
                    {{#if ResumenCliente.inegi.inegi_clase}}
                        value="{{getUnifinListValue 'clase_list' ResumenCliente.inegi.inegi_clase}}" />
                    {{else}}
                        value="{{ActividadEconomica.label_clase}}"/>
                    {{/if}}
                </div>
                <div class="campoISR span6">
                    <label class="record-label" style="margin-left:0px">Subrama</label>
                    <input type="text" class="list_subrama" data-field="list_subrama"
                    {{#if ResumenCliente.inegi.inegi_subrama}}
                        value="{{getUnifinListValue 'subrama_list' ResumenCliente.inegi.inegi_subrama}}" />
                    {{else}}
                        value="{{ActividadEconomica.label_subrama}}" />
                    {{/if}}
                </div>
            </div>
        </tr>
        <tr>
            <div class="row-fluid" style="margin: 25px 0px 0px 0px;">
                <div class="campoIR span6">
                    <label class="record-label" style="margin-left:0px">Rama</label>
                    <input type="text" class="list_rama" data-field="list_rama" 
                    {{#if ResumenCliente.inegi.inegi_rama}}
                        value="{{getUnifinListValue 'rama_list' ResumenCliente.inegi.inegi_rama}}" />
                    {{else}}
                        value="{{ActividadEconomica.label_rama}}" />
                    {{/if}}
                </div>
                <div class="campoISS span6">
                    <label class="record-label" style="margin-left:0px">Subsector</label>
                    <input type="text" class="list_ssector" data-field="list_ssector"
                    {{#if ResumenCliente.inegi.inegi_subsector}}
                        value="{{getUnifinListValue 'subsector_list' ResumenCliente.inegi.inegi_subsector}}" />
                    {{else}}
                        value="{{ActividadEconomica.label_isubsector}}" />
                    {{/if}}
                </div>
            </div>
        </tr>
        <tr>
            <div class="row-fluid" style="margin: 25px 0px 0px 0px;">
                <div class="campoIS span6">
                    <label class="record-label" style="margin-left:0px">Sector</label>
                    <input type="text" class="list_sector" data-field="list_sector"
                    {{#if ResumenCliente.inegi.inegi_sector}}
                        value="{{getUnifinListValue 'sector_list' ResumenCliente.inegi.inegi_sector}}" />
                    {{else}}
                        value="{{ActividadEconomica.label_isector}}" />
                    {{/if}}
                </div>
                <div class="campoIMS span6">
                    <label class="record-label" style="margin-left:0px">Macro</label>
                    <input type="text" class="list_imacro" data-field="list_imacro" 
                    {{#if ResumenCliente.inegi.inegi_macro}}
                        value="{{getUnifinListValue 'macro_list' ResumenCliente.inegi.inegi_macro}}" />
                    {{else}}
                        value="{{ActividadEconomica.label_imacro}}" />
                    {{/if}}
                </div>
            </div>
        </tr>
        <tr>
			<div style="padding-top: 15px; padding-bottom: 10px;"><strong>Pitney Bowes</strong></div>
            <div class="row-fluid">
                <div class="campodiv span6">
                    <label class="record-label" style="margin-left:0px">Divisi贸n</label>
					<input type="text" class="list_div" data-field="list_div"
                    {{#if ResumenCliente.pb.pb_division}}
                        value="{{getUnifinListValue 'pb_division_list' ResumenCliente.pb.pb_division}}" />
                    {{else}}
                        value="{{ActividadEconomica.label_div}}" />
                    {{/if}}
                </div>
                <div class="campogrp span6">
                    <label class="record-label" style="margin-left:0px">Grupo</label>
					<input type="text" class="list_grp" data-field="list_grp" 
                    {{#if ResumenCliente.pb.pb_grupo}}
                        value="{{getUnifinListValue 'pb_grupo_list' ResumenCliente.pb.pb_grupo}}" />
                    {{else}}
                        value="{{ActividadEconomica.label_grp}}" />
                    {{/if}}
                </div>
            </div>
        </tr>
        <tr>
            <div class="row-fluid" style="margin: 25px 0px 0px 0px;">
                <div class="campocls span6">
                    <label class="record-label" style="margin-left:0px">Clase</label>
					<input type="text" class="list_cls" data-field="list_cls"
                    {{#if ResumenCliente.pb.pb_clase}}
                        value="{{getUnifinListValue 'pb_clase_list' ResumenCliente.pb.pb_clase}}" />
                    {{else}}
                        value="{{ActividadEconomica.label_cls}}" />
                    {{/if}}
                </div>
            </div>
        </tr>
    </table>
</div>