<!--
/**
 * Created by PhpStorm.
 * User: adrian
 * Date: 19/07/19
 * Time: 09:36 AM
 */
-->
      <table class="table table-striped table-bordered table-condensed">
<tr>
    <th>Tipo Teléfono</th>
    <th>Teléfono</th>
    <th>Extensión</th>
    <th>Estatus</th>
    <th>Llamar</th>
</tr>
{{log this}}
{{#each oTelefonos.telefono}}
    <tr>
        <td>{{getUnifinListValue 'tel_tipo_list' tipotelefono}}</td>
        <td>{{telefono}}</td>
        <td>{{extension}}</td>
        <td>{{getUnifinListValue 'tel_estatus_list' estatus}}</td>
        <td align="center"><button class="mcall fa fa-phone" style="background-color: #33800d;color: white;"></button></td>
    </tr>
{{/each}}
</table>
