<!--
/**
 * Created by PhpStorm.
 * User: adrian
 * Date: 19/07/19
 * Time: 09:36 AM
 */
-->
<table class="table table-striped table-condensed span12">
  <thead>
    <tr>
      <th>Tipo Teléfono</th>
      <th>Teléfono</th>
      <th>Extensión</th>
      <th>Estatus</th>
      <th>Llamar</th>
	  <th>WhatsApp</th>
	  <th>Estatus Teléfono</th>
    </tr>
  </thead>
  <tbody>
    {{#each oTelefonos.telefono}}
      <tr>
        <td>
          {{getUnifinListValue 'tel_tipo_list' tipotelefono}}
          {{#if reus}}<br>
            <label class="lbl_REUS_phone" style="color: red;">REUS: Teléfono registrado en REUS</label>
          {{/if}}
        </td>
        <td>{{telefono}}</td>
        <td>{{extension}}</td>
        <td>{{getUnifinListValue 'tel_estatus_list' estatus}}</td>
        {{#if reus}}
          <td align="center"><button class="mcall sicon sicon-phone btn-danger" style="color: black;"></button></td>
        {{else}}
          <td align="center"><button class="mcall sicon sicon-phone btn-success" style="color: white;"></button></td>
        {{/if}}
		<td>{{#if whatsapp_c}}<i class="fa fa-check"></i>{{/if}}</td>
		{{#if estatus1}}
			<td>
			  <button class="fa fa-exclamation btn-warning" style="width: 100%; height: 100%; color: black; pointer-events:none;" disabled> {{estatus_tel}}</button>
			  {{#if c4}}<br>
				<label class="lbl_c4_phone" style="color: red;">Con reporte de engaño telefónico en las bases de c4</label>
			  {{/if}}
			</td>
		{{/if}}
		{{#if estatus2}}
			<td>
			  <button class="fa fa-check btn-success" style="width: 100%; height: 100%; color: black; pointer-events:none;" disabled> {{estatus_tel}}</button>
			  {{#if c4}}<br>
				<label class="lbl_c4_phone" style="color: red;">Con reporte de engaño telefónico en las bases de c4</label>
			  {{/if}}
			</td>
		{{/if}}
		{{#if estatus3}}
			<td>
			  <button class="fa fa-times btn-danger" style="width: 100%; height: 100%; color: black; pointer-events:none;" disabled> {{estatus_tel}}</button>
			  {{#if c4}}<br>
				<label class="lbl_c4_phone" style="color: red;">Con reporte de engaño telefónico en las bases de c4</label>
			  {{/if}}
			</td>
		{{/if}}
	  </tr>
    {{/each}}
  </tbody>
</table>
