{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/06_Customer_Center/10_Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}

<div class="control-group telefonos">
    {{{log this}}}
    <table class="dashlet" style="min-height: 0px; width: 100%;" cellspacing="1" cellpadding="5">
        <tr>
            <td valign="top">
                <div class="record-label" >
                    Tipo de Teléfono
                </div>
                <select class="existingTipotelefono" data-field="tipotelefono" style="font-size: 15px;font-weight: 500;width: 92%" placeholder="Add Tipo">
                    {{{tipotelefono}}}
                </select>
            </td>
            <td valign="top">
                <div class="record-label" >
                    País
                </div>
                <select class="existingPais" data-field="pais" style="font-size: 15px;font-weight: 500;width: 92%" placeholder="Lada">
                    {{{pais}}}
                </select>
            </td>
            <td valign="top">
            </td>
            <td valign="top">
            </td>
		</tr>
        <tr>
            <td valign="top">
                <div class="record-label" >
                    Teléfono
                </div>
                <input type="text" class="existingTelephono" maxlength="10" placeholder="Telefono" value="{{telefono}}" data-field="telefono" style="width: 92%;margin: 0px;">
            </td>
            <td valign="top">
                <div class="record-label" >
                    Extensión
                </div>
                <input type="text" class="existingExtension" maxlength="6" placeholder="Extension" value="{{extension}}" data-field="extension" style="width: 92%;margin: 0px;">
            </td>
            <td valign="top">
                <div class="record-label" >
                    Estatus
                </div>
                <select class="existingEstatus" data-field="estatus" style="font-size: 15px;font-weight: 500;width:92%" placeholder="Add Estatus">
                    {{{estatus}}}
                </select>
            </td>
            <td valign="bottom">
                <div class="btn-toolbar prevent-mousedown">
                    <div class="btn-group" data-toggle="buttons-checkbox">
                        <button type="button" class="{{#if principal}}active {{/if}}is_primary btn btn-edit" data-emailproperty="principal" rel="tooltip" title="{{str "LBL_EMAIL_PRIMARY"}}">
                            <i class="fa fa-star"></i></button>
                    </div>
                    <div class="btn-group prevent-mousedown">
                        <a href="javascript:void(0)" class="btn removeEmail" rel="tooltip" title="{{str "LBL_REMOVE"}}"><i class="fa fa-minus"></i></a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
