{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/06_Customer_Center/10_Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<h4 class="pull-left">Nuevo Teléfono</h4>
<div class="control-group telefonos">
    <table class="dashlet" style="border: solid lightblue;min-height: 0px; width: 100%;" cellspacing="1" cellpadding="5">
        <tr>
            <td valign="top">
                <div class="record-label" >
                    Tipo de Teléfono
                </div>
                <select class="newTipotelefono" data-field="tipotelefono" style="font-size: 15px;font-weight: 500;width: 92%" placeholder="Add Tipo">
                    {{{def.tel_tipo_list_html}}}
                </select>
            </td>
            <td valign="top">
                <div class="record-label" >
                    País
                </div>
                <select class="newPais" data-field="pais" style="font-size: 15px;font-weight: 500;width: 92%" placeholder="Lada">
                    {{{def.pais_list_html}}}
                </select>
            </td>
            <td valign="top">
            </td>
            <td valign="top">
            </td>			
		</tr>
        <tr>
            <td valign="top">
                <div class="record-label" >
                    Teléfono
                </div>
                <input type="text" class="newTelefono" maxlength="13" placeholder="Telefono"{{#if def.tabindex}} tabindex="{{def.tabindex}}"{{/if}} style="width: 92%;margin: 0px;">
            </td>
            <td valign="top">
                <div class="record-label" >
                    Extensión
                </div>
                <input type="text" class="newExtension" maxlength="6" placeholder="Extension" value="{{extension}}" data-field="extension" style="width: 92%;margin: 0px;">
            </td>
            <td valign="top">
                <div class="record-label" >
                    Estatus
                </div>
                <select class="newEstatus" data-field="estatus" style="font-size: 15px;font-weight: 500;width:92%" placeholder="Add Estatus">
                    {{{def.tel_estatus_list_html}}}
                </select>
            </td>
            <td valign="bottom">
                <div class="btn-toolbar prevent-mousedown">
                   <div class="btn-group">
                      <a href="javascript:void(0)" class="btn addTelefono" rel="tooltip" title="Add Telefono"><i class="fa fa-check"></i></a>
                   </div>
                </div>
            </td>
        </tr>
    </table>
</div>
{{#unless hideHelp}}{{#if def.help}}<p class="help-block">{{str def.help module}}</p>{{/if}}{{/unless}}
