<script>
    var $select = $('select.select2');
    $select.select2();
</script>
<!--Teléfonos existentes -->
<table id="TelefonosExist" style="width:100%">
  {{#each oTelefonos.telefono}}
    <tr style="border-bottom: 2px solid;   border-color:#f7f8f9;">
      <td>
        <div>
          <!-- Fila 1-->
          <div class="row-fluid" style="margin-top: 10px;">
            <div class="span4 campo1-tel ">
              <label class="record-label">Tipo de Teléfono</label>
              <select class="row-fluid select2 Tipotelefonot updatet" data-field="campo1tel">
                {{#each ../tel_tipo_list}}
                  <option value="{{@key}}" {{ifSelected @key ../tipotelefono}}>{{this}}</option>
                {{/each}}
              </select>
            </div>
            <div class="span4 campo2-tel">
              <label class="record-label">País</label>
                <select class="row-fluid select2  Paist updatet" data-field="campo2tel">
                  {{#each ../pais_list}}
                    <option value="{{@key}}" {{ifSelected @key ../pais}}>{{this}}</option>
                  {{/each}}
                </select>
            </div>
            <div class="span4 campo3-tel">
              <label class="record-label">Estatus</label>
              <select class="row-fluid select2  Estatust updatet" data-field="campo3tel">
                {{#each ../estatus_list}}
                  <option value="{{@key}}" {{ifSelected @key ../estatus}}>{{this}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <!-- Fila 2-->
          <div class="row-fluid" style="margin-top: 10px;">
            <div class="campo4-tel span4">
              <label class="record-label">Teléfono</label>
              <input type="text" class="Telefonot" placeholder="Teléfono" value="{{telefono}}" data-field="campo4-tel" data-name="Teléfono" maxlength="13"/>
            </div>
            <div class="campo4-tel span4" >
              <label class="record-label">Extensión</label>
              <input type="text" class="Extensiont" placeholder="Extensión" value="{{extension}}" data-field="campo5-tel" data-name="Extensión" maxlength="6"/>
            </div>
            <div class="btn-group" style="margin: 15px 37px">
              <a href="javascript:void(0)" class="btn principal">
                {{#if principal}}
                  <i class="fa fa-star" style="color: #3399FF"></i>
                {{else}}
                  <i class="fa fa-star"></i>
                {{/if}}
              </a>
            </div>
          </div>
        </div>
      </td>
    </tr>
  {{/each}}
</table>

<!-- Nuevo teléfono-->
<div style="  background-color: #2076ce;">
  <h1>
    <font color="#ffffff">&nbsp; Nuevo Teléfono </font>
  </h1>
</div>
<table id="tabletelefonos" style="width:100%">
  <tr>
    <td>
      <div>
        <!-- Fila 1 -->
        <div class="row-fluid">
          <div class="span4 campo1-tel ">
            <label class="record-label">Tipo de Teléfono</label>
            <select class="row-fluid select2  newTipotelefono" data-field="campo1tel">
              {{#each tel_tipo_list}}
                <option value="{{@key}}" {{ifSelected @key "1"}}>{{this}}</option>
              {{/each}}
            </select>
          </div>
          <div class="span4 campo2-tel">
            <label class="record-label">País</label>
            <select class="row-fluid select2  newPais" data-field="campo2tel">
              {{#each pais_list}}
                <option value="{{@key}}" {{ifSelected @key "2"}}>{{this}}</option>
              {{/each}}
            </select>
          </div>
          <div class="span4 campo3-tel">
            <label class="record-label">Estatus</label>
            <select class="row-fluid select2  newEstatus" data-field="campo3tel">
              {{#each estatus_list}}
                <option value="{{@key}}" {{ifSelected @key "Activo"}}>{{this}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <!-- Fila 2 -->
        <div class="row-fluid" style="margin-top: 10px;">
          <div class="campo4-tel span4">
            <label class="record-label">Teléfono</label>
            <input type="text" class="newTelefono" placeholder="Teléfono" data-field="campo4-tel" data-name="Teléfono" maxlength="13"/>
          </div>
          <div class="campo4-tel span4" >
            <label class="record-label">Extensión</label>
            <input type="text" class="newExtension" placeholder="Extensión" data-field="campo5-tel" data-name="Extensión" maxlength="6"/>
          </div>
          <div class="btn-toolbar prevent-mousedown span4">
            <div class="btn-group" style="margin: 6px 0px">
              <a href="javascript:void(0)" class="btn addTelefono" rel="tooltip" title="Añadir Teléfono"><i class="fa fa-check"></i></a>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
</table>
