<style>
    .modal {
        position: fixed; /* Stay in place */
        padding-top: 100px; /* Location of the box */
        padding-bottom: 100px;
        top: 0;
        left:0;
        /* width: 100%; /* Full width */
        /*height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 1;
        border: 1px solid #888;
        width: 98%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }

    .modal-header {
        padding: .5px 0px;
        background-color: #21618C;
        color: white;
        text-align: center;
    }

    .modal-body {
        padding: .5px 0px;
        font-size: 12px;
        text-align: center;
    }

    .modal-footer {
        padding: 2px 16px;
        bottom: auto;
        background-color: #fefefe;
        color: #ffffff;
        font-size: 12px;
        text-align: center;
    }
</style>

<script>
    var $select = $('select.select2');
    $select.select2();
</script>

<div id="myModalDuplicadoLead" class="row-fluid">
    <!-- Modal content -->
  <div class="modal span12 " style="width:100%;height:100%">
      <div class="modal-content" style="margin:auto; width:50%">
          <div class="modal-header">
              <span class="close closeModalDuplicadosLead" tabindex="-1">×</span>
              <h3><b>Posibles coincidencias</b></h3>
          </div>
          <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                          <th scope="col">Nivel match</th>
                          <th scope="col">Módulo</th>
                          <th scope="col">Nombre</th>
                          <th scope="col">RFC</th>
                          <th scope="col">Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each duplicados}}
                        <tr>
                            <td scope="col">{{nivelMatch}}</td>
                            <td scope="col">{{modulo}}</td>
                            <td scope="col">
                                <a href="#{{moduloLink}}/{{id}}" target="_blank">{{nombre}}</a>
                            </td>
                            <td scope="col">{{rfc}}</td>
                            <td scope="col">{{descripcion}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
          </div>
          <div class="modal-footer">
              <button class="span6 btn btn-warning" id="btn-cancel-save">Coincide, No Guardar</button>
              <button class="span6 btn btn-success" id="btn-guardar">{{textoBotonGuardar}}</button>
          </div>
      </div>
  </div>
</div>