<link rel="stylesheet" href="custom/clients/base/fields/account_vista360/account_vista360.css">
<div id="cards-properties">
    <div id="cards-container" class="row-fluid" style="background-color:#E6E7E9">
        <div class="span2"></div>
        <!-- DIV sección General-->
        <div class="span4 card-container">
            <div id="title-general" class="title-container" style="width: 100%;height: 15%;border-top-left-radius: 10px;border-top-right-radius: 10px;">
                <p style="color:#ffffff;text-align: center;padding:7px"><b>GENERAL</b></p>
            </div>
            <div class="information-container">
                <div class="information-general-container">
                    <table class="table table-borderless" style="font-size:10px;color:#021741">
                        <thead>
                            <tr>
                                <td><strong>Tipo</strong></td>
                                <td>{{ResumenCliente.general_cliente.tipo}}</td>
                            </tr>
                        </thead>
                        <tbody>
                            {{#if ResumenCliente.general_cliente.show_if_linea_autorizada}}
                            <tr>
                                <td><strong>Cliente desde</strong></td>
                                <td>{{ResumenCliente.general_cliente.cliente_desde}}</td>
                            </tr>
                            {{/if}}
                            <tr>
                            {{#if ResumenCliente.general_cliente.muestra_gpo_empresarial}}
                            <tr>
                                <td><strong>Grupo Empresarial</strong>&nbsp;&nbsp;<i class="fa fa-eye fa-md gpoEmpresarial"></i></td>
                                <td>{{ResumenCliente.general_cliente.grupo_empresarial}}</td>
                            </tr>
                            {{/if}}
                            {{#if ResumenCliente.general_cliente.show_if_linea_autorizada}}
                            <tr>
                                <td><strong>Productos Contratados</strong></td>
                                <td>{{ResumenCliente.general_cliente.productos_contratados}}</td>
                            </tr>
                            {{/if}}
                            <tr>
                                <td><strong>Actividad Económica</strong></td>
                                <td>{{ResumenCliente.general_cliente.actividad_economica}}</td>
                            </tr>
                            <tr>
                                <td><strong>Ventas Anuales</strong></td>
                                <td>$ {{customFormatNumber ResumenCliente.general_cliente.ventas_anuales}}</td>
                            </tr>
                            <tr>
                                <td><strong>Año de ventas anuales</strong></td>
                                <td>{{ResumenCliente.general_cliente.anio_ventas_anuales}}</td>
                            </tr>
                            <tr>
                                <td><strong>Fecha Constitutiva/Nacimiento</strong></td>
                                <td>{{ResumenCliente.general_cliente.fecha_cons_nac}}</td>
                            </tr>
                            {{#if ResumenCliente.general_cliente.show_if_linea_autorizada}}
                            <tr>
                                <td><strong>Score Crédito</strong></td>
                                <td>{{ResumenCliente.general_cliente.score_credito}}</td>
                            </tr>
                            <tr>
                                <td><strong>Status Cobranza</strong></td>
                                <td>{{ResumenCliente.general_cliente.score_credito}}</td>
                            </tr>
                            {{/if}}
                            {{#if ResumenCliente.general_cliente.muestra_gpo_empresarial}}
                            <tr>
                                <td><strong>Núm de Empleados</strong></td>
                                <td>{{ResumenCliente.general_cliente.num_empleados}}</td>
                            </tr>
                            {{/if}}
                            <tr>
                                <td><strong>Condición del Cliente</strong></td>
                                <td>
                                    {{ResumenCliente.general_cliente.condicion}}<br>
                                    {{ResumenCliente.general_cliente.condicion2}}<br>
                                    {{ResumenCliente.general_cliente.condicion3}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>                                           
        </div>

        <!-- DIV sección Contacto-->
        <div class="span4 card-container">
            <div id="title-general" class="title-container" style="background-color:#17B7ED;width: 100%;height: 15%;border-top-left-radius: 10px;border-top-right-radius: 10px;">
                <p style="color:#ffffff;text-align: center;padding:7px"><b>CONTACTOS</b>
                <button class="btn btnAddContact" type="button" style="border-radius: 20%;"><i class="fa fa-user" style="color: #021741"></i>Agregar Contacto</button>
                </p>
            </div>
            <div class="information-container">
                <div style="text-align: center;">
                    <p style="font-size: 10px;padding:8px">
                        <b>CONTACTO DE NEGOCIOS</b>
                    </p>
                </div>
                <div class="information-contacts-container">
                    <table class="table-borderless" style="font-size:10px;color:#021741;width:100%;margin-bottom:10px">
                        <thead>
                            <tr height="20px">
                                <td><strong style="padding:8px">Nombre</strong></td>
                                <td>{{ResumenCliente.contactos.nombre_negocios}}</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr height="20px">
                                <td><strong style="padding:8px">Puesto</strong></td>
                                <td>{{ResumenCliente.contactos.puesto_negocios}}</td>
                            </tr>
                            <tr>
                            <tr style="background-color:#C0BEC1" height="20px">
                                <td><strong style="padding:8px">Teléfono Principal</strong></td>
                                <td>{{ResumenCliente.contactos.telefono_negocios}}&nbsp;{{#if ResumenCliente.contactos.telefono_negocios}}<i class="fa fa-phone fa-md addCall" data-telefono="{{ResumenCliente.contactos.telefono_negocios}}" data-nombre="{{ResumenCliente.contactos.nombre_negocios}}" data-id-nombre="{{ResumenCliente.contactos.id_nombre_negocios}}" tabindex="-1"></i>&nbsp;<strong>Llamar</strong>{{/if}}</td>
                            </tr>
                            <tr style="background-color:#C0BEC1" height="20px">
                                <td><strong style="padding:8px">Correo Electrónico</strong></td>
                                <td>{{ResumenCliente.contactos.correo_negocios}}&nbsp;&nbsp;{{#if ResumenCliente.contactos.correo_negocios}}<i class="fa fa-envelope fa-md sendEmail" tabindex="-1"></i>{{/if}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="text-align: center;">
                        <button class="btnNuevaReunion" data-id="{{ResumenCliente.contactos.id_nombre_negocios}}" data-name="{{ResumenCliente.contactos.nombre_negocios}}" data-type="negocios" type="button" style="width:50%;font-size:10px;border-radius: 30%;background-color: #021741;color: white;box-shadow: 0 5px 5px #888888;transition: color 0.3s, background-image 0.5s, ease-in-out;">
                                Click aquí para <br>agendar reunión <i class="fa fa-users" style="color: #ffff"></i>
                        </button>
                    </div>
                </div>

                <div style="margin-top:8px">
                    <div style="text-align: center;">
                        <p style="font-size: 10px;padding:8px">
                            <b>CONTACTO SECUNDARIO</b>
                        </p>
                    </div>
                    <div class="information-contacts-container">
                        <table class="table-borderless" style="font-size:10px;color:#021741;width:100%;margin-bottom:10px">
                            <thead>
                                <tr height="20px">
                                    <td><strong style="padding:8px">Nombre</strong></td>
                                    <td>{{ResumenCliente.contactos.nombre_secundario}}</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr height="20px">
                                    <td><strong style="padding:8px">Puesto</strong></td>
                                    <td>{{ResumenCliente.contactos.puesto_secundario}}</td>
                                </tr>
                                <tr>
                                <tr style="background-color:#C0BEC1" height="20px">
                                    <td><strong style="padding:8px">Teléfono Principal</strong></td>
                                    <td>{{ResumenCliente.contactos.telefono_secundario}}&nbsp;{{#if ResumenCliente.contactos.telefono_secundario}}<i class="fa fa-phone fa-md addCall" data-telefono="{{ResumenCliente.contactos.telefono_secundario}}" data-nombre="{{ResumenCliente.contactos.nombre_secundario}}" data-id-nombre="{{ResumenCliente.contactos.id_nombre_secundario}}" tabindex="-1"></i>&nbsp;<strong>Llamar</strong>{{/if}}</td>
                                </tr>
                                <tr style="background-color:#C0BEC1" height="20px">
                                    <td><strong style="padding:8px">Correo Electrónico</strong></td>
                                    <td>{{ResumenCliente.contactos.correo_secundario}}&nbsp;&nbsp;{{#if ResumenCliente.contactos.correo_secundario}}<i class="fa fa-envelope fa-md sendEmail" data-nombre="{{ResumenCliente.contactos.nombre_secundario}}" data-id-nombre="{{ResumenCliente.contactos.id_nombre_secundario}}" tabindex="-1"></i>{{/if}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="text-align: center;">
                            <button class="btnNuevaReunion" data-id="{{ResumenCliente.contactos.id_nombre_secundario}}" data-name="{{ResumenCliente.contactos.nombre_secundario}}" data-type="secundario" type="button" style="width:50%;font-size:10px;border-radius: 30%;background-color: #021741;color: white;box-shadow: 0 5px 5px #888888;transition: color 0.3s, background-image 0.5s, ease-in-out;margin-bottom:8px">
                                    Click aquí para <br>agendar reunión <i class="fa fa-users" style="color: #ffff"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </div>                                           
        </div>
        <div class="span2"></div>
    </div>
</div>
<!-- Sección para modales -->
<div id="modalGpoEmpresarial" class="row-fluid" style="display:none">
  <div class="modal span12" style="width:65%;height:800px">
    <!-- Modal content -->
    <div class="modal-content">
      <!-- Modal header -->
      <div class="modal-header">
        <span class="close closeModalGpoEmpresarial">&times;</span>
        <h2> &nbsp;&nbsp; Grupo Empresarial</h2>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
          <div class="row-fluid" style="color:gray;">
            <div class="span4"> </div>
            <div class="span4"> {{ResumenCliente.general_cliente.situacion_grupo_empresarial}}</div>
            <div class="span4"> </div>
          </div>
          <br>
      </div>
    </div>
  </div>
</div>