<table class="table table-bordered table-striped span12" style="overflow-x: scroll;">
    <thead>
        <tr>
            <td><b>Cuenta</b></td>
            <td><b>Monto</b></td>
			<td><b>Fecha Asignación</b></td>
			<td><b>Etapa</b></td>
            <td><b>Acciones</b></td>
        </tr>
    </thead>
    <tbody>
        {{#each dataCuentasExpAplazado}}
        <tr>
            <td><a href="#Accounts/{{idCuenta}}" target="_blank">{{nombreCuenta}}</a></td>
			<td>{{Monto}}</td>
			<td>{{fecha_asignacion}}</td>
			<td>{{#if oppEtapa}}{{oppEtapa}}{{/if}}</td>
            <td>
                <button class="btn btn btnNoViableExpAplazado" id="btnNoViableExpAplazado" type="submit" title="{{idCuenta}}">Establecer No viable</button>
                <a href="#Accounts/{{idCuenta}}" id="btnCompExpAplazado" style="margin-top: 2px;" target="_blank" class="btn" rel="tooltip">Completar Expediente</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
