<style>
.wrapper{
    width:60%;
    display:block;
    overflow:hidden;
    margin:0 auto;
    padding: 20px 20px;
    background:#fff;
    border-radius:4px;
}
canvas{
  background:#fff;
  height:400px;
}
.wrapper-table{
    width:95%;
    display:block;
    overflow:hidden;
    margin:0 auto;
    padding: 10px;
    background:#fff;
    border-radius:4px;
}

.header1{
  background-color:#424242;
  color:white;
}

.header2{
  background-color: #47BDC6;
  color: white;
}

.headerTotal{
  background-color: #093763;
  color:white;
}
</style>
<div class="wrapper-table">
  <div class="table-responsive">
    <table class="table table-bordered table-striped " style="overflow-x: scroll;">
      <thead>
        <tr>
            <td class="header2" style="text-align: center;" rowspan="2"><b>Etapa / Asesor</b></td>
            <td class="header1" style="text-align: center;"><b>Lead</b></td>
	    	    <td class="header1" style="text-align: center;" colspan="4"><b>Prospecto</b></td>
            <td class="header1" style="text-align: center;" colspan="3"><b>Cliente</b></td>
            <td class="header1" style="text-align: center;"><b>&nbsp;</b></td>
        </tr>
        <tr>
            <td class="header2" style="text-align: center;"><b>Sin Contactar</b></td>
	    	    <td class="header2" style="text-align: center;"><b>Contactado</b></td>
            <td class="header2" style="text-align: center;"><b>Interesado</b></td>
            <td class="header2" style="text-align: center;"><b>Int. Exped</b></td>
	    	    <td class="header2" style="text-align: center;"><b>En Crédito</b></td>
            <td class="header2" style="text-align: center;"><b>Línea sin Operar</b></td>
            <td class="header2" style="text-align: center;"><b>Activo</b></td>
            <td class="header2" style="text-align: center;"><b>Perdido</b></td>
            <td class="headerTotal" style="text-align: center;"><b>Total</b></td>
        </tr>
      </thead>
      <thead>
        <tr class="trTotales">
          <td class="headerTotal" style="text-align: center;"><b>TOTAL</b></td>
            <td class="titulo2">{{TotalSinContactar}}</td>
	    	    <td class="titulo2">{{TotalContactado}}</td>
	    	    <td class="titulo2">{{TotalInteresado}}</td>
            <td class="titulo2">{{TotalIntExp}}</td>
            <td class="titulo2">{{TotalCredito}}</td>
            <td class="titulo2">{{TotalSinOperar}}</td>
            <td class="titulo2">{{TotalActivo}}</td>
            <td class="titulo2">{{TotalPerdido}}</td>
            <td class="titulo2">{{GranTotal}}</td>
        </tr>
      </thead>
      <tbody>
        {{#each registrosUsuarios}}
          <tr>
            <td class="titulo3"><b>{{Usuario}}</b></td>
            {{#each Registros}}
            <td class="titulo3"><b>{{this}}</b></td>
            {{/each}}
            <td class="titulo3"><b>{{TotalAsignados}}</b></td>
          </tr>
        {{/each}}
        <!--
        <tr>
          <td class="titulo3"><b>Usuario  2</b></td>
          <td class="titulo3"><b>VALOR SIN CONTACTAR</b></td>
	        <td class="titulo3"><b>VALOR CONTACTADO</b></td>
	        <td class="titulo3"><b>VALOR INTERESADO</b></td>
          <td class="titulo3"><b>VALOR INT EXPED</b></td>
          <td class="titulo3"><b>VALOR CRÉDITO</b></td>
          <td class="titulo3"><b>VALOR LINEA SIN OPERAR</b></td>
          <td class="titulo3"><b>VALOR ACTIVO</b></td>
          <td class="titulo3"><b>VALOR PERDIDO</b></td>
          <td class="titulo3"><b>VALOR TOTAL</b></td>
        </tr>
        -->
      </tbody>
    </table>
  </div>
</div>
<div class="wrapper">
    <canvas id="myChart"></canvas>
</div>
