{{!--
/*
 * Creado por: Salvador Lopez salvador.lopez@tactos.com.mx
 */
--}}
<script>
    //Agrega estilo select2
    this.$('#DireccionesExistente').find('select.select2').select2({
      width:'100%'
    });
    this.$('#DireccionNueva').find('select.select2').select2({
      width:'100%'
    });

    //Agrega estilo multiselect
    this.$('[data-field="multi_tipo_existing"].multi_tipo_existing').select2({
        width:'100%',
        minimumResultsForSearch:7,
        closeOnSelect: false,
        containerCssClass: 'select2-choices-pills-close'
    });
    this.$('[data-field="multi1_n_existing"].multi1_n_existing').select2({
        width:'100%',
        minimumResultsForSearch:7,
        closeOnSelect: true,
        containerCssClass: 'select2-choices-pills-close'
    });
    this.$('[data-field="multiTipoNew"].multiTipoNew').select2({
        width:'100%',
        minimumResultsForSearch:7,
        closeOnSelect: false,
        containerCssClass: 'select2-choices-pills-close'
    });
    this.$('[data-field="multiIndicadorNew"].multiIndicadorNew').select2({
        width:'100%',
        minimumResultsForSearch:7,
        closeOnSelect: false,
        containerCssClass: 'select2-choices-pills-close'
    });

</script>
<div class="direcciones_list">
    <!-- Existentes -->
    <table style="width: 100%;" cellspacing="1" cellpadding="5" id="DireccionesExistente">
        {{#each oDirecciones.direccion}}
            <tr style="border-bottom: 1px solid;   border-color:#cfcfcf;">
                <td>
                    {{#if sinSepomex}}
                        <div class="row-fluid" id="row-advice-no-match" style="margin-top: 10px;">
                            <p style="color:#155D9C"><i class="sicon sicon-warning-line-lg text-warning"></i><b> &nbsp;Esta dirección requiere revisión manual &nbsp;</b><i class="sicon sicon-warning-line-lg text-warning"></i></p>
                            <p>Hemos identificado que esta dirección no está homologada con sepomex, por favor, apóyanos actualizándola.</p>
                            <p>Valores previos: <b>CP:</b> {{oldCP}}, <b>País:</b> {{oldPais}}, <b>Estado:</b> {{oldEstado}}, <b>Municipio:</b> {{oldMunicipio}}, <b>Ciudad:</b> {{oldCiudad}}, <b>Colonia:</b> {{oldColonia}} </p>
                        </div>
                    {{/if}}
                    <div>
                        <div class="row-fluid" style="margin-top: 10px;">  <!--Fila 1 -->
                            <div class="span4">
                                    <label class="record-label">Tipo</label>
                                    <select class="row-fluid select2 multi_tipo_existing" style="width: 100%" multiple="multiple" size="3" id="multiTipo" data-field="multi_tipo_existing">
                                        {{#each listTipo}}
                                            <option value="{{@key}}" {{ifMSelected @key ../tipoSeleccionados}}>{{this}}</option>
                                        {{/each}}
                                    </select>
                            </div>
                            <div class="span4">
                                    <label class="record-label">Tipo de direcci&oacute;n</label>
                                    <select class="row-fluid select2 multi1_n_existing" style="width: 100%" multiple="multiple" size="3" id="multiIndicador" data-field="multi1_n_existing">
                                        {{#each listIndicador}}
                                        <option value="{{@key}}" {{ifMSelected @key ../indicadorSeleccionados}}>{{this}}</option>
                                        {{/each}}
                                    </select>
                            </div>
                        </div>  <!--Cierre Fila1 -->
                        <div class="row-fluid" style="margin-top: 10px;">  <!--- Fila 2-->
                                        <div class="span4">
                                            <label class="record-label">Código Postal</label>
                                            <input type="text" class="postalInputTempExisting" {{#if bloqueado}} disabled {{/if}} value="{{valCodigoPostal}}">
                                        </div>
                                        <div class="span4">
                                            <label class="record-label">País</label>
                                            <select class="row-fluid paisExisting select2"  {{#if bloqueado}} disabled {{/if}} data-field="paisExisting" placeholder="" style="font-size: 15px;font-weight: 500;">
                                                {{#each listPais}}
                                                    <option value="{{@key}}" {{ifSelected @key ../pais}}>{{this}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                        <div class="span4">
                                            <label class="record-label">Estado</label>
                                            <select class="row-fluid estadoExisting select2" {{#if bloqueado}} disabled {{/if}}data-field="estadoExisting" placeholder="" style="font-size: 15px;font-weight: 500;">
                                                {{#each listEstado}}
                                                    <option value="{{@key}}" {{ifSelected @key ../estado}}>{{this}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                        </div> <!--Cierre Fila 2 -->
                        <div class="row-fluid" style="margin-top: 10px;"> <!-- Fila 3 -->
                                <div class="span4">
                                    <label class="record-label">Municipio</label>
                                    <select class="row-fluid municipioExisting select2" {{#if bloqueado}} disabled {{/if}} data-field="municipioExisting" placeholder="" style="font-size: 15px;font-weight: 500;">
                                        {{#each listMunicipio}}
                                            <option value="{{@key}}" {{ifSelected @key ../municipio}}>{{this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="span4">
                                    <label class="record-label">Ciudad</label>
                                    <select class="row-fluid ciudadExisting select2" {{#if bloqueado}} {{#if editaCiudad}} {{else}}disabled {{/if}} {{/if}} data-field="ciudadExisting" placeholder="" style="font-size: 15px;font-weight: 500;">
                                        {{#each listCiudad}}
                                            <option value="{{@key}}" {{ifSelected @key ../ciudad}}>{{this}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="span4">
                                    <label class="record-label">Colonia</label>
                                    <select class="row-fluid coloniaExisting select2" {{#if bloqueado}} disabled {{/if}} data-field="coloniaExisting" placeholder="" style="font-size: 15px;font-weight: 500;">
                                        {{!-- {{#each listColonia}}
                                            <option value="{{@key}}" {{ifSelected @key ../colonia}}>{{this}}</option>
                                        {{/each}} --}}
                                        {{#each listColonia}}
                                            <option value="{{this.idColonia}}" data-cp="{{this.idCodigoPostal}}" {{ifSelected this.idColonia ../colonia}}>{{this.nameColonia}}</option>
                                        {{/each}}

                                    </select>
                                </div>
                        </div>  <!-- Cierre Fila 3 -->
                        <div class="row-fluid" style="margin-top: 10px;"> <!-- Fila 4 -->
                                <div class="span4">
                                    <label class="record-label">Calle</label>
                                    <input type="text" class="calleExisting" {{#if bloqueado}} disabled {{/if}} placeholder="Calle" value="{{calle}}" data-field="calle"/>
                                </div>
                                <div class="span4">
                                    <label class="record-label">Número Exterior y Número Interior</label>
                                    <input type="text" class="numExtExisting" {{#if bloqueado}} disabled {{/if}} placeholder="numExt" value="{{numext}}" data-field="numext" style="width: 49%;margin: 0px;">
                                    <input type="text" class="numIntExisting" {{#if bloqueado}} disabled {{/if}} placeholder="numInt" value="{{numint}}" data-field="numint" style="width: 49%;margin: 0px;">

                                </div>
                                <div class="span4">
                                    <label class="record-label">&nbsp;</label>
                                        <div class="btn-group" data-toggle="buttons-checkbox">
                                          <a href="javascript:void(0)" class="btn principal" title="Principal">
                                              {{#if principal}}
                                                  <i class="sicon sicon-star-fill" style="color: #3399FF"></i>
                                              {{else}}
                                                  <i class="sicon sicon-star-fill"></i>
                                              {{/if}}
                                          </a>
                                        </div>
                                        <div class="btn-group" data-toggle="buttons-checkbox">
                                          <a href="javascript:void(0)" class="btn inactivo" title="Inactivo">
                                              {{#if inactivo}}
                                                  <i class="sicon sicon-subtract" style="color: #e83e33"></i>
                                              {{else}}
                                                  <i class="sicon sicon-subtract"></i>
                                              {{/if}}
                                          </a>
                                        </div>
                                </div>
                        </div>  <!-- Cierre Fila 4-->
                    </div>
                </td>
            </tr>
        {{/each}}
    </table>
</div>
<!-- Fin direcciones existentes -->
<h4>&nbsp; Nueva Dirección</h4>
<div class="control-group direccion">
    <table style="border: 2px solid lightblue; width: 100%;" cellspacing="1" cellpadding="5" id="DireccionNueva">
        <tr>
            <td>
                <div>
                    <div class="row-fluid" style="margin-top: 10px;">  <!--Fila 1 -->
                       <div class="span4">
                            <label class="record-label">Tipo</label>
                            <select id="multiTipoNew" class="row-fluid select2 multiTipoNew" style="width: 100%" multiple="multiple" size="3" data-field="multiTipoNew">
                                {{#each nuevaDireccion.listTipo}}
                                    <option value="{{@key}}" {{ifMSelected @key ../nuevaDireccion.tipoSeleccionados}}>{{this}}</option>
                                {{/each}}
                            </select>
                       </div>

                        <div class="span4">
                            <label class="record-label">Tipo de direcci&oacute;n</label>
                            <select id="multiIndicadorNew" class="row-fluid select2 multiIndicadorNew" style="width: 100%" multiple="multiple" size="3" data-field="multiIndicadorNew">
                                {{#each nuevaDireccion.listIndicador}}
                                    <option value="{{@key}}" {{ifMSelected @key ../nuevaDireccion.indicadorSeleccionados}}>{{this}}</option>
                                {{/each}}
                            </select>

                        </div>
                    </div> <!-- Cierra fila 1-->
                    <div class="row-fluid" style="margin-top: 10px;">  <!--- Fila 2-->
                        <div class="span4">
                            <label class="record-label">Código Postal</label>
                            <input type="text" id="newPostalInputTemp" class="newPostalInputTemp" value="{{nuevaDireccion.valCodigoPostal}}">
                        </div>
                        <div class="span4">
                            <label class="record-label">País</label>
                            <select class="row-fluid newPais select2" data-field="pais" placeholder="" style="font-size: 15px;font-weight: 500;">
                                {{#each nuevaDireccion.listPais}}
                                    <option value="{{@key}}" {{ifSelected @key ../nuevaDireccion.pais}}>{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="span4">
                            <label class="record-label">Estado</label>
                            <select class="row-fluid newEstado select2" data-field="estado" placeholder="" style="font-size: 15px;font-weight: 500;">
                                {{#each nuevaDireccion.listEstado}}
                                    <option value="{{@key}}" {{ifSelected @key ../nuevaDireccion.estado}}>{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div> <!-- Cierra fila 2-->
                    <div class="row-fluid" style="margin-top: 10px;">  <!--- Fila 3-->
                        <div class="span4">
                            <label class="record-label">Municipio</label>
                            <select class="row-fluid newMunicipio select2" data-field="municipio" placeholder="" style="font-size: 15px;font-weight: 500;">
                                {{#each nuevaDireccion.listMunicipio}}
                                    <option value="{{@key}}" {{ifSelected @key ../nuevaDireccion.municipio}}>{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="span4">
                            <label class="record-label">Ciudad</label>
                            <select class="row-fluid newCiudad select2" data-field="ciudad" placeholder="" style="font-size: 15px;font-weight: 500;">
                                {{#each nuevaDireccion.listCiudad}}
                                    <option value="{{@key}}" {{ifSelected @key ../nuevaDireccion.ciudad}}>{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="span4">
                            <label class="record-label">Colonia</label>
                            <select class="row-fluid newColonia select2" data-field="colonia" placeholder="" style="font-size: 15px;font-weight: 500;">
                                {{#each nuevaDireccion.listColonia}}
                                    {{!-- <option value="{{@key}}" {{ifSelected @key ../nuevaDireccion.colonia}}>{{this}}</option> --}}
                                    <!--<option value="{{@key}}" data-cp="{{idCodigoPostal}}" {{ifSelected @key ../nuevaDireccion.colonia}}>{{this}}</option>-->
                                    <option value="{{this.idColonia}}" data-cp="{{this.idCodigoPostal}}" {{ifSelected this.idColonia ../nuevaDireccion.colonia}}>{{this.nameColonia}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div> <!-- Cierra fila 3-->
                        <div class="row-fluid" style="margin-top: 10px;">  <!--- Fila 4-->
                            <div class="span4">
                                <label class="record-label">Calle</label>
                                <input type="text" class="newCalle" placeholder="Calle" value="{{nuevaDireccion.calle}}" data-field="calle" maxlength = "100"/>
                            </div>
                            <div class="span4">
                                <label class="record-label">Número Exterior y Número Interior</label>
                                <br>
                                <input type="text" class="newNumExt" placeholder="numExt" value="{{nuevaDireccion.numext}}" data-field="numext" style="width: 49%;margin: 0px;" maxlength = "50">
                                <input type="text" class="newNumInt" placeholder="numInt" value="{{nuevaDireccion.numint}}" data-field="numint" style="width: 49%;margin: 0px;" maxlength = "100">
                            </div>
                            <div class="span4" style="margin-top: 20px;">
                                <label class="record-label">&nbsp;</label>
                                <div class="btn-toolbar prevent-mousedown">
                                    <div class="btn-group">
                                        <a href="javascript:void(0)" class="btn addDireccion" rel="tooltip" title="Añadir Dirección"><i class="sicon sicon-check"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- Cierra fila 4-->
                </div>
            </td>
        </tr>
    </table>
</div>
