{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/06_Customer_Center/10_Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<h4>Nueva Dirección</h4>
<div class="control-group direccion">
    <table class="dashlet direcciondashlet" style="border: solid lightblue; width: 100%;" cellspacing="1" cellpadding="5">
        <tr>
            <td valign="top">
                <div class="record-label">
                    Tipo
                </div>
                <select class="newTipodedireccion" data-field="tipodedireccion" placeholder="tipo" style="font-size: 15px;font-weight: 500;width: 90%;margin: 0px;">
                    {{{def.dir_tipo_list_html}}}
                </select>
            </td>
            <td valign="top" style="display:block;">
                <div class="record-label">
                    Tipo de dirección
                </div>
                <select class="newIndicador hide" data-field="indicador" placeholder="indicador" style="font-size: 15px;font-weight: 500;">
                    {{{def.indicador_html}}}
                </select>
                <select id="multi1" class="select2" multiple="multiple" size="3">
                    {{{def.indicador_multi_html}}}
                </select>
            </td>
            <td valign="top">
                <!-- <div class="record-label">
                    Indicador
                </div>
                <select id="multi1" class="select2" multiple="multiple" size="3">
                    {{{def.indicador_multi_html}}}
                </select> -->
            </td>
        </tr>
        <tr class="rowPem">
            <td valign="top">
                <div class="record-label" >
                    Pais
                </div>
                <select class="newPaisDir" data-field="pais" placeholder="pais" style="font-size: 15px;font-weight: 500;width: 90%;margin: 0px;">
                    {{{def.pais_list_html}}}
                </select>
            </td>
            <td valign="top">
                <div class="record-label" >
                    Estado
                </div>
                <select class="newEstado" data-field="estado" placeholder="estado" style="font-size: 15px;font-weight: 500;">
                    {{{def.estado_html}}}
                </select>
            </td>
            <td valign="top">
                <div class="record-label" >
                    Municipio
                </div>
                <select class="newMunicipio" data-field="municipio" placeholder="municipio" style="font-size: 15px;font-weight: 500;">
                    {{{def.municipio_html}}}
                </select>
            </td>
        </tr>
        <tr class="rowCPcc">
            <td valign="top">
                <div class="record-label" >
                    Código Postal
                </div>
                <select class="newPostal" data-field="codigopostal" placeholder="Codigo Postal" style="font-size: 15px;font-weight: 500;">
                    {{{postal_html}}}
                </select>
                <!--<input type="text" class="newPostal" placeholder="Codigo Postal" value="{{postal_html}}" data-field="codigopostal" data-name="codigopostal" style="width: 90%;margin: 0px;">-->
                <input type="hidden" class="newPostalId" placeholder="postal" value="{{postal}}" data-field="postal" style="width: 33%;margin: 0px;">
            </td>
            <td valign="top">
                <div class="record-label" >
                    Ciudad
                </div>
                <select class="newCiudad" data-field="ciudad" placeholder="ciudad" style="font-size: 15px;font-weight: 500;">
                    {{{def.ciudad_html}}}
                </select>
            </td>
            <td valign="top">
                <div class="record-label" >
                    Colonia
                </div>
                <select class="newColonia" data-field="colonia" placeholder="colonia" style="font-size: 15px;font-weight: 500;">
                    {{{def.colonia_html}}}
                </select>
            </td>
        </tr>
        <!-- Nueva fila para rediseño de direcciones-->
        <tr>
            <td valign="top">
                <div class="record-label" >
                    Código Postal
                </div>

                <!--<select id="postalTemp" class="select2"  data-field="codigopostaltemp" placeholder="Codigo Postal Temp" style="font-size: 15px;font-weight: 500;">-->
                <!--  {{{def.postal_htmlTemp}}} -->
                <!--</select>-->
                <input type="text" id="postalInputTemp" class="select2"/>
                <!--<input type="text" class="newPostal" placeholder="Codigo Postal" value="{{postal_html}}" data-field="codigopostal" data-name="codigopostal" style="width: 90%;margin: 0px;">-->
                <input type="hidden" id="postalHidden" class="newPostalId" placeholder="postal" value="{{postal}}" data-field="postal" style="width: 33%;margin: 0px;">
            </td>
            <td valign="top">
                <div class="record-label" >
                    País
                </div>
                <select class="newPaisTemp" data-field="paisTemp" placeholder="paisTemp" style="font-size: 15px;font-weight: 500;">
                    {{{def.pais_list_htmlTemp}}}
                </select>
                <i class="fa fa-spinner fa-spin loadingIcon" style="display: none"></i>
            </td>
            <td valign="top">
                <div class="record-label" >
                    Estado
                </div>
                <select class="newEstadoTemp" data-field="estadoTemp" placeholder="estadoTemp" style="font-size: 15px;font-weight: 500;">
                    {{{def.estado_htmlTemp}}}
                </select>
                <i class="fa fa-spinner fa-spin loadingIconEstado" style="display: none"></i>
            </td>
        </tr>

        <tr>
            <td valign="top">
                <div class="record-label" >
                    Municipio
                </div>
                <select class="newMunicipioTemp" data-field="municipioTemp" placeholder="Municipio" style="font-size: 15px;font-weight: 500;">
                    <!--{{{postal_html}}}-->
                </select>
                <i class="fa fa-spinner fa-spin loadingIconMunicipio" style="display: none"></i>
                <input type="hidden" class="newPostalId" placeholder="postal" value="{{postal}}" data-field="postal" style="width: 33%;margin: 0px;">
            </td>
            <td valign="top">
                <div class="record-label" >
                    Ciudad
                </div>
                <select class="newCiudadTemp" data-field="ciudadTemp" placeholder="Ciudad" style="font-size: 15px;font-weight: 500;">
                    <!--{{{def.ciudad_html}}}-->
                </select>
                <i class="fa fa-spinner fa-spin loadingIconCiudad" style="display: none"></i>
            </td>
            <td valign="top">
                <div class="record-label" >
                    Colonia
                </div>
                <select class="newColoniaTemp" data-field="coloniaTemp" placeholder="Colonia" style="font-size: 15px;font-weight: 500;">
                    <!--{{{def.colonia_html}}}-->
                </select>
                <i class="fa fa-spinner fa-spin loadingIconColonia" style="display: none"></i>
            </td>
        </tr>

        <!--fin de fila rediseño de direcciones -->
        <tr>
            <td valign="top">
                <div class="record-label" >
                    Calle
                </div>
                <input type="text" class="newCalle" placeholder="Calle" value="{{calle}}" data-field="calle" style="width: 95%;margin: 0px;"/>
            </td>
            <td valign="top">
                <div class="record-label" >
                    Número Exterior y Número Interior
                </div>
                <input type="text" class="newNumExt" placeholder="numExt" value="{{numext}}" data-field="numext" style="width: 33%;margin: 0px;">
                <input type="text" class="newNumInt" placeholder="numInt" value="{{numint}}" data-field="numint" style="width: 33%;margin: 0px;">
            </td>
            <td>
                <div class="btn-toolbar prevent-mousedown">
                    <div class="btn-group">
                        <a href="javascript:void(0)" class="btn addDireccion" rel="tooltip" title="Add Direccion"><i class="fa fa-check"></i></a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
{{#unless hideHelp}}{{#if def.help}}<p class="help-block">{{str def.help module}}</p>{{/if}}{{/unless}}
