<link rel="stylesheet" href="custom/clients/base/views/cm_clientes_kanban/styles/styles.css">
<div class="contenedor-grid-clientes">
    <div class="contenedor-conLinea color-white">
        <div class="contenedor-header">
        <div class="header-column">
                <h5>Cliente con Línea sin Operar</h5>
                <img src="custom/include/images/Contacto_icon.png" alt="">
            </div>
            <div class="header-datos">
                <div>
                    <p>{{registrosKanbanClientes.Cliente_Linea_Sin_Operar.Total_Registros}} Registro(s)</p>
                </div>
                <div style="width:100%;display:flex;align-items: center;justify-content: center;">
                    <div class="dropdown-field-clientes" style="width:70%;">
                        <ul data-columna="Cliente_Linea_Sin_Operar">
                            <li class="ordenamiento_categoria" data-columna="Cliente_Linea_Sin_Operar" data-value="MA">Monto Asc</li>
                            <li class="ordenamiento_categoria" data-columna="Cliente_Linea_Sin_Operar" data-value="MD">Monto Desc</li>
                            <li class="ordenamiento_categoria" data-columna="Cliente_Linea_Sin_Operar" data-value="NA">Nombre Asc</li>
                            <li class="ordenamiento_categoria" data-columna="Cliente_Linea_Sin_Operar" data-value="ND">Nombre Desc</li>
                        </ul>
                        <input type="hidden" name="myfield" value="">
                    </div>
                    <div style="background-color:white;">
                        <span><i class="fa fa-solid fa-sort sortTipo" modo-ordenamiento="DESC" data-columna="Cliente_Linea_Sin_Operar"></i></span>
                    </div>    
                </div>
                <div class="cantidad-conLinea contenedor-cantidad">
                    <p><span>$</span>{{registrosKanbanClientes.Cliente_Linea_Sin_Operar.Total_Monto}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="contenedor-activo color-white">
        <div class="contenedor-header">
            <div class="header-column">
                <h5>Cliente Activo</h5>
                <img src="custom/include/images/Contacto_icon.png" alt="">
            </div>
            <div class="header-datos">
               <div>
                    <p>{{registrosKanbanClientes.Cliente_Activo.Total_Registros}} Registro(s)</p>
                </div>
                <div style="width:100%;display:flex;align-items: center;justify-content: center;">
                    <div class="dropdown-field-clientes" style="width:70%;">
                        <ul data-columna="Cliente_Activo">
                            <li class="ordenamiento_categoria" data-columna="Cliente_Activo" data-value="MA">Monto Asc</li>
                            <li class="ordenamiento_categoria" data-columna="Cliente_Activo" data-value="MD">Monto Desc</li>
                            <li class="ordenamiento_categoria" data-columna="Cliente_Activo" data-value="NA">Nombre Asc</li>
                            <li class="ordenamiento_categoria" data-columna="Cliente_Activo" data-value="ND">Nombre Desc</li>
                        </ul>
                        <input type="hidden" name="myfield" value="">
                    </div>
                    <div style="background-color:white;">
                        <span><i class="fa fa-solid fa-sort sortTipo" modo-ordenamiento="DESC" data-columna="Cliente_Activo"></i></span>
                    </div>
                </div>
                <div class="contenedor-cantidad cantidad-activo">
                    <p><span>$</span>{{registrosKanbanClientes.Cliente_Activo.Total_Monto}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="contenedor-perdido color-white">
        <div class="contenedor-header">
            <div class="header-column">
                <h5>Cliente Perdido</h5>
                <img src="custom/include/images/Contacto_icon.png" alt="">
            </div>
            <div class="header-datos">
                <div>
                    <p>{{registrosKanbanClientes.Cliente_Perdido.Total_Registros}} Registro(s)</p>
                </div>
                <div style="width:100%;display:flex;align-items: center;justify-content: center;">
                    <div class="dropdown-field-clientes" style="width:70%;">
                        <ul data-columna="Cliente_Perdido">
                            <li class="ordenamiento_categoria" data-columna="Cliente_Perdido" data-value="MA">Monto Asc</li>
                            <li class="ordenamiento_categoria" data-columna="Cliente_Perdido" data-value="MD">Monto Desc</li>
                            <li class="ordenamiento_categoria" data-columna="Cliente_Perdido" data-value="NA">Nombre Asc</li>
                            <li class="ordenamiento_categoria" data-columna="Cliente_Perdido" data-value="ND">Nombre Desc</li>
                        </ul>
                        <input type="hidden" name="myfield" value="">
                    </div>
                    <div style="background-color:white;">
                        <span><i class="fa fa-solid fa-sort sortTipo" modo-ordenamiento="DESC" data-columna="Cliente_Perdido"></i></span>
                    </div>
                </div>
                <div class="contenedor-cantidad cantidad-perdido">
                    <p><span>$</span>{{registrosKanbanClientes.Cliente_Perdido.Total_Monto}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="conLinea-items border-right">
        {{#each registrosKanbanClientes.Cliente_Linea_Sin_Operar.Registros}}
            <div class="contenedor-item" data-tipo="{{Subtipo_Registro}}">
                <div class="linea">
                    <p style="color:{{Color}}">{{Vigencia_Linea}}</p>
                </div>
                <div class="contenedor-informacion">
                    <div class="contenedor-nombre">
                        <div class="circulo">
                            <p>UA</p>
                        </div>
                        <div class="nombre">
                            <p data-id="{{Id}}" title="{{Nombre}}">
                                <a href="#{{Modulo}}/{{Id}}" target="_blank">{{Nombre}}</a>
                            </p>
                        </div>
                    </div>
                    <i class="fa fa-star" data-id="{{Id}}" data-modulo="{{Modulo}}" data-columna="Cliente_Linea_Sin_Operar" {{#if Favorito}}style="color: #3399FF"{{/if}}></i>
                    <div class="cuadrado">
                        <p>{{Dias_Etapa}}</p>
                    </div>
                </div>
                <div class="contenedor-detalles">
                    <div>
                        <p>&nbsp;</p>
                    </div>
                    <div>
                        <p><span>$</span>{{Monto_Cuenta}}</p>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>

    <div class="activo-items border-right">
        {{#each registrosKanbanClientes.Cliente_Activo.Registros}}
            <div class="contenedor-item" data-tipo="{{Subtipo_Registro}}">
                <div class="anexo">
                    <p>&nbsp;</p>
                </div>
                <div class="contenedor-informacion">
                    <div class="contenedor-nombre">
                        <div class="circulo">
                            <p>UA</p>
                        </div>
                        <div class="nombre">
                            <p data-id="{{Id}}" title="{{Nombre}}">
                                <a href="#{{Modulo}}/{{Id}}" target="_blank">{{Nombre}}</a>
                            </p>
                        </div>
                    </div>
                    <i class="fa fa-star" data-id="{{Id}}" data-modulo="{{Modulo}}" data-columna="Cliente_Activo" {{#if Favorito}}style="color: #3399FF"{{/if}}></i>
                    <div class="cuadrado">
                        <p>{{Dias_Etapa}}</p>
                    </div>
                </div>
                <div class="contenedor-detalles">
                    <div>
                        <p>&nbsp;</p>
                    </div>
                    <div>
                        <p><span>$</span>{{Monto_Cuenta}}</p>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>

    <div class="perdido-items border-right">
        {{#each registrosKanbanClientes.Cliente_Perdido.Registros}}
            <div class="contenedor-item" data-tipo="{{Subtipo_Registro}}">
                <div class="anexo">
                    <p>&nbsp;</p>
                </div>
                <div class="contenedor-informacion">
                    <div class="contenedor-nombre">
                        <div class="circulo">
                            <p>UA</p>
                        </div>
                        <div class="nombre">
                            <p data-id="{{Id}}" title="{{Nombre}}">
                                <a href="#{{Modulo}}/{{Id}}" target="_blank">{{Nombre}}</a>
                            </p>
                        </div>
                    </div>
                    <i class="fa fa-star" data-id="{{Id}}" data-modulo="{{Modulo}}" data-columna="Cliente_Perdido" {{#if Favorito}}style="color: #3399FF"{{/if}}></i>
                    <div class="cuadrado">
                        <p>{{Dias_Etapa}}</p>
                    </div>
                </div>
                <div class="contenedor-detalles">
                    <div>
                        <p>&nbsp;</p>
                    </div>
                    <div>
                        <p><span>$</span>{{Monto_Cuenta}}</p>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>